<div class="panel panel-primary" ng-controller="inspectionFormManageOfFqcCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">
            FQC检验表单管理
        </h6>
    </div>
    <div>
        <div class="panel-body">
            <div bs-tabs bs-active-pane="vmManager.queryActiveTab">
                <div bs-pane data-title="FQC(ERP表单)统计" class="active" data-name="qryERPFormProcessTab">
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-inline" novalidate>
                                <div class="form-group">
                                    <div yl-date-range date-from="vmManager.dateFrom" date-to="vmManager.dateTo"></div>
                                </div>
                                <div class="form-group">
                                    <label>部门:</label>
                                    <button class="btn btn-success " ng-model="vmManager.selectedDepartment"
                                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择部门"
                                            data-bs-options="department.value as department.label for department in vmManager.departments track by $index" data-bs-select>
                                        <span class="caret"></span>
                                    </button>

                                    <button role="button" class="btn btn-primary tipBox" ng-click="vmManager.queryErpOrderInspectionInfo()"><i class="fa fa-search"></i>查询</button>
                                </div>
                                <span yl-operatemsg-board></span>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" type="button" ng-click="vmManager. refreshErp()"><i class="fa fa-reply"></i>返回(Erp)</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="editWindow">
                            <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr class="info">
                                            <th>单号</th>
                                            <th>次数</th>
                                            <th>品名</th>
                                            <th>料号</th>
                                            <th>规格</th>
                                            <th>进货数量</th>
                                            <th>已抽验数</th>
                                            <th>未抽验数</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.erpDataSets track by $index">
                                            <td>{{item.OrderID}}</td>
                                            <td>{{item.InspectionNumber}}</td>
                                            <td>{{item.ProductName}} </td>
                                            <td>{{item.ProductID}}</td>
                                            <td>{{item.ProductStandard}}</td>
                                            <td>{{item.ProduceNumber}}</td>
                                            <td>{{item.HaveInspectionCount}}</td>
                                            <td>{{item.NoInspectionCount}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.getMasterDetailDatas(item)" ng-show="item.InspectionNumber !== 0">明细(主)</button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-show="item.InspectionNumber === 0">未检验</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div ng-if="vmManager.erpDataSource.length>0"
                                     yl-pagination data-dataset="vmManager.erpDataSets"
                                     data-datasource="vmManager.erpDataSource">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div pageslide ps-open="vmManager.isShowMasterDetailFrom" ps-side="right" ps-size="{{vmManager.editWindowWidth}}" ps-speed="0.25" ps-container='editWindow'>
                        <div class="well" style="max-height:520px;overflow-y:scroll;">
                            <div class="page-header text-center">
                                <h1>光圣科技(宁波)有限公司</h1>
                                <h2>进料检验表</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>
                                        <label>品名:</label>
                                        {{vmManager.selectMasterItem.ProductName}}
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>规格:</label>
                                        {{vmManager.selectMasterItem.ProductStandard}}
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>图号:</label>
                                        {{vmManager.selectMasterItem.ProductDrawID}}
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>计划生产日期:</label>
                                        {{vmManager.selectMasterItem.ProduceInDate}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>
                                        <label>供应商:</label>
                                        {{vmManager.selectMasterItem.ProductSupplier}}
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>已抽数量:</label>
                                        {{vmManager.selectMasterItem.HaveInspectionCount}}
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>未抽数量:</label>
                                        {{vmManager.selectMasterItem.NoInspectionCount}}
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>物料总数量:</label>
                                        {{vmManager.selectMasterItem.ProduceNumber}}
                                    </span>
                                </div>

                            </div>
                            <div class="col-md-12" id="editWindow">
                                <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr class="info">
                                                <th>单号</th>
                                                <th>序号</th>
                                                <th>部门</th>
                                                <th>已检项目</th>
                                                <th>抽检数量</th>
                                                <th>检测方式</th>
                                                <th>检测结果</th>
                                                <th>检测日期</th>
                                                <th>检测状态</th>
                                                <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in vmManager.dataSets track by $index">
                                                <td>{{item.OrderId}}</td>
                                                <td>{{item.OrderIdNumber}}</td>
                                                <td>{{item.ProductDepartment}}</td>
                                                <td>{{item.InspectionItems}}</td>
                                                <td>{{item.InspectionCount}}</td>
                                                <td>{{item.InspectionMode}}</td>
                                                <td>{{item.InspectionResult}}</td>
                                                <td>{{item.OpDate}}</td>
                                                <td>{{item.InspectionStatus}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.getDetailDatas(item)" ng-show="item.InspectionStatus !== '未完成'">明细</button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="vmManager.showCheckModal(item)" ng-show="item.InspectionStatus === '待审核'||item.InspectionResult==='已完成'">审核</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div ng-if="vmManager.dataSource.length>0"
                                         yl-pagination data-dataset="vmManager.dataSets"
                                         data-datasource="vmManager.dataSource">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div bs-pane data-title="FQC表单统计" class="active" data-name="qryFqcFormProcessTab">
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-inline" novalidate>
                                <div class="form-group">
                                    <div yl-date-range date-from="vmManager.fqcDateFrom" date-to="vmManager.fqcDateTo"></div>
                                </div>
                                <div class="form-group">
                                    <label>单据状态:</label>
                                    <button class="btn btn-success " ng-model="vmManager.formStatus"
                                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="未完成"
                                            data-bs-options="item.value as item.label for item in vmManager.formStatuses track by $index" data-bs-select>
                                        <span class="caret"></span>
                                    </button>
                                    <label>部门:</label>
                                    <button class="btn btn-success " ng-model="vmManager.selectedFqcDepartment"
                                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择部门"
                                            data-bs-options="item.value as item.label for item in vmManager.fqcDepartments track by $index" data-bs-select>
                                        <span class="caret"></span>
                                    </button>
                                    <button role="button" class="btn btn-primary tipBox" ng-click="vmManager.queryFqcMasterInspectionInfo()"><i class="fa fa-search"></i>查询</button>
                                </div>
                                <span yl-operatemsg-board></span>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-warning" type="button" ng-click="vmManager.showCheckModal()" ng-show="vmManager.currentItem.InspectionStatus==='未审核'"><i class="fa  fa-eyedropper"></i>审核</button>
                            <a class="btn btn-success" type="button" href="@Url.Action("ExportFqcDateToExcel", "QuaInspectionManage")"><i class="fa fa-file-text"></i>导出</a>
                            <button class="btn btn-default" type="button" ng-click="vmManager.refresh()"><i class="fa fa-reply"></i>返回</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="masterEditWindow">
                            <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr class="info">
                                            <th>单号</th>
                                            <th>序号</th>
                                            <th>品名</th>
                                            <th>规格</th>
                                            <th>图号</th>
                                            <th>抽测数量</th>
                                            <th>检测状态</th>
                                            <th>进货日期</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.fqcDataSets track by $index">
                                            <td>{{item.OrderId}}</td>
                                            <td>{{item.OrderIdNumber}}</td>
                                            <td style="white-space:nowrap;">
                                                <span title="料号:{{item.MaterialId}}">{{item.MaterialName}}</span>
                                            </td>
                                            <td>
                                                <span title="检测项目:{{item.InspectionItems}}">{{item.MaterialSpec}}</span>
                                            </td>
                                            <td>{{item.MaterialDrawId}}</td>
                                            <td>{{item.InspectionCount}}</td>
                                            <td>
                                                <span title="检测方式:{{item.InspectionMode}}，检测结果:{{item.InspctionResult}},检测日期:{{item.MaterialInDate}}">
                                                    {{item.InspectionStatus}}
                                                </span>
                                            </td>
                                            <td>{{item.MaterialInDate}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.getDetailDatas(item)" ng-show="item.InspectionStatus !== '未完成'">明细</button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="vmManager.showCheckModal(item)" ng-show="item.InspectionStatus === '待审核'||item.InspectionResult==='已完成'">审核</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-if="vmManager.fqcDataSource.length>0"
                                     yl-pagination data-dataset="vmManager.fqcDataSets"
                                     data-datasource="vmManager.fqcDataSource">
                                </div>
                            </div>
                        </div>
                        <div pageslide ps-open="vmManager.isShowDetailWindow" ps-side="right" ps-size="{{vmManager.editWindowWidth}}" ps-speed="0.25" ps-container='masterEditWindow' ps-click-outside="false">
                            <div class="well" style="max-height:520px;overflow-y:scroll;">
                                <div class="page-header text-center">
                                    <h1>光圣科技(宁波)有限公司</h1>
                                    <h2>进料检验记录表</h2>
                                    <div class="col-md-2 pull-right">
                                        <button class="btn btn-default" type="button" ng-click="vmManager.refresh()"><i class="fa fa-reply"></i>返回</button>
                                        <button type="button" class="btn btn-warning " ng-click="vmManager.showCheckModal(vmManager.currentItem)" ng-show="vmManager.currentItem.InspectionStatus === '待审核'||vmManager.currentItem.InspectionResult==='已完成'">审核</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>
                                            <label>品名:</label>
                                            {{vmManager.currentItem.MaterialName}}
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>
                                            <label>规格:</label>
                                            {{vmManager.currentItem.MaterialSpec}}
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>
                                            <label>抽测数量:</label>
                                            {{vmManager.currentItem.InspectionCount}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>
                                            <label>供应商:</label>
                                            {{vmManager.currentItem.MaterialSupplier}}
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>
                                            <label>图号/检验规范:</label>
                                            {{vmManager.currentItem.MaterialDrawId}}
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>
                                            <label>检验方式:</label>
                                            {{vmManager.currentItem.InspectionMode}}
                                        </span>
                                    </div>

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-responsive table-striped table-hover table-bordered">
                                        <thead>
                                            <tr class="info">
                                                <th>检验项目</th>
                                                <th>检验方式</th>
                                                <th>抽样方案</th>
                                                <th>检验方法</th>
                                                <th>结果</th>
                                                <th>记录值</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in vmManager.detailDatas track by $index">
                                                <td>{{item.InspectionItem}}</td>
                                                <td>{{item.InspectionMode}}</td>
                                                <td>{{item.NeedPutInDataCount}}/{{item.InspectionRefuseCount}}/{{item.InspectionAcceptCount}}</td>

                                                <td>{{item.InspectionMethod}}</td>
                                                <td>{{item.InspectionItemResult}}</td>
                                                <td>
                                                    <table class="table table-bordered table-condensed">
                                                        <tbody>
                                                            <tr ng-repeat="row in item.dataList">
                                                                <td ng-repeat="col in row.cols" style="text-align:center">
                                                                    <span>
                                                                        {{col.indata}}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="item.Memo!==null">
                                                                <td>
                                                                    <label>描述:</label>{{item.Memo}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-5">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>