<div class="panel panel-primary" ng-controller="iqcInspectionDataGather">
    <div class="panel-heading">
        <h6 class="panel-title"> 进料检验数据采集</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <input type="text" ng-model="vm.materialId" placeholder="请输入品号" />
            <button class="btn btn-success btn-sm" type="button">查询</button>
        </div>
        <div class="row">
            <div class="well">
                <div class="pull-left" style="width:10%;background:yellow;">
                    
                </div>
                <div class="pull-left" style="width:10%;background:red;">2</div>
                <div class="pull-right" style="width:80%;background:green;">3</div>
            </div>
        </div>
    </div>


    <div class="panel-footer">

    </div>
</div>