<div class="panel panel-primary" ng-controller="iqcDataGatheringCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"> 进料检验数据采集</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入工单号查询" ng-model="vmManager.orderId">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" ng-click="vmManager.getMaterialDatas()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="h-split"></div>

        <div class="row">
            <div class="col-md-4">
                <p>
                    <label>工单号:</label>
                    {{vmManager.currentMaterialIdItem.OrderID}}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <label>品名:</label>
                    {{vmManager.currentMaterialIdItem.ProductName}}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <label>规格:</label>
                    {{vmManager.currentMaterialIdItem.ProductStandard}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <label>供应商:</label>
                    {{vmManager.currentMaterialIdItem.ProductSupplier}}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <label>图号:</label>
                    {{vmManager.currentMaterialIdItem.ProductDrawID}}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <label>数量:</label>
                    {{vmManager.currentMaterialIdItem.ProduceNumber}}
                </p>
            </div>
        </div>
        <div class="h-split"></div>
        <div class="row clearfix" >
               <div class="col-md-2 pull-left">
                   <div class="bs-callout bs-callout-info">
                       <p>
                           <i class="fa fa-list-ul">品号列表</i>
                       </p>
                   </div>
                   <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                       <div class="panel panel-default" ng-repeat="item in vmManager.materialIdDatas">
                           <div class="panel-heading" role="tab" ng-click="vmManager.selectMaterialIdItem(item)" >
                               <a bs-collapse-toggle style="cursor:pointer;color:#000">
                                   {{item.ProductID}}
                               </a>
                           </div>
                           <div class="panel-collapse list-group " role="tabpanel" bs-collapse-target> 
                               <a class="panel-body list-group-item" ng-repeat="item in vmManager.inspectionItemDatas"
                                  ng-class="{'active':item===vmManager.currentInspectionItem}"
                                  ng-click="vmManager.selectInspectionItem(item)">
                                   {{item.InspectionItem}}
                               </a>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="col-md-10 pull-right  bs-callout bs-callout-info well" style="min-height:500px;">
                    <div class="row">
                        <div class="col-md-4">
                            <span>
                                <label>检验项目:</label>
                                {{vmManager.currentInspectionItem.IqcInspectionItemConfig.InspectionItem}}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <label>规格值:</label>
                                {{vmManager.currentInspectionItem.IqcInspectionItemConfig.SizeMemo}}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <label>检验水平:</label>
                                {{vmManager.currentInspectionItem.IqcInspectionItemConfig.InspectionLevel}}{{vmManager.currentInspectionItem.IqcInspectionItemConfig.InspectionAQL}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span>
                                <label>抽样方案:</label>
                                {{vmManager.currentInspectionItem.InspectionCount}}{{vmManager.currentInspectionItem.AcceptCount}}{{vmManager.currentInspectionItem.RefuseCount}}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <label>检验方法:</label>
                                {{vmManager.currentInspectionItem.IqcInspectionItemConfig.InspectionMethod}}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <label>量具编号:</label>
                                {{vmManager.currentInspectionItem.IqcInspectionItemConfig.EquipmentID}}
                            </span>
                        </div>
                    </div>
                   <div class="h-split"></div>


               </div>
           </div>
    </div>


    <div class="panel-footer">

    </div>
</div>