<div class="panel panel-primary" ng-controller="iqcInspectionItemCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"> Qqc检验项目配置</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            @*品号查询*@
            <div>
                <labnel>品号</labnel>
                <input type="text" placeholder="按品号查询" ng-model="vm.MaterialId"/>

                <button class="btn-sm btn-success" ng-click="vmManager.getMaterialDatas()">查询</button>
            </div>
            <div class="h-split"></div>
            @*ERP信息*@
            <div class="row" style="font-weight:900;">
               <div class="col-md-2">
                   <p>
                       品名:<span title="adsadasdsad">阿斯</span>
                   </p>
               </div>
                <div class="col-md-2">
                    <p>
                        供应商:<span>阿斯顿</span>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        检验方式:<span>阿斯顿</span>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        规格:<span>阿斯顿</span>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        图号:<span>阿斯顿</span>
                    </p>
                </div>
            </div>

            <div style="background:#eee;overflow:hidden;">
                <div class="pull-left" style="width:45%;padding:10px;">
                    <form role="form" name="iqcInspectionItemForm" class="form-horizontal" novalidate onkeypress="if (event.keyCode == 13) return false;">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">品号</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required name="materialId" ng-model="vm.MaterialId" value="{{vm.MaterialId}}" readonly/>
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.materialId.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">品号不能为空</small>
                                    </div>
                                </div>
                               
                                <label class="col-md-2 control-label">检验项目</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required name="inspectionterm" ng-model="vm.Inspectionterm" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.inspectionterm.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">检验项目不能为空</small>
                                    </div>
                                </div>


                                
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">规格上限</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" required name="sizeUSL" ng-model="vm.SizeUSL" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.sizeUSL.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">规格上限不能为空</small>
                                    </div>
                                </div>

                                <label class="col-md-2 control-label">规格下限</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" required name="sizeLSL" ng-model="vm.SizeLSL" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.sizeLSL.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">规格下限不能为空</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">检验水平</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required name="inspectionLevel" ng-model="vm.InspectionLevel" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.inspectionLevel.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">检验水平不能为空</small>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">AQL</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required name="inspectionAQL" ng-model="vm.InspectionAQL" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.inspectionAQL.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">规格值不能为空</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">规格说明</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required name="sizeMemo" ng-model="vm.SizeMemo" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.sizeMemo.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">规格说明不能为空</small>
                                    </div>
                                </div>

                                

                                <label class="col-md-2 control-label">量具编号</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" required name="equipmentID" ng-model="vm.EquipmentID" />
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.equipmentID.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">量具编号不能为空</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">检验方法</label>
                                <div class="col-md-10">
                                    <textarea  required name="inspectionMethod" ng-model="vm.InspectionMethod" class="form-control" rows="2" style="resize:none;"></textarea>
                                    <div class="error-messages" ng-messages="iqcInspectionItemForm.inspectionMethod.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">检验方法不能为空</small>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-primary" ng-click="operate.save(iqcInspectionItemForm.$valid)"><i class="fa fa-save"></i>保存</button>
                                <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                <span yl-operatemsg-board></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-left" style="width:55%;border-left:4px solid #046278;">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th>品号</th>
                                    <th>检验项目</th>
                                    <th>规格说明</th>
                                    <th>检验水平</th>
                                    <th>AQL</th>
                                    <th>检验方法</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.dataSets track by $index" cg-busy="{promise:searchPromise}" ng-click="vmManager.selectQualityItem(item)">
                                    <td>{{item.MaterialId}}</td>
                                    <td>{{item.Inspectionterm}}</td>
                                    <td>{{item.SizeMemo}}</td>
                                    <td>{{item.InspectionLevel}}</td>
                                    <td>{{item.InspectionAQL}}</td>
                                    <td>{{item.InspectionMethod}}</td>
                                    <td style="cursor:pointer;">
                                        <button class="btn btn-xs btn-danger"  ng-click="vmManager.deleteItem(item)" title="删除">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="panel-footer">

    </div>
</div>