<div class="panel panel-primary" ng-controller="iqcInspectionItemCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"> Qqc检验项目配置</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            @*品号查询*@
            <div>
                <labnel>品号</labnel>
                <input type="text" placeholder="按品号查询" />
                <button class="btn-sm btn-success">导出</button>
            </div>
            <div class="h-split"></div>
            @*ERP信息*@
            <div class="table-responsive">
                <table class="table table-hover">
                   <thead>
                       <tr>
                           <th>品名</th>
                           <th>规格</th>
                           <th>数量</th>
                           <th>测ROHS</th>
                           <th>膜厚</th>
                           <th>供应商</th>
                           <th>图号</th>
                           <th>检验方式</th>
                           <th>检验时间</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>啊实打实的</td><td>啊实打实的</td><td>啊实打实的</td><td>啊实打实的</td>
                           <td>啊实打实的</td><td>啊实打实的</td><td>啊实打实的</td><td>啊实打实的</td><td>啊实打实的</td>
                       </tr>
                   </tbody>
                </table>
            </div>
            <div class="h-split"></div>
            <div class="pull-left" style="width:45%;background:#eee;padding:10px;">
                <form role="form" name="iqcInspectionItemForm" class="form-horizontal" novalidate onkeypress="if (event.keyCode == 13) return false;">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">检验项目</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required name="produceNumber" />
                                <div class="error-messages" ng-messages="iqcInspectionItemForm.produceNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">检验项目不能为空</small>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">规格值</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required name="produceNumber" />
                                <div class="error-messages" ng-messages="iqcInspectionItemForm.produceNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">规格值不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">检验项目</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required name="produceNumber" />
                                <div class="error-messages" ng-messages="iqcInspectionItemForm.produceNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">检验项目不能为空</small>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">规格值</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required name="produceNumber" />
                                <div class="error-messages" ng-messages="iqcInspectionItemForm.produceNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">规格值不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">检验项目</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required name="produceNumber" />
                                <div class="error-messages" ng-messages="iqcInspectionItemForm.produceNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">检验项目不能为空</small>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">规格值</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required name="produceNumber" />
                                <div class="error-messages" ng-messages="iqcInspectionItemForm.produceNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">规格值不能为空</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="pull-left" style="width:55%;">
                
            </div>

        </div>
    </div>


    <div class="panel-footer">

    </div>
</div>