<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>eicmain</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eicmain</MSDeployServiceURL>
    <DeployIisAppPath>eicPlatform</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>admineic</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OpticalMesDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=MS5;Initial Catalog=LightMasterMes;Persist Security Info=True;User ID=sa;Password=lm2011" Name="Data Source=MS5;Initial Catalog=LightMasterMes;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MS5;Initial Catalog=LightMasterMes;Persist Security Info=True;User ID=sa;Password=lm2011" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OpticalMesDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MS5;Initial Catalog=LightMasterMes;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuthenDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=MS5;Initial Catalog=LmAuthenticatCenter;Persist Security Info=True;User ID=sa;Password=lm2011" Name="Data Source=MS5;Initial Catalog=LmAuthenticatCenter;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lm.Eic.Framework.Authenticate.Repository.Mapping.AuthenDbContext, Lm.Eic.Framework.Authenticate" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LmProMasterDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011" Name="Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LmProMasterDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Lm.Eic.Framework.ProductMaster.DbAccess.Mapping.LmProMasterDbContext" Order="6" Enabled="False">
          <Destination Path="Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lm.Eic.Framework.ProductMaster.DbAccess.Mapping.LmProMasterDbContext, Lm.Eic.Framework.ProductMaster" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HrmDbContext" Order="7" Enabled="False">
          <Destination Path="Data Source=MS5;Initial Catalog=LightMasterHRM;Persist Security Info=True;User ID=sa;Password=lm2011" Name="Data Source=MS5;Initial Catalog=LightMasterHRM;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MS5;Initial Catalog=LightMasterHRM;Persist Security Info=True;User ID=sa;Password=lm2011" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HrmDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MS5;Initial Catalog=LightMasterHRM;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BpmDbContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MS5;Initial Catalog=LmBpm;Persist Security Info=True;User ID=sa;Password=lm2011" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BpmDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MS5;Initial Catalog=LmBpm;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QuantityDbContext" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MS5;Initial Catalog=LightMasterSpc;Persist Security Info=True;User ID=sa;Password=lm2011" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuantityDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MS5;Initial Catalog=LightMasterSpc;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthenDbContext-Web.config Connection String">
      <ParameterValue>Data Source=MS5;Initial Catalog=LmAuthenticatCenter;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BpmDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HrmDbContext-Web.config Connection String">
      <ParameterValue>Data Source=MS5;Initial Catalog=LightMasterHRM;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Lm.Eic.Framework.ProductMaster.DbAccess.Mapping.LmProMasterDbContext-Web.config Connection String">
      <ParameterValue>Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LmProMasterDbContext-Web.config Connection String">
      <ParameterValue>Data Source=MS5;Initial Catalog=LmProductMaster;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OpticalMesDbContext-Web.config Connection String">
      <ParameterValue>Data Source=MS5;Initial Catalog=LightMasterMes;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuantityDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Lm.Eic.Framework.ProductMaster.DbAccess.Mapping.LmProMasterDbContext" />
  </ItemGroup>
</Project>