
<div class="panel panel-primary container" ng-controller="buildQualifiedSupplierInventoryCtrl">
    <div class="row clearfix">
        <div class="col-md-11 column">
            <div class="h-split">
                <div class="nav">
                    <form class="navbar-form navbar-right" role="search">
                        <label>请选择年份:</label>
                        <input type="date" class="form-control" />
                        <button type="button" class="btn btn-default glyphicon glyphicon-search">载入</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
