
<div class="panel panel-primary" ng-controller="buildQualifiedSupplierInventoryCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">生成合格供应商清单</h6>
    </div>
    <div class="panel-body">
        <form class="form-inline" role="search">
            <input type="text" class="form-control" ng-model="vmManager.searchYear" placeholder="请输入四位年份 如：2016" />
            <button type="button" class="btn btn-default" ng-click="vmManager.getPurQualifiedSupplier()"><i class="fa fa-search"></i> 载入</button>
            <a class="btn btn-success"><i class="fa fa-search"></i> 导出Excel</a>
        </form>
        <div class="h-split"></div>
        <div class="well" cg-busy="{promise:searchPromise}">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <th>供应商信息</th>
                            <th>地址</th>
                            <th>人员</th>
                            <th>采购时间</th>
                            <th>采购类类型</th>
                            <th>备注</th>
                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vmManager.datasets track by $index">
                            <td>
                                <span class="label label-default" title="供应商编号">{{item.SupplierId}}</span>
                                <span class="label label-primary" title="供应商简称">{{item.SupplierShortName}}</span>
                                <span class="label label-warning" title="供应商属性" ng-show="item.SupplierProperty">|{{item.SupplierProperty}}</span>
                                <div class="h-split"></div>
                                <span title="供应商全称">{{item.SupplierName}}</span><br />
                                <div class="h-split"></div>
                                <span title="供应商邮箱" ng-show="item.SupplierEmail">{{item.SupplierEmail}}</span><br />
                                <div class="h-split"></div>
                                <span title="供应商电话">{{item.SupplierTel}}</span>|
                                <span title="供应商传真">{{item.SupplierFaxNo}}</span>
                            </td>

                            <td>
                                <span title="供应商地址">{{item.SupplierAddress}}</span><br />
                                <div class="h-split"></div>
                                <span title="交货地址">{{item.BillAddress}}</span>
                            </td>

                            <td>
                                <span title="供应商联系人">{{item.SupplierUser}}</span><br />
                                <div class="h-split"></div>
                                <span title="采购人员">{{item.PurchaseUser}}</span>
                            </td>

                            <td>
                                <span title="上次采购时间">{{item.UpperPurchaseDate}}</span><br />
                                <div class="h-split"></div>
                                <span title="最近采购时间">{{item.LastPurchaseDate}}</span>
                            </td>
                            <td>{{item.PurchaseType}}</td>
                            <td>{{item.Remark}}</td>
                            <td>
                                <button class="btn btn-xs btn-primary" ng-click="operate.editItem(item)" title="编辑">
                                    编辑
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div yl-pagination
                     data-datasource="vmManager.datasource"
                     data-dataset="vmManager.datasets">
                </div>
            </div>
        </div>
    </div>
</div>
