
<div class="panel panel-primary container" ng-controller="buildQualifiedSupplierInventoryCtrl">
    <div class="row clearfix">
        <div class="col-md-11 column">
            <div class="h-split">
                <div class="nav">
                    <form class="navbar-form navbar-right" role="search">
                        <input type="text" class="form-control" placeholder="请输入四位年份 如：2016"/>
                        <button type="button" class="btn btn-default glyphicon glyphicon-search">载入</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
