
<div class="panel panel-primary" ng-controller="buildQualifiedSupplierInventoryCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">供应商证书管理</h6>
    </div>
    <div class="panel-body" id="editWindow">
        <div class="row">
            <div class="col-md-8">
                <form class="form-inline" role="search">
                    <span yl-month-button data-title-visible="true" data-yearmonth="vmManager.searchYear"></span>
                    <button type="button" class="btn btn-default" ng-click="vmManager.getPurQualifiedSupplier()"><i class="fa fa-search"></i> 载入</button>
                    <a class="btn btn-success" href="@Url.Action("CreateQualifiedSupplierInfoList", "PurSupplierManage")"><i class="fa fa-file-excel-o"></i> 导出Excel</a>
                </form>
            </div>
            <div class="col-md-4">
                <form class="form-inline pull-right" role="search">
                    <input type="text" class="form-control" ng-model="vmManager.filterSupplierId" placeholder="输入供应商编号进行过滤" />
                    <button type="button" class="btn btn-default" ng-click="vmManager.filterBySupplierId()"><i class="fa fa-search"></i> </button>
                </form>
            </div>
        </div>
        <div class="h-split"></div>
        <div class="well" cg-busy="{promise:searchPromise}">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <th>供应商信息</th>
                            <th>地址</th>
                            <th>联系人员</th>
                            <th>采购时间</th>
                            <th>供应商类型</th>
                            <th>备注</th>
                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vmManager.datasets track by $index">
                            <td>
                                <span class="label label-default" title="供应商编号">{{item.SupplierId}}</span>
                                <span class="label label-primary" title="供应商简称">{{item.SupplierShortName}}</span>
                                <span class="label label-primary" title="采购类别">{{item.PurchaseType}}</span>

                                <div class="h-split"></div>
                                <span title="供应商全称">{{item.SupplierName}}</span><br />
                                <div class="h-split"></div>
                                <span title="供应商邮箱" ng-show="item.SupplierEmail">{{item.SupplierEmail}}</span><br />
                                <div class="h-split"></div>
                                <span title="供应商电话">{{item.SupplierTel}}</span>|
                                <span title="供应商传真">{{item.SupplierFaxNo}}</span>
                            </td>

                            <td>
                                <span title="供应商地址">{{item.SupplierAddress}}</span><br />
                                <div class="h-split"></div>
                                <span title="交货地址">{{item.BillAddress}}</span>
                            </td>

                            <td>
                                <span title="供应商联系人">{{item.SupplierUser}}</span><br />
                                <div class="h-split"></div>
                                <span title="常用电话">{{item.SupplierTel}}</span>
                            </td>

                            <td>
                                <span title="上次采购时间">{{item.UpperPurchaseDate}}</span><br />
                                <div class="h-split"></div>
                                <span title="最近采购时间">{{item.LastPurchaseDate}}</span>
                            </td>
                            <td>
                                <div ng-if="!item.purchaseTypeEditting">
                                    <span title="采购类别">{{item.PurchaseType}}</span><br />
                                    <div class="h-split" ng-if="item.SupplierProperty"></div>
                                    <span title="供应商类别">{{item.SupplierProperty}}</span>
                                </div>
                                <div ng-if="item.purchaseTypeEditting">
                                    <input type="text" placeholder="输入采购类别" ng-model="item.PurchaseType" /><br />
                                    <div class="h-split"></div>
                                    <input type="text" placeholder="输入供应商类别" ng-model="item.SupplierProperty" /><br />
                                    <div class="h-split"></div>
                                    <span class="btn btn-xs btn-success" ng-click="vmManager.saveEditPurchaseTypeInfo(item)">保存</span>|
                                    <span class="btn btn-xs btn-default" ng-click="vmManager.cancelEditPurchaseTypeInfo(item)">取消</span>
                                </div>
                            </td>
                            <td>{{item.Remark}}</td>
                            <td>
                                <span class="btn btn-xs btn-warning" title="编辑供应商类别，采购类别信息" ng-click="vmManager.editPurchaseTypeInfo(item)">编辑类别</span><br />
                                <div class="h-split"></div>
                                <button class="btn btn-xs btn-primary" ng-click="vmManager.goToEdit(item)" title="上传，修改证书文件">
                                    管理证书
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div yl-pagination
                     data-datasource="vmManager.datasource"
                     data-dataset="vmManager.datasets">
                </div>
            </div>
        </div>
    </div>
    <div pageslide ps-open="vmManager.editWindowShow" ps-side="right" ps-size="100%" ps-speed="0.25" ps-container='editWindow'>
        <div style="padding:10px;overflow-y:scroll;min-height:680px;max-height:880px;">
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr class="info"><td>证书列表</td></tr>
                        </thead>
                        <tbody cg-busy="{promise:searchCertificatePromise}">
                            <tr ng-repeat="item in editManager.certificateDatas track by $index">
                                <td>
                                    {{item.EligibleCertificate}}
                                    <span class="info"><i ng-class="{{editManager.getFileExtentionIcon(item)}}"></i></span>
                                    <span class="btn btn-danger btn-xs pull-right" ng-click="editManager.removeCertificateFile(item)"><i class="fa fa-remove"></i></span>
                                    <a class="btn btn-success btn-xs pull-right" ng-href="{{editManager.loadFile(item)}}"><i class="fa fa-download"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <form role="form" name="formPurchase" novalidate class="form-horizontal">
                        <fieldset>
                            <legend>
                                <span class="label label-primary">供应商编号：【{{vm.SupplierId}}】</span>
                                <span class="label label-default">采购类别：【{{vm.PurchaseType}}】</span>
                                <span class="label label-success">供应商类别：【{{vm.SupplierProperty}}】</span>
                            </legend>
                        </fieldset>
                        <fieldset>
                            <legend>
                                <label>证书信息</label>
                            </legend>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <button type="button" class="btn  btn-default" ng-model="fileItem.EligibleCertificate"
                                            data-html="1" data-multiple="0"
                                            data-animation="am-flip-x" data-placeholder="选择证书名称"
                                            bs-options="item.id as item.text for item in vmManager.certificateFileNames" bs-select>
                                        <span class="caret"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <input type="date" name="dateOfCertificate" class="form-control" ng-model="fileItem.DateOfCertificate" placeholder="获取证书日期" />
                                    <div class="error-messages" ng-messages="formPurchase.dateOfCertificate.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">证书日期不能为空</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label for="drawing">文件名称：</label>
                                        </div>
                                        <input type="file" name="file" class="form-control" onchange="angular.element(this).scope().selectFile(this)" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <hr />
                        <div class="alert alert-info">
                            <div class="row">
                                <div class="col-md-10">
                                    <button class="btn btn-primary" ng-click="operate.savePurSupplierCertificateDatas(formPurchase.$valid)"><i class="fa fa-save"></i>确定</button>
                                    <button class="btn btn-default" ng-click="operate.cancel()"><i class="fa fa-refresh"></i>取消</button>
                                    <span yl-operatemsg-board></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>
