<div class="panel panel-primary" ng-controller="supplierAuditToGradeCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">供应商稽核评分管理</h6>
    </div>
    <div class="panel-body">
        <nav class="nav">
            <form class="navbar-form navbar-left">
                <span yl-quarter-button data-yearquarter="vmManager.yearQuarter"></span>
                <button type="button" class="btn btn-default" ng-click="vmManager.getSupGradeInfo()"><i class="fa fa-search"></i> 载入</button>
                <a class="btn btn-success" href="@Url.Action("CreateSupplierGradeInfoDataToExcel", "PurSupplierManage")"><i class="fa fa-file-excel-o"></i> 导出Excel</a>
            </form>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vmManager.supplierId" placeholder="输入供应商编号">
                </div>
                <button type="submit" class="btn btn-default" ng-click="vmManager.searchBySupplierId('grade')"><i class="fa fa-search"></i></button>
            </form>
        </nav>

        <div class="h-split"></div>
        <div class="well" cg-busy="{promise:searchPromise}">
            <div class="table-responsive">
                @* 供应商列表 *@
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <th>供应商编号</th>
                            <th>供应商名称</th>
                            <th>供应商类别</th>
                            <th>采购类别</th>
                            <th>上次采购日期</th>
                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vmManager.editDatas track by $index">
                            <td>{{item.SupplierId}}</td>
                            <td>{{item.SupplierName}}</td>
                            <td>{{item.SupplierProperty}}</td>
                            <td>{{item.PurchaseType}}</td>
                            <td>{{item.LastPurchaseDate}}</td>
                            <td>
                                <div>
                                    <button name="SupGradeInfoTable"
                                            class="btn btn-xs btn-primary"
                                            ng-if="!item.SupGradeInfoContent"
                                            title="稽核评分信息">
                                        详细
                                    </button>
                                    <button name="SupGradeInfoTable"
                                            class="btn btn-xs btn-success"
                                            ng-if="item.SupGradeInfoContent"
                                            ng-click="vmManager.editSupGradeInfoTable(item)"
                                            title="稽核评分信息">
                                        详细
                                    </button>
                                    <span>|</span>
                                    <button class="btn btn-xs btn-primary" ng-click="vmManager.addSupGradeInfo(item)" title="填写评分信息">
                                        填写评分信息
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                @* 分页显示 *@
                <div ng-if="vmManager.dataSource.length>0"
                     yl-pagination
                     data-dataset="vmManager.editDatas"
                     data-datasource="vmManager.dataSource">
                </div>
                @* 稽核评分详细列表 *@
                <dialog modal ng-if="dialog.open" data-close="dialog.close()">
                    <content dialog-title class="info"><i class="fa fa-th-list"></i> 稽核评份信息</content>
                    <content dialog-content>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>供应商Id</th>
                                    <th>供应商品名</th>
                                    <th>评份项目</th>
                                    <th>属性</th>
                                    <th>分数</th>
                                    <th>说明</th>
                                    <th>年份</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.supGradeInfoEditDatas track by $index"
                                    title="双击选择项"
                                    ng-dblclick="vmManager.selectSupGradeInfoItem(item)">
                                    <td>{{item.SupplierId}}</td>
                                    <td>{{item.SupplierName}}</td>
                                    <td>{{item.SupGradeType}}</td>
                                    <td>{{item.IsFirstGrade}}</td>
                                    <td>{{item.GradeScore}}</td>
                                    <td>{{item.GradeExplain}}</td>
                                    <td>{{item.GradeYear}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="vmManager.editSupGradeInfo(item)"
                                                title="修改评分信息">
                                            修改
                                        </button>
                                        <button class="btn btn-xs btn-primary" ng-click="vmManager.deleteSupGradeInfo(item)"
                                                title="删除评分信息">
                                            删除
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </content>
                </dialog>

                @* 填写评分信息 *@
                <dialog  ng-if="editModelDialog.open"  modal data-close="editModelDialog.close()" style="width:40%">
                    <content dialog-title class="editInfo"><i class="fa fa-th-list"></i> 供应商稽核评分信息</content>
                     <content  dialog-content>
                         <div class="modal-body">
                             <form  role="form" name="formSupGrade" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                               <fieldset class="alert alert-info">
                                     @* 供应商名称 编号 *@
                                     <div class="form-group">
                                         <label for="supplierId" class="col-md-2 control-label">编号: </label>
                                         <div class="col-md-4">
                                             <input name="supplierId" type="text" placeholder="供应商编号" class="form-control" ng-model="vm.SupplierId" readonly />
                                         </div>
                                         <label for="supplierName" class="col-md-2 control-label">名称:</label>
                                         <div class="col-md-4">
                                             <input name="supplierName" type="text" placeholder="供应商名称" class="form-control" ng-model="vm.SupplierName" readonly />
                                         </div>
                                     </div>
                                     @* 采购类别 供应商属性 *@
                                     <div class="form-group">
                                         <label for="supplierProperty" class="col-md-2 control-label">类别:</label>
                                         <div class="col-md-4">
                                             <input name="supplierProperty" type="text" placeholder="供应商类别" class="form-control" ng-model="vm.SupplierProperty" readonly />
                                         </div>
                                         <label for="purchaseType" class="col-md-2 control-label">属性:</label>
                                         <div class="col-md-4">
                                             <input name="purchaseType" type="text" placeholder="供应商属性" class="form-control" ng-model="vm.PurchaseType" readonly />
                                         </div>
                                     </div>
                               </fieldset>
                               <fieldset>
                                     <legend>填定评分信息</legend>
                                     <div>
                                         @* 评分类别 *@
                                         <div class="form-group">
                                             <label for="supGradeType" class="col-md-2 control-label">评分类别</label>
                                             <div class="col-md-4">
                                                <button  name="supGradeType" type="button" class="btn btn-default" ng-model="vm.SupGradeType" i data-html="1"  data-placeholder="评分类别"
                                                         data-toggle="true" bs-options="grade.id as grade.text for grade in vmManager.gradeTypes" bs-select>
                                                     评分类别 <span class="caret"></span>
                                                 </button>
                                             </div>
                                             <label for="isFirstGrade" class="col-md-2 control-label">评分属性</label>
                                             <div class="col-md-2"> 
                                                 <button type="button" class="btn btn-default" ng-model="vm.IsFirstGrade" data-html="1" data-placeholder="属性"  
                                                         data-toggle="true" bs-options="property.id as property.text for property in vmManager.GradeScorePropertys" bs-select>
                                                     属性 <span class="caret"></span>
                                                 </button>
                                             </div>
                                         </div>
                                         <div class="row">
                                             @* 评分信息 *@
                                             <div class="form-group">
                                                 <label for="gradeScore" class="col-md-2 control-label">评分</label>
                                                 <div class="col-md-4">
                                                     <input name="gradeScore" type="number" value="0"  max="100" min="1" class="form-control" ng-model="vm.GradeScore" required />
                                                 </div>
                                                 <label for="gradeDate" class="col-md-2 control-label">首评日期</label>
                                                 <div class="col-md-4">
                                                     <input name="gradeDate" type="date" class="form-control" format-date ng-model="vm.GradeDate" required />
                                                     <div class="error-messages" ng-messages="formSupGrade.gradeDate.$error" ng-show="operate.showValidation">
                                                         <small ng-message="required">评分日期不能为空</small>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label for="gradeExplain" class="col-md-2 control-label">评份说明</label>
                                                 <div class="col-md-8">
                                                     <input name="gradeExplain" type="text"  value="空" class="form-control" ng-model="vm.GradeExplain" required />
                                                 </div>
                                             </div>

                                         </div>
                                     </div>
                                 </fieldset>
                             </form>
                         </div>
                         <div class="modal-footer">
                             <hr />
                             @*保存 取消 *@
                             <div class="alert alert-info">
                                 <div class="row">
                                     <div class="col-md-10">
                                         <button class="btn btn-primary " ng-click="operate.savePurSupGradeDatas(formSupGrade.$valid)"><i class="fa fa-save"></i>保存</button>
                                         <button class="btn btn-default" ng-click="operate.cannel(formSupGrade.$valid)"><i class="fa fa-undo"></i>取消</button>
                                         <span yl-operatemsg-board></span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </content>
                </dialog>
            </div>
        </div>

    </div>

    <div class="panel-footer">

    </div>
</div>