<span class="col-md-3" style="background:#29B8CB;border:1px solid black;">
    法定假日
</span>
<span class="col-md-2" style="background:yellow;border:1px solid black;">
    补班
</span>
<span class="col-md-2" style="background:violet;border:1px solid black;">
    休假
</span>
<span class="col-md-3" style="background:#dd4949;border:1px solid black;">
    星期六日
</span>
<span class="col-md-2" style="background:#d9edf7;border:1px solid black;">
    周数
</span>