<span>
    <label class="text-success" ng-if=showCheckbox ng-click="selected()" >
        <i class={{checkedClass}} ></i>
        <span ng-style="{'fontSize':'{{checkedSize}}'}">{{content}}</span> 
    </label>
    <label class="text-info" ng-if=!showCheckbox ng-click="unselected()" >
        <i class={{unCheckedClass}} ></i>
        <span ng-style="{'fontSize':'{{checkedSize}}'}">{{content}}</span> 
    </label>
</span>
