<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="glyphicon glyphicon-apple"></i>常规配置数据设置</h6>
            </div>
            <div class="panel-body" style="max-height:518px;overflow:auto">
                <ul data-yl-tree cg-busy="{promise:promise}"
                    data-tree-dataset="ztree.configDataNodes"
                    data-start-load="ztree.startLoad"
                    ng-model="ztree.treeNode"
                    data-binding-nodevm="ztree.bindNodeToVm()"
                    id="{{ztree.treeId}}" class="ztree"></ul>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="glyphicon glyphicon-pencil">常规配置数据编辑</i></h6>
            </div>
            <div class="panel-body">
                <form role="form" name="departmentSetForm" novalidate class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="dataNodeName" class="col-md-2 control-label">节点编码</label>
                            <div class="col-md-4">
                                <input name="dataNodeName" ng-model="vm.DataNodeName" class="form-control" required />
                                <div class="error-messages" ng-messages="departmentSetForm.dataNodeName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">节点编码不能为空</small>
                                </div>
                            </div>
                            <label for="dataNodeText" class="col-md-2 control-label">节点名称</label>
                            <div class="col-md-4">
                                <input name="dataNodeText" ng-model="vm.DataNodeText" class="form-control" required />
                                <div class="error-messages" ng-messages="departmentSetForm.dataNodeText.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">节点名称不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="parentDataNodeText" class="col-md-2 control-label">父节点名称</label>
                            <div class="col-md-4">
                                <input name="parentDataNodeText" class="form-control" ng-model="vm.ParentDataNodeText" required />
                                <div class="error-messages" ng-messages="departmentSetForm.parentDataNodeText.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">父节点名称不能为空</small>
                                </div>
                            </div>
                            <label for="displayOrder" class="col-md-2 control-label">显示顺序</label>
                            <div class="col-md-4">
                                <input name="displayOrder" type="number" ng-model="vm.DisplayOrder" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="moduleName" class="col-md-2 control-label">模块名称</label>
                            <div class="col-md-4">
                                <input name="moduleName" type="text" ng-model="vm.ModuleName" class="form-control" />
                                <div class="error-messages" ng-messages="departmentSetForm.moduleName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">模块名称不能为空</small>
                                </div>
                            </div>
                            <label for="aboutCategory" class="col-md-2 control-label">所属类别</label>
                            <div class="col-md-4">
                                <input name="aboutCategory" class="form-control" ng-model="vm.AboutCategory" required />
                                <div class="error-messages" ng-messages="departmentSetForm.aboutCategory.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">所属类别不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hasChildren" class="col-md-2 control-label">含有子节点</label>
                            <div class="col-md-4">
                                <input name="hasChildren" type="checkbox" ng-model="vm.HasChildren" ng-change="CheckIsHasChildren()" class="form-control" />
                            </div>
                            <label for="atLevel" class="col-md-2 control-label">所在层级</label>
                            <div class="col-md-4">
                                <input name="atLevel" class="form-control" ng-model="vm.AtLevel" type="number" required />
                                <div class="error-messages" ng-messages="departmentSetForm.atLevel.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">所在层级不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="memo" class="col-md-2 control-label">备注</label>
                            <div class="col-md-4">
                                <textarea rows="3" name="memo" ng-model="vm.Memo" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="btn-group" style="margin-top:30px;">
                                    <button type="button" class="btn btn-sm btn-default" ng-click="operate.addChildNode(departmentSetForm.$valid)">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新增子节点
                                    </button>
                                    <button type="button" class="btn btn-sm btn-info" ng-click="operate.addNode(departmentSetForm.$valid)">
                                        <i class="glyphicon glyphicon-plus-sign"></i>新增同级节点
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="operate.updateNode(departmentSetForm.$valid)">
                                        <i class="glyphicon glyphicon-edit"></i>修改节点
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="operate.delNode()">
                                        <i class="glyphicon glyphicon-remove-circle"></i>删除节点
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="operate.refresh()"><span class="fa fa-repeat">取消</span></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>