<label for="dateFrom" class="control-label">起始日期</label>
<input name="dateFrom" type="date" format-date class="form-control" ng-model="dateFrom" />
<label for="dateTo" class="control-label">结束日期</label>
<input name="dateTo" type="date" format-date class="form-control" ng-model="dateTo" />