<span>
    <span yl-checkbox data-content="上传附件" data-is-checked="showUploadFile">
    </span>
    <a href="javascript:void(0);" class="btn btn-sm btn-warning file" title="请选择要上传的附件" ng-if="showUploadFile">
        <i class="fa fa-upload"></i>选择文件<input type="file" name="file" onchange="angular.element(this).scope().selectFile(this)">0
    </a>
    <span class="label label-success">{{uploadFileName}}</span>
</span>
