<div class="panel panel-primary" ng-controller="jumperWireBoardCtrl">
    <div bs-tabs bs-active-pane="vmManager.activeTab" cg-busy="{promise:promise}">
        <div bs-pane data-title="看板资料录入" data-name="initTab">
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <form role="form" name="formJumperWire" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                            <fieldset>
                                <div class="form-group">
                                    <label for="productID" class="col-md-3 control-label">产品品号</label>
                                    <div class="col-md-8">
                                        <input name="productID" class="form-control" ng-model="vm.ProductID" required />
                                        <div class="error-messages" ng-messages="formJumperWire.productID.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">产品品号不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="materialID" class="col-md-3 control-label">物料编号</label>
                                    <div class="col-md-8">
                                        <input name="materialID" class="form-control" ng-model="vm.MaterialID" placeholder="输入物料编号并按下回车键"
                                                ng-keypress="vmManager.isMatchProductId($event)" required />
                                        <div class="error-messages" ng-messages="formJumperWire.materialID.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">物料编号不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="drawing" class="col-md-3 control-label">文件名称：</label>
                                    <div class="col-md-8">
                                        <input type="file" name="file" class="form-control" id="boardFile" onchange="angular.element(this).scope().selectFile(this)"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="remarks" class="col-md-3 control-label">备注</label>
                                    <div class="col-md-8">
                                        <textarea rows="3" name="remarks" placeholder="填写备注" class="form-control" ng-model="vm.Remarks" />
                                    </div>
                                </div>
                            </fieldset>
                            <hr />
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-9">
                                        <button class="btn btn-primary" ng-click="operate.saveAll(formJumperWire.$valid)"><i class="fa fa-save"></i>保存</button>
                                        <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                        <span yl-operatemsg-board></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-6" cg-busy="{promise:previewPromise}">
                        <img class="img-rounded" id="previewFile" ng-src="{{previewFileName}}" style="width:100%;height:420px;" />
                    </div>
                </div>
            </div>
        </div>
        <div bs-pane data-title="打印物料看板" data-name="printMaterialTab">
            <div class="well">
                <div class="row">
                    <div class="col-md-4">
                        <form role="form" name="formJumperWire" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input name="productID" class="form-control" placeholder="输入工单单号" ng-model="vm.ProductID" required />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div style="width:100%;height:460px;">
                            <iframe id='pdfV' style="width:100%;height:100%;font-weight:600;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>