<div class="panel panel-primary" ng-controller="reportMealQueryCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-table"></i>报餐汇总</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:searchPromise}">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-callout bs-callout-default">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" onkeypress="if (event.keyCode === 13) return false;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label class="control-label">日期</label>
                                        </div>
                                        <input type="date" class="form-control" ng-model="vmManager.reportDate" placeholder="汇总日期" />
                                        <div class="input-group-btn">
                                            <span class="btn btn-success" ng-click="vmManager.getReportMealAnalogDatas()"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("ExportReportMealSumerizeDatas", "HrGeneralAffairsManage")" class="btn btn-success">
                                        <i class="fa fa-file-excel-o"></i>
                                        汇出到Excel
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bs-callout bs-callout-success">
                    <div id="mainWindow">
                        <div bs-tabs bs-active-pane="vmManager.activeYGTab">
                            <div bs-pane data-title="员工餐汇总" data-name="dataYGViewTab">
                                <div class="page-header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>早餐：</span>
                                            <span class="label label-success">{{vmManager.analogDatas.TotalOfYG.TotalCountOfBreakfast}}</span>|
                                            <span>午餐：</span>
                                            <span class="label label-success">{{vmManager.analogDatas.TotalOfYG.TotalCountOfLunch}}</span>|
                                            <span>晚餐：</span>
                                            <span class="label label-success">{{vmManager.analogDatas.TotalOfYG.TotalCountOfSupper}}</span>|
                                            <span>夜宵：</span>
                                            <span class="label label-success">{{vmManager.analogDatas.TotalOfYG.TotalCountOfMidnight}}</span>

                                            <a href="#" class="label label-info pull-right" ng-click="vmManager.getReportMealDetail('员工餐',null)"><i class="fa fa-table"></i>明细</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="height:500px;max-height:520px;overflow-y:auto;">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr class="info">
                                                <th>部门</th>
                                                <th>报餐日期</th>
                                                <th>早餐数量</th>
                                                <th>午餐数量</th>
                                                <th>晚餐数量</th>
                                                <th>夜宵数量</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in vmManager.analogDatas.SumerizeDatasOfYG track by $index">
                                                <td class="text-info"><a href="#" ng-click="vmManager.getReportMealDetail('员工餐',item.Department)">{{item.Department}}</a></td>
                                                <td>{{item.ReportMealDate}}</td>
                                                <td>{{item.TotalCountOfBreakfast}}</td>
                                                <td>{{item.TotalCountOfLunch}}</td>
                                                <td>{{item.TotalCountOfSupper}}</td>
                                                <td>{{item.TotalCountOfMidnight}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div bs-pane data-title="陆干餐汇总" data-name="dataLGViewTab">
                                <div class="page-header">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>午餐：</span>
                                            <span class="label label-success">{{vmManager.analogDatas.TotalOfLG.TotalCountOfLunch}}</span>|
                                            <span>晚餐：</span>
                                            <span class="label label-success">{{vmManager.analogDatas.TotalOfLG.TotalCountOfSupper}}</span>
                                            <a href="#" class="label label-info pull-right" ng-click="vmManager.getReportMealDetail('陆干餐',null)"><i class="fa fa-table"></i>明细</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="info">
                                            <th>部门</th>
                                            <th>报餐日期</th>
                                            <th>午餐数量</th>
                                            <th>晚餐数量</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.analogDatas.SumerizeDatasOfLG track by $index">
                                            <td class="text-info"><a href="#" ng-click="vmManager.getReportMealDetail('陆干餐',item.Department)">{{item.Department}}</a></td>
                                            <td>{{item.ReportMealDate}}</td>
                                            <td>{{item.TotalCountOfLunch}}</td>
                                            <td>{{item.TotalCountOfSupper}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div pageslide ps-open="vmManager.reportMealDetailDisplay" style="padding:10px;" ps-side="left" ps-speed="0.25" ps-size="100%" ps-container='mainWindow' ps-key-listener="true">
                    <div class="table-responsive" style="height:500px; max-height:520px;overflow-y:auto;">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="info">
                                    <th>部门</th>
                                    <th>工号</th>
                                    <th>姓名</th>
                                    <th>早餐数量</th>
                                    <th>午餐数量</th>
                                    <th>晚餐数量</th>
                                    <th>夜宵数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.dataSets track by $index">
                                    <td class="text-info">{{item.Department}}</td>
                                    <td>{{item.WorkerId}}</td>
                                    <td>{{item.WorkerName}}</td>
                                    <td>{{item.CountOfBreakfast}}</td>
                                    <td>{{item.CountOfLunch}}</td>
                                    <td>{{item.CountOfSupper}}</td>
                                    <td>{{item.CountOfMidnight}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>