<div class="panel panel-primary" ng-controller="attendAskLeaveCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>请假管理</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:promise}">
        <div class="bs-callout bs-callout-info">
            <div class="row">
                <div class="col-md-10">
                    <form class="form-inline">
                        <div class="form-group">
                            <div yl-month-button
                                 data-yearmonth="qryvm.yearMonth"
                                 year="qryvm.year"
                                 month="qryvm.month"
                                 changed="vmManager.loadCalendarDatas()"
                                 title-visible="true"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">作业工号</label>
                            <span yl-workerid-input data-changed="vmManager.setAskLeaveDatas()"
                                  data-worker="vmManager.workerInfo"></span>
                            <span style="margin-top:5px;margin-bottom:1px;padding-bottom:3px;padding-left:3px;padding-right:3px;
                                          border-radius:3px;border-bottom-style:groove;" ng-if="vmManager.workerInfo">
                                <label>工号</label><span class="label label-info">{{vmManager.workerInfo.WorkerId}}</span>
                                <label>姓名</label><span class="label label-success">{{vmManager.workerInfo.Name}}</span>
                                <label>部门</label><span class="label label-warning">{{vmManager.workerInfo.Department}}</span>
                                <label>岗位</label><span class="label label-primary">{{vmManager.workerInfo.Post}}</span>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <span class="pull-right">
                        <button class="btn btn-info pull-right" ng-click="operate.saveAll()"><i class="fa fa-save"></i>批量保存</button>
                    </span>
                </div>
            </div>
        </div>
        <span yl-operatemsg-board></span>
        <div bs-tabs bs-active-pane="vmManager.activeTab">
            <div bs-pane data-title="业务视图" data-name="initTab">
                <table class="table table-bordered" style="table-layout:fixed;margin-bottom:5px;">
                    <thead>
                        <tr>
                            <th ng-repeat="headerItem in vmManager.calendar.WeekDays" class="text-center info">
                                {{headerItem.Day}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in vmManager.calendar.WeekCalendars">
                            <td style="background:#d9edf7;text-align:center">
                                {{data.Week}}
                            </td>
                            <td style="padding-left:5px;padding-right:0;text-align:left;"
                                ng-repeat="item in data.WeekDays"
                                title="{{item.Title}}">
                                <div class="pull-left">
                                    {{item.Day}}
                                    <br />
                                    <span style="font-size:12px;">{{item.ChineseCalendar}}</span>
                                    <div ng-if="item.Day!==''">
                                        <div class="h-split"></div>
                                        <a class="text-success" title="请假业务办理" ng-click="vmManager.createAskLeaveRecord(item)">
                                            <i class="fa fa-calendar-plus-o"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="bs-callout bs-callout-success pull-right" title="{{m.LeaveMemo}}"
                                     ng-repeat="m in item.askLeaveDatas track by $index"
                                     ng-if="item.askLeaveDatas && item.askLeaveDatas.length>0">
                                    假别：{{m.LeaveType}}<br />
                                    时段：{{m.LeaveTimeRegion}}<br />
                                    小时：{{m.LeaveHours}}<br />
                                    <div class="h-split"></div>
                                    <span class="pull-right">
                                        <a class="text-primary" title="编辑请假数据" ng-click="vmManager.editAskLeaveRecord(m)">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>|
                                        <a class="text-danger" title="删除请假数据" ng-click="vmManager.removeAskLeaveRecord(item,m)">
                                            <i class="fa fa-calendar-times-o"></i>
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div bs-pane data-title="数据视图" data-name="dataViewTab">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="info">
                                <th>作业工号</th>
                                <th>姓名</th>
                                <th>部门</th>
                                <th>出勤日期</th>
                                <th>刷卡时间</th>
                                <th>请假类别</th>
                                <th>请假时数</th>
                                <th>时间段</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vmManager.askLeaveDatas track by $index">
                                <td>{{item.WorkerId}}</td>
                                <td>{{item.WorkerName}}</td>
                                <td>{{item.Department}}</td>
                                <td>{{item.AttendanceDate}}</td>
                                <td>{{item.SlotCardTime}}</td>
                                <td>{{item.LeaveType}}</td>
                                <td>{{item.LeaveHours}}</td>
                                <td>{{item.LeaveTimeRegion}}</td>
                                <td>{{item.LeaveTimeRegionStart}}</td>
                                <td>{{item.LeaveTimeRegionEnd}}</td>
                                <td>{{item.LeaveMemo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>

    <dialog ng-if="editDialog.open" modal data-close="editDialog.close()" style="width:35%">
        <content dialog-title class="text-info">
            <span><i class="fa fa-paper-plane-o"></i>编辑请假数据</span>
        </content>
        <content dialog-content style="width:100%;" class="bs-callout bs-callout-info">
            <form name="modalForm" role="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label for="leaveType" class="col-md-3 control-label">假别名称</label>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" ng-model="vm.LeaveType"
                                data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择假别"
                                data-bs-options="item.name as item.text for item in vmManager.leaveTypes" data-bs-select>
                            选择假别名称<span class="caret"></span>
                        </button>
                        <input name="leaveType" class="form-control" ng-model="vm.LeaveType" ng-show="false" required />
                        <div class="error-messages" ng-messages="modalForm.leaveType.$error" ng-show="operate.showValidation">
                            <small ng-message="required">假别名称不能为空</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="leaveHours" class="col-md-3 control-label">请假时数</label>
                    <div class="col-md-6">
                        <input type="number" name="leaveHours" class="form-control" ng-model="vm.LeaveHours" required />
                        <div class="error-messages" ng-messages="modalForm.leaveHours.$error" ng-show="operate.showValidation">
                            <small ng-message="required">学请假时数不能为空</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="leaveTimeRegionStart" class="col-md-3 control-label">请假时段</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input name="leaveTimeRegionStart" type="text" class="form-control" size="8" bs-timepicker data-time-format="HH:mm"
                                   ng-model="vm.LeaveTimeRegionStart" data-length="1" data-minute-step="1"
                                   required data-arrow-behavior="picker" />
                            <div class="error-messages" ng-messages="modalForm.leaveTimeRegionStart.$error" ng-show="operate.showValidation">
                                <small ng-message="required">请假时段不能为空</small>
                            </div>
                            <div class="input-group-addon">
                                <label>-</label>
                            </div>
                            <input name="leaveTimeRegionEnd" type="text" class="form-control" size="8" data-length="1" data-minute-step="1"
                                   bs-timepicker data-time-format="HH:mm"
                                   ng-model="vm.LeaveTimeRegionEnd" required data-arrow-behavior="picker" />
                            <div class="error-messages" ng-messages="modalForm.leaveTimeRegionEnd.$error" ng-show="operate.showValidation">
                                <small ng-message="required">请假时段不能为空</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="leaveMemo" class="col-md-3 control-label">备注</label>
                    <div class="col-md-6">
                        <textarea rows="2" name="leaveMemo" class="form-control" ng-model="vm.LeaveMemo" />
                    </div>
                </div>
            </form>
        </content>
        <content dialog-buttons>
            <button class="btn btn-primary" ng-click="vmManager.confirmEdit()" autofocus>确定</button>
        </content>
    </dialog>
</div>