<div class="panel panel-primary" ng-controller="attendAskLeaveCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>请假管理</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:promise}">
        <div bs-tabs bs-active-pane="vmManager.activeTab">
            <div bs-pane data-title="请假处理" data-name="handleAskLeave">
                <div class="well">
                    <div class="row">

                    </div>
                </div>
                <div>
                    <table class="table table-bordered" style="table-layout:fixed;margin-bottom:5px;" cg-busy="{promise:promise}">
                        <thead>
                            <tr>
                                <th>Week</th>
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;">
                            <tr ng-repeat="week in vmManager.calendarWeeks">
                                <td style="background:#d9edf7;">
                                    {{week}}
                                </td>
                                <td style="background-color:{{item.DateColor}};padding-left:0;padding-right:0;"
                                    ng-repeat="item in vmManager.calendarDatas" ng-show="item.YearWeekNumber=={{week}}"
                                    title="{{item.Title}}" ng-dblclick="vmManager.editItem(item)">
                                    {{item.CalendarDay}}
                                    <br />
                                    <span style="font-size:12px;">{{item.ChineseCalendar}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div bs-pane data-title="登记请假信息" data-name="initTab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label>作业工号</label>
                                        </div>
                                        <input type="text" class="form-control" ng-model="vmManager.workerId" ng-keypress="vmManager.addWorkerId($event)" placeholder="请批量输入要请假的作业人员工号" />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info" ng-click="operate.search()">
                                                <i class="fa fa-search"></i>
                                                载入数据
                                                <span data-title="点击查询数据 从服务器端查询 录入所有工号人员部门信息" data-bs-tooltip>
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="info">
                                            <th>工号</th>
                                            <th>姓名</th>
                                            <th>部门</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                            <th class="text-center text-warning">
                                                请假记录
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody cy-busy="{promise:workerPromise}">
                                        <tr ng-repeat="item in vmManager.changeDatas|filter:filterField track by $index">
                                            <td>{{item.WorkerId}}</td>
                                            <td>{{item.WorkerName}}</td>
                                            <td class="text-info">{{item.DepartmentText}}</td>
                                            <td>
                                                <div ng-switch on="item.OpCmdVisible">
                                                    <div ng-switch-when="1">
                                                        <button class="btn btn-xs btn-primary" style="margin-bottom:6px;" ng-click="operate.handleAskForLeave(item,'handle')"
                                                                title="填写请假信息">
                                                            请假
                                                        </button>
                                                    </div>
                                                    <div ng-switch-when="0">
                                                        <i class="fa fa-2x fa-hand-peace-o"></i>
                                                    </div>
                                                    <div ng-switch-default>
                                                        <i class="fa fa-hand-paper-o"></i>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <div ng-show="item.LeaveMark===1">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"
                                                            ng-repeat="litem in item.LeaveDataSet">
                                                            <ul class="nav">
                                                                <li>
                                                                    请假类别：<span class="text-primary">{{litem.LeaveType}}</span>
                                                                </li>
                                                                <li>
                                                                    请假时数：<span class="text-primary">{{litem.LeaveHours}}H</span>
                                                                    时段：<i class="fa fa-clock-o"></i> {{litem.LeaveTimeRegionStart}}--<i class="fa fa-clock-o"></i>{{litem.LeaveTimeRegionEnd}}
                                                                </li>
                                                                <li>
                                                                    请假日期：<span class="text-primary">{{litem.StartLeaveDate}}</span>
                                                                    至<span class="text-primary">{{litem.EndLeaveDate}}</span>
                                                                </li>
                                                                <li>
                                                                    备注信息：<span class="text-primary">{{litem.LeaveMemo}}</span>
                                                                    <span class="pull-right">
                                                                        <a href="#" ng-click="operate.handleAskForLeave(litem,'edit')">修改</a>|
                                                                        <a href="#" ng-click="operate.handleAskForLeave(litem,'del')">删除</a>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="pull-right">
                                                        <span class="btn btn-xs btn-success" ng-click="operate.handleAskForLeave(item,'add')">添加</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div bs-pane data-title="管理请假信息" data-name="manageTab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-5">
                                    <div yl-month-button data-yearmonth="vmManager.yearMonth" data-title-visible="true"></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label>作业工号</label>
                                        </div>
                                        <input type="text" class="form-control" ng-model="vmManager.workerId" ng-keypress="vmManager.searchLeaveData($event)" placeholder="请输入作工号按下回车键查询请假信息" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well" cg-busy="{promise:askLeavePromise}">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="info">
                                            <th>工号</th>
                                            <th>姓名</th>
                                            <th>部门</th>
                                            <th>刷卡时间</th>
                                            <th>请假日期</th>
                                            <th>请假类别</th>
                                            <th>请假时数</th>
                                            <th>请假时段</th>
                                            <th>备注信息</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.askLeaveDatas track by $index">
                                            <td>{{item.WorkerId}}</td>
                                            <td>{{item.WorkerName}}</td>
                                            <td class="text-info">{{item.DepartmentText}}</td>
                                            <td>{{item.SlotCardTime}}</td>
                                            <td>{{item.AttendanceDate}}</td>
                                            <td>{{item.LeaveType}}</td>
                                            <td>{{item.LeaveHours}}</td>
                                            <td>{{item.LeaveTimeRegion}}</td>
                                            <td>{{item.LeaveMemo}}</td>
                                            <td ng-show="item.OpCmdVisible">
                                                <button class="btn btn-xs btn-primary" ng-click="operate.handleAskForLeave(item,'handleEdit')"
                                                        title="修改请假信息">
                                                    修改
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-info" ng-click="operate.save()"><i class="fa fa-save"></i>批量保存</button>
                <span ng-class="operate.result==true ? 'alert alert-success':'alert alert-danger'" ng-show="operate.msgDisplay">
                    <i class="fa fa-info-circle"></i>
                    {{operate.message}}
                </span>
            </div>
        </div>
    </div>
</div>