<div class="panel panel-primary" ng-controller="workOverHoursManageCtrl">

    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-hand-peace-o">加班管理</i></h6>
            </div>
    <div class="panel-body"  cg-busy="{promise:searchPromise}">
         <div class="bs-callout bs-callout-info">
               <div class="row">
                        <div class="col-md-6">
                            <form for="form" class="form-inline">
                                <div class="form-group">
                                    <label for="workDate">日期:</label>
                                    <input type="date" ng-model="query.workDate" class="form-control" placeholder="请选日期" ng-keydown="vmManager.getWorkOverHoursModes()" format-date />
                                    <button type="button" title="载入模板" class="btn btn-primary" ng-click="vmManager.getWorkOverHoursModes()">
                                        <i class="fa fa-download"></i>载入模板
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <span class="pull-right">
                                <button class="btn btn btn-primary pull-right"  title="保存" ng-click="operate.saveAll()"><i class="fa fa-save"></i>批量保存</button>
                            </span>
                             </div>
                    </div>
                    <div class="h-split"></div>
                    <div class="table-responsive">
                        <div class="row"  style="padding:10px;overflow-y:scroll;min-height:280px;max-height:680px;">
                            <table class="table table-striped table-hover" style="table-layout:fixed;">
                                <colgroup>
                                    <col width="40" />
                                    <col width="50" />
                                    <col width="70" />
                                    <col width="90" />
                                    <col width="60" />
                                    <col width="60" />
                                    <col width="60" />
                                    <col width="60" />
                                    <col width="60" />
                                </colgroup>

                                <thead>
                                    <tr class="info">
                                        <th class="text-center danger">
                                            <i class="fa fa-flag"></i>操作
                                        </th>
                                        <th>加班类型</th>
                                        <th>部门</th>
                                        <th>日期</th>
                                        <th>班别</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>加班时数(h)</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in vmManager.dataSets track by $index" ng-click="vmManager.getCurrentRow(item)">
                                        @*工具按钮*@
                                        <td class="text-center">
                                            <button type="button" class="btn btn btn-danger" ng-show="item.editting"
                                                    data-animation="am-flip-x" data-placement="right"
                                                    bs-dropdown aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-pencil-square"></span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <ul class="nav nav-pills" role="tablist">
                                                    <li role="presentation">
                                                        <a href="#" ng-click="vmManager.editOver(item)" title="结束编辑"><i class="fa fa-check-square"></i>结束</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#" ng-click="vmManager.removeRow(item)" title="删除此行"><i class="fa fa-remove"></i>删除</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <button type="button" class="btn btn-xs btn-primary" ng-hide="item.editting"
                                                    data-animation="am-flip-x" data-placement="right"
                                                    bs-dropdown aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-indent"></span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <ul class="nav nav-pills" role="tablist">
                                                    <li role="presentation">
                                                        <a href="#" ng-click="operate.handleItem(item)" title="编辑行"><i class="fa fa-pencil"></i>编辑行</a>
                                                    </li>
                                                    <li role="presentation">
                                                            <a href="#" ng-click="vmManager.editworkOverHours(item)" title="编辑加班时数"><i class="fa fa-pencil"></i>编辑时数</a>
                                                        </li>
                                                    <li role="presentation">
                                                        <a href="#" ng-click="vmManager.copyAndPaste(item)" title="复制行"><i class="fa fa-clipboard"></i>复制行</a>
                                                    </li>

                                                    <li role="presentation">
                                                        <a href="#" ng-click="vmManager.removeRow(item)" title="删除此行"><i class="fa fa-remove"></i>删除行</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#" ng-click="vmManager.cancelEdit(item)" title="取消"><i class="fa fa-undo"></i>取消行</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                        <td title="双击可修改" ng-dblclick="vmManager.editOverType(item)">
                                            <span ng-hide="item.isEdittingOverType">{{item.WorkoverType}}</span>
                                            <button type="button" class="btn btn-xs btn-primary" ng-model="vm.WorkoverType" data-html="1" data-placeholder="加班类型"
                                                    ng-show="item.isEdittingOverType" ng-change="vmManager.selectOverType()"
                                                    data-multiple="0" data-animation="am-flip-x" bs-options="ct.id as ct.text for ct in vmManager.overTypes" bs-select>
                                                平时加班 <span class="caret"></span>
                                            </button>
                                        </td>
                                        <td>{{item.DepartmentText}}</td>
                                        <td>{{item.WorkDate}}</td>
                                        <td title="双击可修改" ng-dblclick="vmManager.editClassType(item)">
                                            <span ng-hide="item.isEdittingClassType">{{item.WorkClassType}}</span>
                                            <button type="button" class="btn btn-xs btn-primary" ng-model="vm.WorkClassType" data-html="1" data-placeholder="班别"
                                                    ng-show="item.isEdittingClassType" ng-change="vmManager.selectClassType()"
                                                    data-multiple="0" data-animation="am-flip-x" bs-options="am.id as am.text for am in vmManager.classTypes" bs-select>
                                                晚班<span class="caret"></span>
                                            </button>
                                        </td>
                                        <td>{{item.WorkerId}}</td>
                                        <td>{{item.WorkerName}}</td>
                                        <td>
                                            <span ng-hide="item.wkhing">{{item.WorkOverHours}}</span>
                                            <input ng-model="vm.WorkOverHours" ng-keydown="vmManager.inputWorkOverHours($event,item)"
                                                    focus-if="focus.workeroverFocus" focus-setter style="width:70px;"
                                                    placeholder="请输入时数" ng-show="item.wkhing" />                                                                                
                                        </td>
                                        <td>{{item.Remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            @*<div ng-if="vmManager.dataSets.length>0"
                                 yl-pagination
                                 data-dataset="vmManager.dataSets"
                                 data-datasource="vmManager.dataSource"
                             >*@
                           
                            
                        </div>
                    </div>
                </div>           
    </div>
    




    <div class="panel-footer">
        <ul class="nav nav-pills" role="tablist">
            <li class="success"><a href="#">当前总行数: <span class="badge">{{tempVm.tabCount}}</span></a></li>     
            <li class="success"><a href="#">加班部门: <span class="badge">{{tempVm.department}}</span></a></li> 
            <li class="success"><a href="#">加班总时数: <span class="badge">{{tempVm.workOverCount}}h</span>

     
   
    </div>

    <dialog  ng-if="dialog.open" modal data-close="dialog.close()" style="width:65%">
        <content dialog-title>
            <i class="fa fa-pencil-square">数据窗口</i>
        </content>
        <content dialog-content style="width:100%" class="bs-callout bs-callout-info">
            <form role="form" name="formWorkover" novalidate class="form-horizontal">
                <div class="form-group">
                    <label for="workerId" class="col-md-2 control-label">工号</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input name="workerId" class="form-control" ng-model="vm.WorkerId" placeholder="请输入您工号" ng-change="vmManager.getWorkerInfo()" required data-ensure-user-exist />
                            <div class="error-messages" ng-messages="formWorkover.workerId.$error" ng-show="operate.showValidation">
                                <small ng-message="required">工号不能为空</small>
                            </div>
                            <div class="input-group-addon" ng-show="vmManager.isSingle">
                                <label class="label label-primary"> <i class="fa fa-user"></i> {{vm.WorkerName}}</label>
                            </div>
                            <div class="input-group-btn" ng-hide="vmManager.isSingle">
                                <button type="button" class="btn btn-primary"
                                        data-animation="am-flip-x"
                                        bs-dropdown aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa-chevron-circle-down"></span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <ul class="list-group">
                                        <li class="list-group-item" style="cursor:pointer" ng-click="vmManager.selectWorker(worker)"
                                            ng-repeat="worker in vmManager.searchedWorkers track by $index" data-title="岗位：{{worker.Post}}" data-bs-tooltip>
                                            <i class="fa fa-user"></i>
                                            <span class="label label-primary">工号：{{worker.WorkerId}}</span>|
                                            <span>姓名：{{worker.Name}}</span>|
                                            <span>部门：{{worker.Department}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="name" class="col-md-2 control-label">姓名</label>
                    <div class="col-md-4">
                        <input type="text" name="name" class="form-control" ng-model="vm.WorkerName" placeholder="姓名" readonly required />
                        <div class="error-messages" ng-messages="formWorkover.name.$error" ng-show="operate.showValidation">
                            <small ng-message="required">姓名不能为空</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="workoverType" class="col-md-2 control-label">加班类型</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input name="workoverType" class="form-control" ng-model="vm.WorkoverType" required />
                            <div class="error-messages" ng-messages="formWorkover.workoverType.$error" ng-show="operate.showValidation">
                                <small ng-message="required">加班类型不能为空</small>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-model="vm.WorkoverType"
                                        data-html="1" data-multiple="0" data-placeholder="选择加班类型" data-animation="am-flip-x"
                                        data-bs-options="worktype.id as worktype.text for worktype in vmManager.overTypes" data-bs-select></button>
                            </span>
                        </div>
                    </div>
                    <label for="workClassType" class="col-md-2 control-label">班别</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input name="workClassType" class="form-control" ng-model="vm.WorkClassType" required />
                            <div class="error-messages" ng-messages="formWorkover.workClassType.$error" ng-show="operate.showValidation">
                                <small ng-message="required">班别不能为空</small>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-model="vm.WorkClassType"
                                        data-html="1" data-multiple="0" data-placeholder="选择班别" data-animation="am-flip-x"
                                        data-bs-options="classtype.id as classtype.text for classtype in vmManager.classTypes" data-bs-select></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="workDate" class="col-md-2 control-label">日期</label>
                    <div class="col-md-4">
                        <input type="date" name="workDate" class="form-control" ng-model="vm.WorkDate" placeholder="加班日期" format-date required />
                        <div class="error-messages" ng-messages="formWorkover.workDate.$error" ng-show="operate.showValidation">
                            <small ng-message="required">日期不能为空</small>
                        </div>
                    </div>
                    <label for="department" class="col-md-2 control-label">部门</label>
                    <div class="col-md-4">

                        <input type="text" name="workDate" class="form-control" ng-model="vm.DepartmentText" placeholder="部门" readonly required />
                        <div class="error-messages" ng-messages="formWorkover.department.$error" ng-show="operate.showValidation">
                            <small ng-message="required">部门不能为空</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="workOverHour" class="col-md-2 control-label">加班时数</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="number" name="workOverHour" class="form-control" ng-model="vm.WorkOverHours" placeholder="加班时数" required />
                            <div class="error-messages" ng-messages="formWorkover.workOverHour.$error" ng-show="operate.showValidation">
                                <small ng-message="required">加班时数不能为空</small>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-model="vm.WorkOverHours"
                                        data-html="1" data-multiple="0" data-placeholder="选择时数" data-animation="am-flip-x"
                                        data-bs-options="overHours.id as overHours.text for overHours in vmManager.workOverHourss" data-bs-select></button>
                            </span>
                        </div>
                    </div>
                    <label for="remark" class="col-md-2 control-label">备注</label>
                    <div class="col-md-4">
                        <input type="text" name="remark" class="form-control" ng-model="vm.Remark" placeholder="备注" />
                    </div>
                </div>
                <div class="h-split" />
                <div class="alert alert-info ">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10 col-lg-offset-4">
                            <button id="btnsave" class="btn btn-primary" ng-click="operate.updateItem()"><i class="fa fa-save"></i>确定</button>
                            <span yl-operatemsg-board></span>
                        </div>
                    </div>
                </div>
            </form>

        </content>
    </dialog>
       
    

</div>