<div class="panel panel-primary" ng-controller="hwManPowerCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>人力信息管理</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:searchPromise}">
        <div class="page-header" cg-busy="{promise:opPromise}">
            <button class="btn btn-success" ng-click="operate.save()">
                <i class="fa fa-save"></i>
                保存数据
            </button>
        </div>
        <div class="bs-callout bs-callout-info">
            <h1>总人力信息</h1>
            <div class="h-split"></div>
            <table class="table table-striped">
                <thead>
                    <tr class="info">
                        <th>工厂代码</th>
                        <th>人员离职率(%)</th>
                        <th>总人数（人）</th>
                        <th>人员总缺口（人）</th>
                        <th>人员补充计划(人)</th>
                        <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="worker in vmManager.dataEntity.manpowerMainList">
                        <td>{{worker.vendorFactoryCode}}</td>
                        <td>{{worker.hrLeavePercent}}</td>
                        <td>{{worker.manpowerTotalQuantity}}</td>
                        <td>{{worker.manpowerGapQuantity}}</td>
                        <td>{{worker.manpowerAddQuantity}}</td>
                        <td>
                            <span class="btn btn-primary btn-xs" title="编辑" ng-click="vmManager.showMasterEditWindow(worker)">
                                <i class="fa fa-pencil-square-o"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bs-callout bs-callout-success">
            <h1>人力信息明细</h1>
            <div class="h-split"></div>
            <table class="table table-striped">
                <thead>
                    <tr class="success">
                        <th>部门名称</th>
                        <th>人员需求</th>
                        <th>人员缺口</th>
                        <th>人员补充计划</th>
                        <th>人员离职率</th>
                        <th>备注</th>
                        <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                    </tr>
                </thead>
                <tbody cy-busy="{promise:workerPromise}">
                    <tr ng-repeat="depworker in vmManager.dataEntity.manpowerMainList[0].keyDeptDataList">
                        <td>{{depworker.keyDeptName}}</td>
                        <td>{{depworker.hrRequestQuantity}}</td>
                        <td>{{depworker.hrGapQuantity}}</td>
                        <td>{{depworker.hrAddQuantity}}</td>
                        <td>{{depworker.hrLeavePercent}}</td>
                        <td>{{depworker.description}}</td>
                        <td>
                            <span class="btn btn-primary btn-xs" title="编辑"><i class="fa fa-pencil-square-o"></i></span>|
                            <span class="btn btn-danger btn-xs" title="删除"><i class="fa fa-remove"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <dialog ng-if="manPowerEditDialog.open" modal data-close="manPowerEditDialog.close()" style="width:35%">
            <content dialog-title>
                <i class="fa fa-pencil-square">数据编辑窗口</i>
            </content>
            <content dialog-content style="width:100%" class="bs-callout bs-callout-info">
                <form role="form" name="formManpower" novalidate class="form-horizontal">
                    <div class="form-group">
                        <label for="vendorFactoryCode" class="col-md-4 control-label">工厂代码</label>
                        <div class="col-md-4">
                            <input name="vendorFactoryCode" class="form-control" ng-model="manPowerVM.vendorFactoryCode" placeholder="工厂代码" readonly required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hrLeavePercent" class="col-md-4 control-label">工厂人员离职率(%)</label>
                        <div class="col-md-4">
                            <input type="number" name="hrLeavePercent" class="form-control" ng-model="manPowerVM.hrLeavePercent" placeholder="工厂人员离职率" required />
                            <div class="error-messages" ng-messages="formManpower.hrLeavePercent.$error" ng-show="operate.showValidation">
                                <small ng-message="required">工厂人员离职率不能为空</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="manpowerTotalQuantity" class="col-md-4 control-label">工厂总人数（人）</label>
                        <div class="col-md-4">
                            <input type="number" name="manpowerTotalQuantity" class="form-control" ng-model="manPowerVM.manpowerTotalQuantity" placeholder="工厂总人数" required />
                            <div class="error-messages" ng-messages="formManpower.manpowerTotalQuantity.$error" ng-show="operate.showValidation">
                                <small ng-message="required">工厂总人数不能为空</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="manpowerGapQuantity" class="col-md-4 control-label">工厂人员总缺口（人）</label>
                        <div class="col-md-4">
                            <input type="number" name="manpowerGapQuantity" class="form-control" ng-model="manPowerVM.manpowerGapQuantity" placeholder="工厂人员总缺口" required />
                            <div class="error-messages" ng-messages="formManpower.manpowerGapQuantity.$error" ng-show="operate.showValidation">
                                <small ng-message="required">工厂人员总缺口不能为空</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="manpowerAddQuantity" class="col-md-4 control-label">工厂人员补充计划(人)</label>
                        <div class="col-md-4">
                            <input type="number" name="manpowerAddQuantity" class="form-control" ng-model="manPowerVM.manpowerAddQuantity" placeholder="工厂人员补充计划" required />
                            <div class="error-messages" ng-messages="formManpower.manpowerAddQuantity.$error" ng-show="operate.showValidation">
                                <small ng-message="required">工厂人员补充计划不能为空</small>
                            </div>
                        </div>
                    </div>

                </form>
            </content>
            <content dialog-buttons>
                <button autofocus ng-click="vmManager.confirmMasterEditData()">确定</button>
                <button ng-click="vmManager.cancelMasterEditData()">取消</button>
            </content>
        </dialog>
    </div>
    <div class="panel-footer">

    </div>
</div>