<div class="panel panel-primary" ng-controller="hwMaterialBaseInfoCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>物料基础信息管理</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:searchPromise}">
        <div class="bs-callout bs-callout-default">
            <div class="row">
                <div class="col-md-6" cg-busy="{promise:opPromise}">
                    <button class="btn btn-success pull-left" ng-click="operate.save()">
                        <i class="fa fa-save"></i>
                        保存数据
                    </button>
                    <span yl-refresh-frequency data-time="月"></span>
                </div>
                <div class="col-md-6">
                    <form role="form" name="formQuery" novalidate class="form-inline pull-right">
                        <div class="form-group">
                            <label for="vendorItemCode" class="control-label">物料编号</label>
                            <input name="vendorItemCode" class="form-control" ng-model="vmManager.materialId"
                                   ng-keypress="vmManager.getMaterialBaseInfo($event)" placeholder="供应商物料编码" required />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bs-callout bs-callout-success">
            <div class="row">
                <div class="col-md-6">
                    <span style="font-size:large">物料基础信息</span>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-sm btn-warning pull-right" title="新增物料基础信息" ng-click="vmManager.addMaterialInfo()">
                        <i class="fa fa-plus-circle"></i>
                        添加
                    </button>
                </div>
            </div>
            <div class="h-split"></div>
            <table class="table table-striped">
                <thead>
                    <tr class="success">
                        <th>供应商物料编码</th>
                        <th>供应商产品型号</th>
                        <th>供应商物料描述</th>
                        <th>物料小类</th>
                        <th>客户代码</th>
                        <th>客户物料编码</th>

                        <th>客户产品型号</th>
                        <th>单位</th>
                        <th>供应商Item类别</th>
                        <th>良率</th>
                        <th>货期(天）</th>
                        <th>生命周期状态</th>

                        <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                    </tr>
                </thead>
                <tbody cy-busy="{promise:workerPromise}">
                    <tr ng-repeat="item in vmManager.dataEntity.vendorItemList">
                        <td>{{item.vendorItemCode}}</td>
                        <td>{{item.vendorProductModel}}</td>
                        <td>{{item.vendorItemDesc}}</td>
                        <td>{{item.itemCategory}}</td>
                        <td>{{item.customerVendorCode}}</td>
                        <td>{{item.customerItemCode}}</td>

                        <td>{{item.customerProductModel}}</td>
                        <td>{{item.unitOfMeasure}}</td>
                        <td>{{item.inventoryType}}</td>
                        <td>{{item.goodPercent}}</td>
                        <td>{{item.leadTime}}</td>
                        <td>{{item.lifeCycleStatus}}</td>
                        <td>
                            <span class="btn btn-primary btn-xs" title="编辑" ng-click="vmManager.showEditWindow(item)">
                                <i class="fa fa-pencil-square-o"></i>
                            </span>|
                            <span class="btn btn-danger btn-xs" title="删除" ng-click="vmManager.removeMaterial(item)">
                                <i class="fa fa-remove"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <dialog ng-if="editDialog.open" modal data-close="editDialog.close()" style="width:60%">
            <content dialog-title>
                <i class="fa fa-pencil-square">数据编辑窗口</i>
            </content>
            <content dialog-content style="width:100%" class="bs-callout bs-callout-info">
                <form role="form" name="formMaterial" novalidate class="form-horizontal">
                    <div class="form-group">
                        <label for="vendorItemCode" class="col-md-2 control-label">供应商物料编码</label>
                        <div class="col-md-4">
                            <input name="vendorItemCode" class="form-control" ng-model="materialVM.vendorItemCode" ng-if="materialVM.isAdd" placeholder="供应商物料编码" required />
                            <input name="vendorItemCode" class="form-control" ng-model="materialVM.vendorItemCode" ng-if="!materialVM.isAdd" readonly placeholder="供应商物料编码" required />
                            <div class="error-messages" ng-messages="formMaterial.vendorItemCode.$error" ng-show="operate.showValidation">
                                <small ng-message="required">供应商物料编码不能为空</small>
                            </div>
                        </div>
                        <label for="vendorProductModel" class="col-md-2 control-label">供应商产品型号</label>
                        <div class="col-md-4">
                            <input name="vendorProductModel" class="form-control" ng-model="materialVM.vendorProductModel" placeholder="供应商产品型号" required />
                            <div class="error-messages" ng-messages="formMaterial.vendorProductModel.$error" ng-show="operate.showValidation">
                                <small ng-message="required">供应商产品型号不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendorItemDesc" class="col-md-2 control-label">供应商物料描述</label>
                        <div class="col-md-4">
                            <input type="text" name="vendorItemDesc" class="form-control" ng-model="materialVM.vendorItemDesc" placeholder="供应商物料描述" required />
                        </div>
                        <label for="itemCategory" class="col-md-2 control-label">物料小类</label>
                        <div class="col-md-4">
                            <input type="text" name="itemCategory" class="form-control" ng-model="materialVM.itemCategory" placeholder="物料小类" required />
                            <div class="error-messages" ng-messages="formMaterial.itemCategory.$error" ng-show="operate.showValidation">
                                <small ng-message="required">物料小类不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerVendorCode" class="col-md-2 control-label">客户代码</label>
                        <div class="col-md-4">
                            <input type="text" name="customerVendorCode" class="form-control" ng-model="materialVM.customerVendorCode" placeholder="客户代码" required />
                            <div class="error-messages" ng-messages="formMaterial.customerVendorCode.$error" ng-show="operate.showValidation">
                                <small ng-message="required">客户代码不能为空</small>
                            </div>
                        </div>
                        <label for="customerItemCode" class="col-md-2 control-label">客户物料编码</label>
                        <div class="col-md-4">
                            <input type="text" name="customerItemCode" class="form-control" ng-model="materialVM.customerItemCode" placeholder="客户物料编码" required />
                            <div class="error-messages" ng-messages="formMaterial.customerItemCode.$error" ng-show="operate.showValidation">
                                <small ng-message="required">客户物料编码不能为空</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerProductModel" class="col-md-2 control-label">客户产品型号</label>
                        <div class="col-md-4">
                            <input type="text" name="customerProductModel" class="form-control" ng-model="materialVM.customerProductModel" placeholder="客户产品型号" required />
                            <div class="error-messages" ng-messages="formMaterial.customerProductModel.$error" ng-show="operate.showValidation">
                                <small ng-message="required">客户产品型号不能为空</small>
                            </div>
                        </div>
                        <label for="unitOfMeasure" class="col-md-2 control-label">单位</label>
                        <div class="col-md-4">
                            <input type="text" name="unitOfMeasure" class="form-control" ng-model="materialVM.unitOfMeasure" placeholder="单位" required />
                            <div class="error-messages" ng-messages="formMaterial.unitOfMeasure.$error" ng-show="operate.showValidation">
                                <small ng-message="required">单位不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inventoryType" class="col-md-2 control-label">供应商Item类别</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-model="materialVM.inventoryType"
                                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择供应商Item类别"
                                            data-bs-options="item.id as item.text for item in vmManager.inventoryTypes" data-bs-select>
                                        选择供应商Item类别 <span class="caret"></span>
                                    </button>
                                    <input type="text" name="inventoryType" class="form-control" ng-model="materialVM.inventoryType" ng-show="false" placeholder="供应商Item类别" required />
                                    <div class="error-messages" ng-messages="formMaterial.inventoryType.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">供应商Item类别不能为空</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="goodPercent" class="col-md-2 control-label">良率</label>
                        <div class="col-md-4">
                            <input type="text" name="goodPercent" class="form-control" ng-model="materialVM.goodPercent" placeholder="良率" required />
                            <div class="error-messages" ng-messages="formMaterial.goodPercent.$error" ng-show="operate.showValidation">
                                <small ng-message="required">良率不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leadTime" class="col-md-2 control-label">货期(天）</label>
                        <div class="col-md-4">
                            <input type="text" name="leadTime" class="form-control" ng-model="materialVM.leadTime" placeholder="货期(天）" required />
                            <div class="error-messages" ng-messages="formMaterial.leadTime.$error" ng-show="operate.showValidation">
                                <small ng-message="required">货期不能为空</small>
                            </div>
                        </div>
                        <label for="lifeCycleStatus" class="col-md-2 control-label">生命周期状态</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-model="materialVM.lifeCycleStatus"
                                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择生命周期状态"
                                            data-bs-options="item.id as item.text for item in vmManager.lifeCycleStatuses" data-bs-select>
                                        选择生命周期状态 <span class="caret"></span>
                                    </button>
                                    <input type="text" name="lifeCycleStatus" class="form-control" ng-model="materialVM.lifeCycleStatus" ng-show="false" placeholder="生命周期状态" required />
                                    <div class="error-messages" ng-messages="formMaterial.lifeCycleStatus.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">生命周期状态不能为空</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </content>
            <content dialog-buttons>
                <button autofocus ng-click="vmManager.confirmEditData()">确定</button>
                <button ng-click="vmManager.cancelEditData()">取消</button>
            </content>
        </dialog>
    </div>
    <div class="panel-footer">

    </div>
</div>