<div class="panel panel-primary" ng-controller="create8DFormCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">创建8D报告单</h6>
    </div>
    <tag>
        <div class="panel-body">
            <div bs-tabs bs-active-pane="vmManager.activeTab" style="position:relative;" cg-busy="{promise:promise}">
                <div bs-pane data-title="IQC资料查询" data-name="initTab">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline" role="form">
                                    <div class="form-group ">
                                        <label class="control-label">IQC单号:</label>
                                        <input type="text" placeholder="IQC单号查询" ng-model="vmManager.iqcOrderId" class="form-control" />
                                        <button role="button" class="btn btn-primary" ng-click="vmManager.getQua8DCreateDatas()"><i class="fa fa-search"></i>查询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="editWindow">
                            <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                <table class="table table-striped table-hover table-bordered" style="table-layout:fixed;">
                                    <thead>
                                        <tr class="info">
                                            <th>单号</th>
                                            <th>品号</th>
                                            <th>品名</th>
                                            <th>供应商</th>
                                            <th>进货数量</th>
                                            <th>检测状态</th>
                                            <th>进货日期</th>
                                            <th>结果</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.dataSets track by $index">
                                            <td>{{item.OrderId}}</td>
                                            <td>{{item.MaterialId}}</td>
                                            <td>
                                                <span title="规格:{{item.MaterialSpec}}">{{item.MaterialName}}</span>
                                            </td>
                                            <td>{{item.MaterialSupplier}}</td>
                                            <td>{{item.MaterialCount}}</td>
                                            <td>
                                                <span title="检测方式:{{item.InspectionMode}}，检测日期:{{item.MaterialInDate}}">
                                                    {{item.InspectionStatus}}
                                                </span>
                                            </td>
                                            <td>{{item.MaterialInDate}}</td>
                                            <td>{{item.InspectionResult}}</td>

                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.create8DReportMaster(item)" ng-show="item.InspectionStatus !== '未完成'">生成8D表单</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                @* 分页显示 *@
                                <div ng-if="vmManager.dataSource.length>0"
                                     yl-pagination data-dataset="vmManager.dataSets"
                                     data-datasource="vmManager.dataSource">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div bs-pane data-title="FQC资料查询" data-name="FQCTab">
                    <div class="well">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>序号</th>
                                        <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vmManager.businessHandleDatas track by $index">
                                        <td>{{item.RmaIdNumber}}</td>
                                        <td>
                                            <span ng-if="item.isHandle" class="label label-success">已处理</span>
                                            <button ng-if="!item.isHandle" class="btn btn-xs btn-primary" ng-click="operate.handleItem(item)" title="填写处理结果">
                                                待处理
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div bs-pane data-title="FPQC资料查询" data-name="FPQCTab">
                    <div class="well">

                    </div>
                </div>
                <div bs-pane data-title="其它" data-name="AntherTab">
                    <div class="well">

                    </div>
                </div>
            </div>


            <div class="row">
                <dialog ng-if="dialog.open" modal data-close="dialog.close()" style="width:60%">
                    <content dialog-title class="fa fa-bell">
                        <i class="fa fa-pencil-square">生成8D数据表</i>
                    </content>
                    <content dialog-content>
                        <div class="modal-body">
                            <form role="form" name="formSupGrade" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                                <div class="form-group">
                                    <label for="1" class="col-md-2 control-label">日期1</label>
                                    <div class="col-md-2">
                                        <input name="1" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                    <label for="2" class="col-md-2 control-label">日期2</label>
                                    <div class="col-md-2">
                                        <input name="2" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                    <label for="3" class="col-md-2 control-label">日期3</label>
                                    <div class="col-md-2">
                                        <input name="3" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="11" class="col-md-2 control-label">日期11</label>
                                    <div class="col-md-2">
                                        <input name="11" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                    <label for="22" class="col-md-2 control-label">日期12</label>
                                    <div class="col-md-2">
                                        <input name="22" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                    <label for="33" class="col-md-2 control-label">日期13</label>
                                    <div class="col-md-2">
                                        <input name="33" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="44" class="col-md-2 control-label">日期1</label>
                                    <div class="col-md-2">
                                        <input name="44" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                    <label for="55" class="col-md-2 control-label">日期2</label>
                                    <div class="col-md-2">
                                        <input name="55" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                    <label for="66" class="col-md-2 control-label">日期3</label>
                                    <div class="col-md-2">
                                        <input name="66" type="text" class="form-control" ng-model="vm.PlanTutorDate" format-date />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            @*保存 取消 *@
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary " ng-click="operate.savePurSupGradeDatas(formSupGrade.$valid)"><i class="fa fa-save"></i>保存</button>
                                        <button class="btn btn-default" ng-click="operate.cannel(formSupGrade.$valid)"><i class="fa fa-undo"></i>取消</button>
                                        <span yl-operatemsg-board></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </content>
                </dialog>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </tag>
</div>