<div class="panel panel-primary" ng-controller="create8DFormCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">创建8D报告单</h6>
    </div>
    <tag>
        <div class="panel-body">
            <div bs-tabs bs-active-pane="vmManager.activeTab" style="position:relative;" cg-busy="{promise:promise}">
                <div bs-pane data-title="IQC资料查询" data-name="initTab">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline" role="form">
                                    <div class="form-group ">
                                        <label class="control-label">IQC单号:</label>
                                        <input type="text" placeholder="IQC单号查询" ng-model="vmManager.iqcOrderId" class="form-control" />
                                        <button role="button" class="btn btn-primary" ng-click="vmManager.getQua8DCreateDatas()"><i class="fa fa-search"></i>查询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="editWindow">
                            <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                <table class="table table-striped table-hover table-bordered" style="table-layout:fixed;">
                                    <thead>
                                        <tr class="info">
                                            <th>单号</th>
                                            <th>品号</th>
                                            <th>品名</th>
                                            <th>供应商</th>
                                            <th>进货数量</th>
                                            <th>检测状态</th>
                                            <th>进货日期</th>
                                            <th>结果</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.dataSets track by $index">
                                            <td>{{item.OrderId}}</td>
                                            <td>{{item.MaterialId}}</td>
                                            <td>
                                                <span title="规格:{{item.MaterialSpec}}">{{item.MaterialName}}</span>
                                            </td>
                                            <td>{{item.MaterialSupplier}}</td>
                                            <td>{{item.MaterialCount}}</td>
                                            <td>
                                                <span title="检测方式:{{item.InspectionMode}}，检测日期:{{item.MaterialInDate}}">
                                                    {{item.InspectionStatus}}
                                                </span>
                                            </td>
                                            <td>{{item.MaterialInDate}}</td>
                                            <td>{{item.InspectionResult}}</td>

                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.create8DReportMaster(item)" ng-show="item.InspectionStatus !== '未完成'">生成8D表单</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                @* 分页显示 *@
                                <div ng-if="vmManager.dataSource.length>0"
                                     yl-pagination data-dataset="vmManager.dataSets"
                                     data-datasource="vmManager.dataSource">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div bs-pane data-title="FQC资料查询" data-name="FQCTab">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline" role="form">
                                    <div class="form-group ">
                                        <label class="control-label">FQC单号:</label>
                                        <input type="text" placeholder="FQC单号查询" ng-model="vmManager.iqcOrderId" class="form-control" />
                                        <button role="button" class="btn btn-primary" ng-click="vmManager.getQua8DCreateDatas()"><i class="fa fa-search"></i>查询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="editWindow">
                            <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                <table class="table table-striped table-hover table-bordered" style="table-layout:fixed;">
                                    <thead>
                                        <tr class="info">
                                            <th>单号</th>
                                            <th>品号</th>
                                            <th>品名</th>
                                            <th>供应商</th>
                                            <th>进货数量</th>
                                            <th>检测状态</th>
                                            <th>进货日期</th>
                                            <th>结果</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.dataSets track by $index">
                                            <td>{{item.OrderId}}</td>
                                            <td>{{item.MaterialId}}</td>
                                            <td>
                                                <span title="规格:{{item.MaterialSpec}}">{{item.MaterialName}}</span>
                                            </td>
                                            <td>{{item.MaterialSupplier}}</td>
                                            <td>{{item.MaterialCount}}</td>
                                            <td>
                                                <span title="检测方式:{{item.InspectionMode}}，检测日期:{{item.MaterialInDate}}">
                                                    {{item.InspectionStatus}}
                                                </span>
                                            </td>
                                            <td>{{item.MaterialInDate}}</td>
                                            <td>{{item.InspectionResult}}</td>

                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.create8DReportMaster(item)" ng-show="item.InspectionStatus !== '未完成'">生成8D表单</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                @* 分页显示 *@
                                <div ng-if="vmManager.dataSource.length>0"
                                     yl-pagination data-dataset="vmManager.dataSets"
                                     data-datasource="vmManager.dataSource">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div bs-pane data-title="FPQC资料查询" data-name="FPQCTab">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline" role="form">
                                    <div class="form-group ">
                                        <label class="control-label">FPQC单号:</label>
                                        <input type="text" placeholder="FPQC单号查询" ng-model="vmManager.iqcOrderId" class="form-control" />
                                        <button role="button" class="btn btn-primary" ng-click="vmManager.getQua8DCreateDatas()"><i class="fa fa-search"></i>查询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="editWindow">
                            <div class="table-responsive" style="min-height:500px;" cg-busy="{promise:searchPromise}">
                                <table class="table table-striped table-hover table-bordered" style="table-layout:fixed;">
                                    <thead>
                                        <tr class="info">
                                            <th>单号</th>
                                            <th>品号</th>
                                            <th>品名</th>
                                            <th>供应商</th>
                                            <th>进货数量</th>
                                            <th>检测状态</th>
                                            <th>进货日期</th>
                                            <th>结果</th>
                                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vmManager.dataSets track by $index">
                                            <td>{{item.OrderId}}</td>
                                            <td>{{item.MaterialId}}</td>
                                            <td>
                                                <span title="规格:{{item.MaterialSpec}}">{{item.MaterialName}}</span>
                                            </td>
                                            <td>{{item.MaterialSupplier}}</td>
                                            <td>{{item.MaterialCount}}</td>
                                            <td>
                                                <span title="检测方式:{{item.InspectionMode}}，检测日期:{{item.MaterialInDate}}">
                                                    {{item.InspectionStatus}}
                                                </span>
                                            </td>
                                            <td>{{item.MaterialInDate}}</td>
                                            <td>{{item.InspectionResult}}</td>

                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="vmManager.create8DReportMaster(item)" ng-show="item.InspectionStatus !== '未完成'">生成8D表单</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                @* 分页显示 *@
                                <div ng-if="vmManager.dataSource.length>0"
                                     yl-pagination data-dataset="vmManager.dataSets"
                                     data-datasource="vmManager.dataSource">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div bs-pane data-title="其它" data-name="AntherTab">
                    <div class="well">
                        <div class="gridster">
                            <form role="form" name="formSupGrade" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                                @*ReportId, DiscoverPosition, AccountabilityDepartment, OrderId, MaterialName, MaterialSpec,
                                    InPutHouseOrder, MaterialCount, InspectNumber, FailQty, FailClass, CreateReportDate, Status,*@
                                <div class="form-group">
                                    <div class="col-md-4 ">
                                        <label for="reportId" class="col-md-4 control-label"> No.</label>
                                        <div class="col-md-8">
                                            <input name="reportId" type="text" readonly="readonly" class="form-control" ng-model="vm.ReportId" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="discoverPosition" class="col-md-3 control-label">来源:</label>
                                        <div class="col-lg-9 input-group">
                                            <input name="discoverPositionName" placeholder="来源名称" class="form-control" ng-model="vm.DiscoverPosition" required />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary" ng-model="vm.DiscoverPosition" ng-change="vmManager.SelectDiscoverPosition()"
                                                        data-html="1" data-ng-multiple="0" data-animation="am-flip-x" data-placeholder="来源(内/外)"
                                                        data-bs-options="item.id as item.text for item in vmManager.DiscoverPositions" data-bs-select></button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-md-4 ">
                                        <label for="createReportDate" class="col-md-4 control-label">日期：</label>
                                        <div class="col-lg-8">
                                            <input name="createReportDate" type="date" class="form-control" ng-model="vm.CreateReportDate" format-date />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-4 ">
                                        <label for="accountabilityDepartment" class="col-md-6 control-label">责任单位:</label>
                                        <div class="col-md-6">
                                            <input name="accountabilityDepartment" type="text" class="form-control" ng-model="vm.AccountabilityDepartment" format-date />
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <label for="materialName" class="col-md-4 control-label">品名:</label>
                                        <div class="col-md-8">
                                            <input name="materialName" type="text" class="form-control" ng-model="vm.MaterialName" format-date />
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <label for="materialSpec" class="col-md-6 control-label">规格:</label>
                                        <div class="col-md-6">
                                            <input name="materialSpec" type="text" class="form-control" ng-model="vm.MaterialSpec" format-date />
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="inPutHouseOrder" class="col-md-2 control-label">交货单/入库单号: </label>
                                    <div class="col-md-2">
                                        <input name="inPutHouseOrder" type="text" class="form-control" ng-model="vm.OrderId" format-date />
                                    </div>
                                    <label for="materialCount" class="col-md-2 control-label">批 量:</label>
                                    <div class="col-md-2">
                                        <input name="materialCount" type="text" class="form-control" ng-model="vm.MaterialCount" format-date />
                                    </div>
                                    <label for="inspectNumber" class="col-md-2 control-label">检验数</label>
                                    <div class="col-md-2">
                                        <input name="inspectNumber" type="text" class="form-control" ng-model="vm.InspectNumber" format-date />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="failQty" class="col-md-2 control-label">不良数:</label>
                                    <div class="col-md-2">
                                        <input name="failQty" type="text" class="form-control" ng-model="vm.FailQty" format-date />
                                    </div>
                                    <label for="failClass" class="col-md-2 control-label">不良类别:</label>
                                    <div class="col-md-2">
                                        <input name="failClass" type="text" class="form-control" ng-model="vm.FailClass" format-date />
                                    </div>
                                    <label for="66" class="col-md-2  control-label">检验数:</label>
                                    <div class="col-md-2">
                                        <input name="66" type="text" class="form-control" ng-model="vm.InspectNumber" format-date />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            @*保存 取消 *@
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary " ng-click="operate.savePurSupGradeDatas(formSupGrade.$valid)"><i class="fa fa-save"></i>保存</button>
                                        <button class="btn btn-default" ng-click="operate.cannel(formSupGrade.$valid)"><i class="fa fa-undo"></i>取消</button>
                                        <span yl-operatemsg-board></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <dialog ng-if="dialog.open" modal data-close="dialog.close()" style="width:80%">
                    <content dialog-title class="fa fa-bell">
                        <i class="fa fa-pencil-square">生成8D数据表</i>
                    </content>
                    <content dialog-content>
                        @*标题*@
                        <div class="brand-info text-center">
                            <h1>光圣科技(宁波)有限公司</h1>
                            <h1> <small>产品不合格处理单(单头)</small> </h1>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <table class="table table-bordered table-striped">
                                    <colgroup>
                                        <col />
                                        <col />
                                        <col />
                                        <col style="width:10%" />
                                        <col style="width:50%" />
                                        <col />
                                        <col />
                                        <col />
                                    </colgroup>
                                    <tbody class="col-md-12">
                                        <tr>
                                            <td colspan="2" class="text-left">
                                                <label class="text-right col-md-1" for="createReportDate">日期:</label>
                                            </td>
                                            <td colspan="2">
                                                <input name="createReportDate" type="date" class="form-control col-md-3" ng-model="vm.CreateReportDate" format-date required />
                                                <div class="error-messages" ng-messages="form8DCreateData.createReportDate.$error" ng-show="operate.showValidation">
                                                    <small ng-message="required">日期不能为空</small>
                                                </div>
                                            </td>


                                            <td>
                                                <label for="discoverPosition" class="text-right col-md-1">来源:</label>
                                            </td>
                                            <td colspan="4">
                                                <div class="input-group">
                                                    <input name="discoverPositionName" placeholder="来源名称" class="form-control col-md-3" ng-model="vm.DiscoverPosition" required />
                                                    <div class="error-messages" ng-messages="form8DCreateData.discoverPositionName.$error" ng-show="operate.showValidation">
                                                        <small ng-message="required">来源不能为空</small>
                                                    </div>
                                                    <span class="input-group-btn">
                                                        <checkbox type="checkbox" class="btn btn-primary" ng-model="vm.DiscoverPosition"
                                                                  data-html="1" data-ng-multiple="0" data-animation="am-flip-x" data-placeholder="内部制造"
                                                                  data-bs-options="item.id as item.text for item in vmManager.DiscoverPositions" data-bs-select></checkbox>
                                                    </span>
                                                </div>
                                            </td>


                                            <td>
                                                <label for="reportId" class="text-right col-md-1">No:</label>
                                            </td>
                                            <td colspan="2">
                                                <input name="reportId" type="text" readonly="readonly" class="form-control col-md-3" ng-model="vm.ReportId" />
                                                <div class="error-messages" ng-messages="form8DCreateData.reportId.$error" ng-show="operate.showValidation">
                                                    <small ng-message="required">单号不能为空</small>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <label for="accountabilityDepartment" class="control-label">责任单位:</label>
                                            </td>
                                            <td colspan="2">
                                                <input name="accountabilityDepartment" type="text" class="form-control" ng-model="vm.AccountabilityDepartment" />
                                            </td>


                                            <td>
                                                <label for="materialSpec" class="control-label">品名:</label>
                                            </td>
                                            <td colspan="4">
                                                <input name="materialSpec" type="text" class="form-control" ng-model="vm.MaterialSpec" />
                                            </td>

                                            <td>
                                                <label for="materialSpec" class="control-label">规格:</label>
                                            </td>
                                            <td colspan="2">
                                                <input name="materialSpec" type="text" class="form-control" ng-model="vm.MaterialSpec" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <label for="inPutHouseOrder" class="control-label">交货单/入库单号: </label>
                                            </td>
                                            <td colspan="2">
                                                <input name="inPutHouseOrder" type="text" class="form-control" ng-model="vm.OrderId" />
                                            </td>
                                            <td>
                                                <label for="materialCount" class="control-label">批 量:</label>
                                            </td>
                                            <td colspan="2">
                                                <input name="materialCount" type="number" class="form-control" ng-model="vm.MaterialCount" />
                                            </td>
                                            <td>
                                                <label for="inspectNumber" class="control-label">检验数</label>
                                            </td>
                                            <td>
                                                <input name="inspectNumber" type="text" class="form-control" ng-model="vm.InspectNumber" />
                                            </td>

                                            <td>
                                                <label for="failQty" class="control-label">不良数:</label>
                                            </td>
                                            <td colspan="2">
                                                <input name="failQty" type="text" class="form-control" ng-model="vm.FailQty" />
                                            </td>

                                        </tr>

                                        @*提报单位*@
                                        <tr>
                                            <td rowspan="5">
                                                <label>(一)异常说明</label>
                                            </td>
                                            <td rowspan="4" colspan="10" style="height:inherit; text-overflow: ellipsis;">
                                                <textarea rows="3" name="badDescription" class="form-control" required />
                                            </td>

                                            <td rowspan="5" style="vertical-align: middle !important;text-align: center;">
                                                提报单位
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr>
                                            <td colspan="7"></td>
                                            <td>
                                                <label>提报人：</label>
                                            </td>
                                            <td>
                                                <input type="text" />
                                            </td>
                                        </tr>

                                        @*提报单位*@
                                        <tr>
                                            <td rowspan="5">
                                                <label>(一)异常说明</label>
                                            </td>
                                            <td rowspan="4" colspan="10" style="height:inherit; text-overflow: ellipsis;">
                                                <textarea rows="3" name="badDescription" class="form-control" required />
                                            </td>

                                            <td rowspan="5" style="vertical-align: middle !important;text-align: center;">
                                                提报单位
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr>
                                            <td colspan="7"></td>
                                            <td>
                                                <label>提报人：</label>
                                            </td>
                                            <td>
                                                <input type="text" />
                                            </td>
                                        </tr>
                                        @*责任 单 位*@
                                        <tr>
                                            <td rowspan="5">
                                                <label>(二)处理人员</label>
                                            </td>
                                            <td rowspan="4" colspan="10" style="height:inherit; text-overflow: ellipsis;">
                                                <textarea rows="3" name="badDescription" class="form-control" required />
                                            </td>

                                            <td rowspan="5" style="vertical-align: middle !important;text-align: center;">
                                                责任单位
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr>
                                            <td colspan="7"></td>
                                            <td>
                                                <label>提报人：</label>
                                            </td>
                                            <td>
                                                <input type="text" />
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="modal-footer">
                            @*保存 取消 *@
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary " ng-click="operate.saveAll(form8DCreateData.$valid)"><i class="fa fa-save"></i>保存</button>
                                        <button class="btn btn-default" ng-click="operate.Cancel()"><i class="fa fa-undo"></i>取消</button>
                                        <span yl-operatemsg-board></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </content>
                </dialog>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </tag>
</div>