
<div class="panel panel-primary" ng-controller="Handle8DFormCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>8D处理模块</h6>
    </div>

    <div class="panel-body">
        <div class="row">
            @*查询所得数据列表*@
            <div class="col-md-12">
                <form class="form-inline" cg-busy="{promise:searchPromise}">
                    <div class="form-group">
                        <label>单号</label>
                        <input type="text" placeholder="按8D单号查询" ng-model="vm.ReportId" ng-keypress="($event.which === 13)?vmManager.getQua8DCreateDatas():0">
                        <button class="btn btn-xs btn-primary" ng-click="vmManager.query8DStepDatas()" type="button">查询</button>
                    </div>
                </form>
            </div>
        </div>

        @*8步骤信息展示*@
        <div cg-busy="{promise:promise}">
            <div class="row">
                <div class="pull-left">
                    <ul class="list-group">
                        @*抬头*@
                        <li class="list-group-item active">
                            <h5 class="list-group-item-heading">
                                @*<i class="fa fa-user"></i>*@
                                <span class="fa fa-list-ul">处理步骤</span>
                                <span class="pull-right">
                                    <button type="button"
                                            ng-class="vmManager.stepDisplay!=false?'btn btn-xs btn-defulat':'btn btn-xs btn-success'"
                                            ng-model="vmManager.stepDisplay" bs-checkbox>
                                        <span ng-show="vmManager.stepDisplay===false"><i class="fa fa-hand-o-right"></i></span>
                                        <span ng-show="vmManager.stepDisplay"><i class="fa fa-hand-o-left "></i></span>
                                    </button>
                                </span>
                            </h5>
                        </li>
                        @*下面展示内容*@
                        <li class="list-group-item" ng-show="vmManager.stepDisplay">
                            <ul class="nav nav-pills" style="max-height:420px;overflow-y:auto">
                                @*<li ng-repeat="step in vmManager.steps track by $index">*@
                                <li>
                                    <div class="bs-callout bs-callout-success" style="width:auto;margin:2px;cursor:pointer">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                                <tr ng-repeat="item in vmManager.steps track by $index">
                                                    <td>
                                                        <span ng-class="item.IsCheck==true?'label label-info ':'label label-primary'"> {{item.StepId}} </span>
                                                    </td>
                                                    <td>{{item.StepTitle}}</td>
                                                    <td>
                                                        <button type="button" ng-show="item.IsCheck==true" class="btn btn-info btn-xs" ng-click="vmManager.selectStep(item)"><i class="fa fa-share"></i></button>
                                                        <button type="button" ng-show="item.IsCheck==false" class="btn btn-primary btn-xs" ng-click="vmManager.selectStep(item)"><i class="fa fa-pencil-square-o" /></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">
                            <span><i class="glyphicon glyphicon-apple"></i>处理步骤详情</span>
                            <button type="button"
                                    class="btn btn-xs btn-primary" ng-click="vmManager.showMasterData()">
                                <span ng-show="vmManager.IsShowMasterData!=true"> <i class="fa fa-angle-double-down"></i></span>
                                <apan ng-show="vmManager.IsShowMasterData===true"><i class="fa fa-angle-double-up"></i></apan>
                            </button>
                        </li>
                    </ul>
                    @*查询所得初建表头信息*@
                    <div ng-show="vmManager.IsShowMasterData===true">
                        <div class="row clearfix">
                            <div class="col-md-12 well">

                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <label>日期:</label>
                                            {{vmManager.reportMasterInfo.CreateReportDate}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>来源:</label>
                                            {{vmManager.reportMasterInfo.DiscoverPosition}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>责任单位:</label>
                                            {{vmManager.reportMasterInfo.AccountabilityDepartment}}
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <label>品名:</label>
                                            {{vmManager.reportMasterInfo.MaterialName}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>规格:</label>
                                            {{vmManager.reportMasterInfo.MaterialSpec}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>交货单/入库单号:</label>
                                            {{vmManager.reportMasterInfo.OrderId}}
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <label>批量:</label>
                                            {{vmManager.reportMasterInfo.MaterialCount}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>检验数:</label>
                                            {{ vmManager.reportMasterInfo.InspectCount }}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>不良类别: </label>
                                            {{vmManager.reportMasterInfo.FailClass}}
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <label>不良数:</label>
                                            {{vmManager.reportMasterInfo.FailQty}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label>不良率:</label>
                                            {{ vmManager.reportMasterInfo.FailRatio }}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*展示*@
                    <div class="panel-group" role="tablist" ng-model="vmManager.viewDataset.activePanel" style="max-height:650px;overflow-y:auto" aria-multiselectable="true" bs-collapse>
                        <div class="panel panel-primary" ng-repeat="item in vmManager.viewDataset track by $index">
                            @*列表标题*@
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a bs-collapse-toggle>
                                        {{item.StepId}} : {{item.VmDatas.StepTitle}}
                                    </a>
                                </h4>
                            </div>
                            @*列表展示详细部分*@
                            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                <div class="panel-body">
                                    @*<ul class="nav nav-pills info" style="max-height:400px;overflow-y:auto">*@

                                    <div class="form-group">
                                        <from name="form8DHandelData" role="form">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">主旨：</span>
                                                    <input type="text" class="form-control" ng-model="vm.StepDescription" />
                                                    <div class="error-messages" ng-messages="form8DHandelData.StepDescription.$error" ng-show="operate.showValidation">
                                                        <small ng-message="required">表单主题不能为空</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @*<label for="stepHandleContent" class="col-md-2 control-label">内容</label>
                                                    <div class="col-md-10">
                                                            <script id="stepHandleContent" type="text/plain">
                                                            </script>
                                                        </div>*@
                                                <textarea rows="4" name="stepHandleContent" class="form-control" placeholder="依标题填充详细内容" ng-model="vm.StepHandleContent" required />
                                                <div class="error-messages" ng-messages="form8DHandelData.stepHandleContent.$error" ng-show="operate.showValidation">
                                                    <small ng-message="required">不能为空</small>
                                                </div>
                                            </div>
                                            <div class="form-inline" role="form">
                                                @* 上传附件 *@
                                                <div class="col-md-2 pull-left">
                                                    <div yl-upload-file></div>
                                                    <div ng-if="vmManager.isdisabled ">{{vm.FileName}}</div>
                                                </div>
                                                <label class="col-md-2" name="signaturePersons" role="form">责任单位:</label>
                                                <input class="col-md-8 " type="text" name="signaturePersons" role="form" placeholder="签名(以逗号隔开)" ng-model="vm.SignaturePersons" required />
                                                <div class="error-messages" ng-messages="form8DHandelData.signaturePersons.$error" ng-show="operate.showValidation">
                                                    <small ng-message="required">不能为空</small>
                                                </div>
                                            </div>
                                        </from>
                                        <div class="pull-right">
                                            <button class="btn btn-xs btn-info" ng-click="operate.saveDatas()" cg-busy="{promise:savePromise}">
                                                <i class="fa fa-save"></i> 保存
                                            </button>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>