<div class="panel panel-default" ng-controller="proUserRegistCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>人员管理</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:promise}">
        <div bs-tabs bs-active-pane="vmManager.activeTab">
            <div bs-pane data-title="添加人员" data-name="initTab">
            </div>
            <div bs-pane data-title="修改信息" data-name="editTab">
                <div class="well">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label>作业工号</label>
                                </div>
                                <input type="text" class="form-control" ng-model="vmManager.WorkerId" ng-keypress="vmManager.searchWorker($event)" placeholder="输入作业工号后请按下回车键" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <form name="formRegist" class="form-horizontal" novalidate role="form">
                        <div class="form-group">
                            <label for="workerId" class="col-md-2 control-label">作业工号</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="workerId" class="form-control" ng-model="vm.WorkerId" ng-change="vmManager.getWorkerName('WorkerName')" required />
                                    <div class="error-messages" ng-messages="formRegist.workerId.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">作业工号不能为空</small>
                                    </div>
                                    <div class="input-group-addon">
                                        <label>{{vm.WorkerName}}</label>
                                        <input name="workerName" class="form-control" ng-model="vm.WorkerName" ng-show="false" required />
                                        <div class="error-messages" ng-messages="formRegist.workerName.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">作业姓名不能为空</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label for="leadWorkerId" class="col-md-2 control-label">上级工号</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="leadWorkerId" class="form-control" ng-model="vm.LeadWorkerId" ng-change="vmManager.getWorkerName('LeadWorkerName')" required />
                                    <div class="error-messages" ng-messages="formRegist.leadWorkerId.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">上级工号不能为空</small>
                                    </div>
                                    <div class="input-group-addon">
                                        <label>{{vm.LeadWorkerName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="department" class="col-md-2 control-label">所属部门</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="department" class="form-control" ng-model="vm.Department" readonly required />
                                    <div class="error-messages" ng-messages="formRegist.department.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">部门不能为空</small>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" style="margin-bottom:6px;" ng-click="archive.selectDepartment()"
                                                data-title="选择部门名称"
                                                data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                                                data-animation="am-flip-x" data-auto-close="1"
                                                data-bs-popover>
                                            <i class="fa fa-sitemap"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <label for="post" class="col-md-2 control-label">所属角色</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="post" class="form-control" ng-model="vm.Post" readonly required />
                                    <div class="error-messages" ng-messages="formRegist.post.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">所属角色不能为空</small>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary"
                                                data-animation="am-flip-x"
                                                bs-dropdown aria-haspopup="true" aria-expanded="false">
                                            <span class="fa fa-chevron-circle-down"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <ul class="nav nav-pills">
                                                <li ng-repeat="item in vmManager.roles track by $index" ng-click="vm.Post=item.RoleName">
                                                    <a href="#">{{item.RoleName}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="isPostKey" class="col-md-2 control-label">关键岗位</label>
                            <div class="col-md-4">
                                <button type="button" ng-class="vmManager.isPostKey===false?'btn btn-defulat':'btn btn-primary'"
                                        ng-model="vmManager.isPostKey" bs-checkbox>
                                    <span ng-class="vmManager.isPostKey===false?'fa fa-square-o':'fa fa-check-square'"></span>
                                </button>
                            </div>

                            <label for="postType" class="col-md-2 control-label">直接间接</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="postType" class="form-control" ng-model="vm.PostType" readonly />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary"
                                                data-animation="am-flip-x"
                                                bs-dropdown aria-haspopup="true" aria-expanded="false">
                                            <span class="fa fa-chevron-circle-down"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <ul class="nav nav-pills">
                                                <li ng-repeat="item in vmManager.postTypes track by $index" ng-click="vm.PostType=item.text">
                                                    <a href="#">{{item.text}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-2">
                                <div yl-operatemsg-board></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-2">
                                <button type="submit" class="btn btn-primary" ng-click="operate.registUser(formRegist.$valid)">保存</button>
                                <button type="button" class="btn btn-default" ng-click="operate.cancel()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>