<div class="popover" tabindex="-1" style="min-width:300px;max-width:310px;min-height:420px;max-height:430px">
    <div class="arrow"></div>
    <h3 class="popover-title">
        <i class="fa fa-sitemap"></i>{{title}}
    </h3>
    <div class="popover-content">
        <h5 class="page-header">
            <span>变动日期</span>
            <input type="date" ng-model="vmManager.assignDate" format-date />
        </h5>
        <div>
            <h5 class="page-header">
                <span>部门信息</span>
            </h5>
            <ul data-yl-tree cg-busy="{promise:treeLoadPromise}"
                data-tree-dataset="ztree.configDataNodes"
                data-start-load="ztree.startLoad"
                ng-model="ztree.treeNode"
                data-binding-nodevm="ztree.bindNodeToVm()"
                id="{{ztree.treeId}}" class="ztree"></ul>
        </div>
    </div>
</div>