<div class="panel panel-primary" ng-controller="wfInternalContactFormCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">创建内部联络单</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <form role="form" name="formContact" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                    <div class="form-group">
                        <label for="orderId" class="col-md-2 control-label">单号</label>
                        <div class="col-md-6">
                            <input name="orderId" class="form-control" ng-model="vm.OrderId" readonly required />
                            <div class="error-messages" ng-messages="formContact.orderId.$error" ng-show="operate.showValidation">
                                <small ng-message="required">单号不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formSubject" class="col-md-2 control-label">主旨</label>
                        <div class="col-md-10">
                            <input name="formSubject" class="form-control" ng-model="vm.FormSubject" required />
                            <div class="error-messages" ng-messages="formContact.formSubject.$error" ng-show="operate.showValidation">
                                <small ng-message="required">表单主题不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formContent" class="col-md-2 control-label">内容</label>
                        <div class="col-md-10">
                            <script id="formContent" type="text/plain">
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="applyDepartment" class="col-md-2 control-label">申请人及单位</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input name="applyDepartment" class="form-control" ng-model="vm.ApplyDepartment" readonly required />
                                <div class="error-messages" ng-messages="formContact.applyDepartment.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">申请单位不能为空</small>
                                </div>
                                <div class="input-group-btn">
                                    <span class="btn btn-primary"><i class="fa fa-location-arrow"></i></span>
                                </div>
                            </div>

                        </div>
                        <label for="applyDate" class="col-md-2 control-label">申请日期</label>
                        <div class="col-md-2">
                            <input name="applyDate" type="date" format-date class="form-control" ng-model="vm.ApplyDate" required />
                            <div class="error-messages" ng-messages="formContact.applyDate.$error" ng-show="operate.showValidation">
                                <small ng-message="required">申请日期不能为空</small>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="applyPerson" class="col-md-2 control-label">申请人</label>
                            <div class="col-md-4">
                                <input name="applyPerson" class="form-control" ng-model="vm.ApplyPerson" required />
                                <div class="error-messages" ng-messages="formContact.applyPerson.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">申请人不能为空</small>
                                </div>
                            </div>
                        </div>*@
                    <hr />
                    <div class="form-group">
                        <label for="relatedToPerson" class="col-md-2 control-label">相关人及单位</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input name="relatedToPerson" class="form-control" readonly ng-model="vm.RelatedToPerson" required />
                                <div class="error-messages" ng-messages="formContact.relatedToPerson.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">相关人不能为空</small>
                                </div>
                                <div class="input-group-btn">
                                    <span class="btn btn-primary" ng-click="vmManager.selectDerpartment()"><i class="fa fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                        <label for="approver" class="col-md-2 control-label">核准人</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input name="approver" class="form-control" readonly ng-model="vm.Approver" required />
                                <div class="error-messages" ng-messages="formContact.approver.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">核准人不能为空</small>
                                </div>
                                <div class="input-group-btn">
                                    <span class="btn btn-primary"><i class="fa fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="relatedToDepartment" class="col-md-2 control-label">相关单位</label>
                            <div class="col-md-4">
                                <input name="relatedToDepartment" class="form-control" ng-model="vm.RelatedToDepartment" required />
                                <div class="error-messages" ng-messages="formContact.relatedToDepartment.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">相关单位不能为空</small>
                                </div>
                            </div>
                        </div>*@
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10">
                                <button class="btn btn-primary" ng-click="operate.saveAll(formContact.$valid)"><i class="fa fa-save"></i>创建</button>
                                <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">

            </div>
        </div>


        <dialog ng-if="dialog.open" modal data-close="dialog.close()" style="width:65%">
            <content dialog-title>
                <i class="fa fa-pencil-square">选择用人单位及人员</i>
            </content>
            <content dialog-content style="width:100%;">

            </content>
        </dialog>
    </div>


    <button id="btnShow" ng-click="show()">显示</button>
</div>