<div class="panel panel-primary" ng-controller="astInputCheckRecordCtrl">
    <div bs-tabs bs-active-pane="vmManager.activeTab" cg-busy="{promise:promise}">
        <div bs-pane data-title="登记校验记录" data-name="initTab">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" name="formCheckRecord" novalidate class="form-inline" onkeypress="if (event.keyCode === 13) return false;">
                            <div class="form-group">
                                <label for="checkDate" class="control-label">校验日期</label>
                                <input name="checkDate" type="date" class="form-control" ng-model="vm.CheckDate" format-date required />
                                <div class="error-messages" ng-messages="formCheckRecord.checkDate.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">校验日期不能为空</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="assetNumber" class="control-label">财产编号</label>
                                <input name="assetNumber" class="form-control" ng-model="vm.AssetNumber" required />
                                <div class="error-messages" ng-messages="formCheckRecord.assetNumber.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">财产编号不能为空</small>
                                </div>
                                <span class="btn btn-primary" ng-click="vmManager.getAstCheckList()"><i class="fa fa-save"></i>保存</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="well" cg-busy="{promise:searchPromise}">
                <div class="row">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>财产编号</th>
                                        <th>设备名称</th>
                                        <th>校验日期</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vmManager.datasets track by $index">
                                        <th>{{item.AssetNumber}}</th>
                                        <th>{{item.EquipmentName}}</th>
                                        <th>{{item.CheckDate}}</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div yl-pagination
                                 data-datasource="vmManager.datasource"
                                 data-dataset="vmManager.datasets">
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>