<div class="panel panel-default" ng-controller="astInputRecordCtrl">
    <div class="container">

        <div class="row clearfix col-md-12 column">
            <h3 class="text-center"> 设备维修单</h3>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 column">
                <label class="control-label">设备名称:</label>
            </div>
            <div class="col-md-4 column">
                <label class="control-label">保管部门:</label>
            </div>
            <div class="col-md-4 column">
                <label class="control-label">制造编号:</label>
            </div>
        </div>

        <hr />

        <div class="row clearfix ">
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">财产编号:</span>
                    <input type="text" class="form-control" placeholder="输入财产编号">
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">表单编号:</span>
                    <input type="text" class="form-control" placeholder="输入维修单编号">
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">报修日期:</span>
                    <input type="date" class="form-control" placeholder="输入报修日期">
                </div>
            </div>
        </div>

        <br />

        <div class="row clearfix ">
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">维修人:</span>
                    <input name="safekeepUser" class="form-control" data-ensure-user-exist
                           ng-change="vmManager.getWorkerInfo()"
                           placeholder="输工号或姓名" ng-model="vm.SafekeepUser" required />
                    <div class="error-messages" ng-messages="formEquipment.safekeepUser.$error" ng-if="formEquipment.safekeepUser.$touched">
                        <small ng-message="checkingUserExist">该用户名不存在...</small>
                    </div>
                    <div class="error-messages" ng-messages="formEquipment.safekeepUser.$error" ng-show="operate.showValidation">
                        <small ng-message="required">保管人不能为空</small>
                    </div>
                    <div class="input-group-addon" ng-show="vmManager.isSingle">
                        <label class="label label-primary"> <i class="fa fa-user"></i> {{vm.SafekeepUser}}</label>
                    </div>
                    <div class="input-group-btn" ng-hide="vmManager.isSingle">
                        <button type="button" class="btn btn-primary"
                                data-animation="am-flip-x"
                                bs-dropdown aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-chevron-circle-down"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <ul class="list-group">
                                <li class="list-group-item" style="cursor:pointer" ng-click="vmManager.selectWorker(worker)"
                                    ng-repeat="worker in vmManager.searchedWorkers track by $index" data-title="岗位：{{worker.Post}}" data-bs-tooltip>
                                    <i class="fa fa-user"></i>
                                    <span class="label label-primary">工号：{{worker.WorkerId}}</span>|
                                    <span>姓名：{{worker.Name}}</span>|
                                    <span>部门：{{worker.Department}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">维修日期:</span>
                    <input type="date" class="form-control" placeholder="输入开始维修日期">
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">完成日期:</span>
                    <input type="date" class="form-control" placeholder="输入维修完成日期">
                </div>
            </div>
        </div>

        <br />

        <div class="row clearfix ">
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">维修结果:</span>
                    <input type="text" class="form-control" placeholder="输入或选择维修结果">
                    <div class="input-group-btn" ng-hide="vmManager.isSingle">
                        <button type="button" class="btn btn-primary"
                                data-animation="am-flip-x"
                                bs-dropdown aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-chevron-circle-down"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <ul class="list-group">
                                <li class="list-group-item" style="cursor:pointer" ng-click="vmManager.selectWorker(worker)"
                                    ng-repeat="worker in vmManager.searchedWorkers track by $index" data-title="岗位：{{worker.Post}}" data-bs-tooltip>
                                    <i class="fa fa-user"></i>
                                    <span class="label label-primary">工号：{{worker.WorkerId}}</span>|
                                    <span>姓名：{{worker.Name}}</span>|
                                    <span>部门：{{worker.Department}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">耗时:</span>
                    <input name="serviceLife" type="number" class="form-control" ng-model="vm.ServiceLife" placeholder="输入维修所用时长" required />
                    <div class="input-group-addon">
                        <label class="label label-primary">月</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="input-group">
                    <span class="input-group-addon">确认人:</span>
                    <input name="safekeepUser" class="form-control" data-ensure-user-exist
                           ng-change="vmManager.getWorkerInfo()"
                           placeholder="输工号或姓名" ng-model="vm.SafekeepUser" required />
                    <div class="error-messages" ng-messages="formEquipment.safekeepUser.$error" ng-if="formEquipment.safekeepUser.$touched">
                        <small ng-message="checkingUserExist">该用户名不存在...</small>
                    </div>
                    <div class="error-messages" ng-messages="formEquipment.safekeepUser.$error" ng-show="operate.showValidation">
                        <small ng-message="required">保管人不能为空</small>
                    </div>
                    <div class="input-group-addon" ng-show="vmManager.isSingle">
                        <label class="label label-primary"> <i class="fa fa-user"></i> {{vm.SafekeepUser}}</label>
                    </div>
                    <div class="input-group-btn" ng-hide="vmManager.isSingle">
                        <button type="button" class="btn btn-primary"
                                data-animation="am-flip-x"
                                bs-dropdown aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-chevron-circle-down"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <ul class="list-group">
                                <li class="list-group-item" style="cursor:pointer" ng-click="vmManager.selectWorker(worker)"
                                    ng-repeat="worker in vmManager.searchedWorkers track by $index" data-title="岗位：{{worker.Post}}" data-bs-tooltip>
                                    <i class="fa fa-user"></i>
                                    <span class="label label-primary">工号：{{worker.WorkerId}}</span>|
                                    <span>姓名：{{worker.Name}}</span>|
                                    <span>部门：{{worker.Department}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row clearfix ">
            <div class="col-md-12 column">
                <label>故障描述:</label>
            </div>
        </div>



        <div class="row clearfix ">
            <div class="col-md-12 column">
                <textarea rows="4" class="form-control" />
            </div>
        </div>

        <br />

        <div class="row clearfix ">
            <div class="col-md-12 column">
                <label>解决方法:</label>
            </div>
        </div>

        <div class="row clearfix ">
            <div class="col-md-12 column">
                <textarea rows="4" class="form-control" />
            </div>
        </div>


        <br />

        <div class="row clearfix">

            <div class="col-md-4 column">

            </div>
            <div class="col-md-4 column">
                <button class="btn btn-primary " ng-click="operate.saveAll(formEquipment.$valid)"><i class="fa fa-save"></i>保存</button>
                <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>

    </div>
</div>