@{
    ViewBag.Title = "设备维修单";
}
<h3 class="text-center">设备维修记录</h3>
<div class="panel panel-info" ng-controller="astInputRecordCtrl">

    <div bs-tabs bs-active-pane cg>
        <div >
            <p>你输入的为： {{ firstName }}</p>
            <p>你输入的为： {{ firstName }}</p>
            <p>你输入的为： {{ firstName }}</p>
            <span class="label label-primary">设备名称</span>
            <span class="label label-primary">设备名称</span>
            <span class="label label-primary">设备名称</span>
        </div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
            <li role="presentation" class="divider"></li>
        </ul>
        
    </div>
    







</div>