@{
    ViewBag.Title = "设备维修单";
}
<div class="panel panel-default" ng-controller="astInputRecordCtrl">
  
    <div class="row">
        <div class="col-md-8">
            <div class="well">           
                <form role="form" name="formEquipment" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                    <fieldset>
                        <div class="form-group">
                            <label for="equipmentName" class="col-md-2 control-label">设备名称</label>
                            <div class="col-md-4">
                                <input name="equipmentName" ng-model="vm.EquipmentName" required />
                                <div class="error-messages" ng-messages="formEquipment.equipmentName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">设备名称不能为空</small>
                                </div>
                            </div>
                            <label for="equipmentSpec" class="col-md-2 control-label">规格型号</label>
                            <div class="col-md-4">
                                <input name="equipmentSpec" ng-model="vm.EquipmentSpec" required />
                                <div class="error-messages" ng-messages="formEquipment.equipmentSpec.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">规格型号不能为空</small>
                                </div>
                            </div>

                        </div>

                        <div class="form-group" ng-show="vm.TaxType==='保税'">
                            <label for="freeOrderNumber" class="col-md-2 control-label">免单号</label>
                            <div class="col-md-4">
                                <input name="freeOrderNumber" class="form-control" ng-model="vm.FreeOrderNumber" />
                            </div>
                            <label for="declarationNumber" class="col-md-2 control-label">报关单号</label>
                            <div class="col-md-4">
                                <input name="declarationNumber" class="form-control" ng-model="vm.DeclarationNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deliveryDate" class="col-md-2 control-label">购入日期</label>
                            <div class="col-md-4">
                                <input name="deliveryDate" type="date" class="form-control" ng-model="vm.DeliveryDate" required />
                                <div class="error-messages" ng-messages="formEquipment.deliveryDate.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">购入日期不能为空</small>
                                </div>
                            </div>
                            <label for="addMode" class="col-md-2 control-label">增加方式</label>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default" ng-model="vm.AddMode" data-html="1" data-multiple="0"
                                        data-animation="am-flip-x" data-placeholder="外购"
                                        bs-options="item.text as item.text for item in vmManager.addModes" bs-select>
                                    <span class="caret"></span>
                                </button>
                                <input name="addMode" class="form-control" ng-model="vm.AddMode" ng-show="false" required />
                                <div class="error-messages" ng-messages="formEquipment.addMode.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">增加方式不能为空</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="safekeepUser" class="col-md-2 control-label">保管人</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="safekeepUser" class="form-control" data-ensure-user-exist
                                           ng-change="vmManager.getWorkerInfo()"
                                           placeholder="输工号或姓名" ng-model="vm.SafekeepUser" required />
                                    <div class="error-messages" ng-messages="formEquipment.safekeepUser.$error" ng-if="formEquipment.safekeepUser.$touched">
                                        <small ng-message="checkingUserExist">该用户名不存在...</small>
                                    </div>
                                    <div class="error-messages" ng-messages="formEquipment.safekeepUser.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">保管人不能为空</small>
                                    </div>
                                    <div class="input-group-addon" ng-show="vmManager.isSingle">
                                        <label class="label label-primary"> <i class="fa fa-user"></i> {{vm.SafekeepUser}}</label>
                                    </div>
                                    <div class="input-group-btn" ng-hide="vmManager.isSingle">
                                        <button type="button" class="btn btn-primary"
                                                data-animation="am-flip-x"
                                                bs-dropdown aria-haspopup="true" aria-expanded="false">
                                            <span class="fa fa-chevron-circle-down"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <ul class="list-group">
                                                <li class="list-group-item" style="cursor:pointer" ng-click="vmManager.selectWorker(worker)"
                                                    ng-repeat="worker in vmManager.searchedWorkers track by $index" data-title="岗位：{{worker.Post}}" data-bs-tooltip>
                                                    <i class="fa fa-user"></i>
                                                    <span class="label label-primary">工号：{{worker.WorkerId}}</span>|
                                                    <span>姓名：{{worker.Name}}</span>|
                                                    <span>部门：{{worker.Department}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label for="safekeepDepartment" class="col-md-2 control-label">保管单位</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input name="safekeepDepartment" class="form-control" ng-model="vm.SafekeepDepartment" readonly required />
                                    <div class="error-messages" ng-messages="formEquipment.safekeepDepartment.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">保管单位不能为空</small>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" style="margin-bottom:6px;" id="departmentPopover"
                                                data-title="选择部门名称"
                                                data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                                                data-animation="am-flip-x" data-auto-close="1"
                                                data-keyboard="false"
                                                data-bs-popover>
                                            <i class="fa fa-sitemap"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
 
                            <label for="functionDescription" class="col-md-2 control-label">功能描述</label>
                            <div class="col-md-10">
                                <textarea name="functionDescription" rows="3"  class="form-control" ng-model="vm.FunctionDescription" />
                            </div>
                        </div>
                    </fieldset>
                    <hr />
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-md-10">
                                <button class="btn btn-primary" ng-click="operate.saveAll(formEquipment.$valid)"><i class="fa fa-save"></i>保存</button>
                                <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                <span yl-operatemsg-board></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="panel panel-danger">
        <div class="panel-heading">
            Basic panel example
        </div>
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
      
</div>