
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4>
                    <i class="fa fa-bell-o"></i>
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <form role="form" name="formEquipment" novalidate class="form-horizontal">
                        <fieldset>
                            <legend>基本信息</legend>
                            <div class="form-group">
                                <label for="assetNumber" class="col-md-2 control-label">财产编号</label>
                                <div class="col-md-4">
                                    <input name="assetNumber" class="form-control" ng-model="vm.AssetNumber" readonly required />
                                </div>

                                <label for="formId" class="col-md-2 control-label">表单编号</label>
                                <div class="col-md-4">
                                    <input name="formId" class="form-control" ng-model="vm.FormId" readonly required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filingDate" class="col-md-2 control-label">报修日期</label>
                                <div class="col-md-4">
                                    <input name="filingDate" type="date" class="form-control" ng-model="vm.FilingDate" format-date required />
                                    <div class="error-messages" ng-messages="formEquipment.filingDate.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">报修日期不能为空</small>
                                    </div>
                                </div>

                                <label for="finishDate" class="col-md-2 control-label">完成日期</label>
                                <div class="col-md-4">
                                    <input name="finishDate" type="date" class="form-control" ng-model="vm.FinishDate" format-date required />
                                    <div class="error-messages" ng-messages="formEquipment.finishDate.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">完成日期不能为空</small>
                                    </div>
                                </div>
                            </div>      

                            <div class="form-group">
                                <label for="repairedUser" class="col-md-2 control-label">维修人</label>
                                <div class="col-md-4">
                                    <input name="repairedUser" class="form-control" ng-model="vm.RepairedUser" required />
                                    <div class="error-messages" ng-messages="formEquipment.repairedUser.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">维修人不能为空</small>
                                    </div>
                                </div>

                                <label  class="col-md-2 control-label">维修结果</label>
                                <div class="col-md-4">
                                    <input name="repairedResult" class="form-control" ng-model="vm.RepairedResult" required/>
                                    <div class="error-messages" ng-messages="formEquipment.repairedResult.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">维修结果不能为空</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="faultDescription" class="col-md-2 control-label">故障描述</label>
                                <div class="col-md-12">
                                    <textarea name="faultDescription" rows="3" class="form-control" ng-model="vm.FaultDescription" required/>
                                    <div class="error-messages" ng-messages="formEquipment.faultDescription.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">故障描述不能为空</small>
                                    </div>
                                </div>

                                <label for="solution" class="col-md-2 control-label">解决办法</label>
                                <div class="col-md-12">
                                    <textarea name="solution" rows="3" class="form-control" ng-model="vm.Solution" required/>
                                    <div class="error-messages" ng-messages="formEquipment.solution.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">解决办法不能为空</small>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()"><i class="fa fa-undo"></i>取消</button>
                <button type="button" class="btn btn-primary" ng-click="editSave(formEquipment.$valid)"><i class="fa fa-save"></i>确定</button>
            </div>
        </div>
    </div>
</div>
