<div class="panel panel-primary" ng-controller="tolManpowerDiskCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="fa fa-pencil-square-o"></i>人力信息磁盘</h6>
    </div>
    <div class="panel-body" cg-busy="{promise:searchPromise}">
        <div class="row">
            <div class="col-md-4">
                <div class="bs-callout bs-callout-info">
                    <div class="page-header">
                        <h3>组织架构</h3>
                    </div>
                    <div>
                        <ul data-yl-tree cg-busy="{promise:promise}"
                            data-tree-dataset="ztree.configDataNodes"
                            data-start-load="ztree.startLoad"
                            ng-model="ztree.treeNode"
                            data-binding-nodevm="ztree.bindNodeToVm()"
                            id="{{ztree.treeId}}" class="ztree"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bs-callout bs-callout-success" style="max-height:520px;overflow-y:auto;">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr class="success">
                                    <th>部门名称</th>
                                    <th>人数</th>
                                    <th>岗位信息</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.workerAnalogDatas.Departments">
                                    <td>{{item.Department}}</td>
                                    <td><span>{{item.Count}}</span></td>
                                    <td>
                                        <div class="bs-callout bs-callout-default">
                                            <ul class="list-group">
                                                <li ng-repeat="post in item.CountOfPostList" class="list-group-item">
                                                    <span class="badge-info">{{post.Count}}</span>
                                                    {{post.Name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>