<div class="panel panel-primary" ng-controller="createRmaFormCtrl">

    <div class="panel-heading">
        <h6 class="panel-title">创建RMA表单</h6>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-xs btn-success" ng-click="vmManager.autoCreateRmaId()" type="button">新增</button>
            </div>

            <div class="col-md-8">
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label>RMA单号</label>
                        <input type="text" placeholder="按RMA单号查询" ng-model="vm.RmaId" ng-keypress="($event.which === 13)?vmManager.getRmaFormDatas():0" />
                        <button class="btn btn-xs btn-primary" ng-click="vmManager.getRmaFormDatas()" type="button">查询</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="h-split"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="bs-callout bs-callout-info" cg-busy="{promise:doPromise}">
                    <form role="form" name="formRma" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">

                        <div class="form-group">
                            <label for="rmaId" class="col-md-2 control-label">单号</label>
                            <div class="col-md-6">
                                <input name="rmaId" class="form-control" ng-model="vm.RmaId" readonly required />
                                <div class="error-messages" ng-messages="formRma.rmaId.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">单号不能为空</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="leaveReason" class="col-md-2 control-label">客户简称</label>
                            <div class="col-md-4">
                                <input name="inspectionLevel" class="form-control" ng-model="vm.CustomerShortName" required ng-focus="vmManager.getInspectionLevelValues()"
                                       bs-options="CustomerShortName.text as CustomerShortName.text for CustomerShortName in vmManager.customerShortNames" limit="30" placeholder="Enter value" bs-typeahead />
                                @*<button type="button" class="btn btn-primary" ng-model="vm.CustomerShortName"
                                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择客户简称"
                                            data-bs-options="CustomerShortName.name as CustomerShortName.text for CustomerShortName in vmManager.customerShortNames" data-bs-select>
                                        <span class="caret"></span>
                                    </button>*@
                                <input name="customerShortName" class="form-control" ng-model="vm.CustomerShortName" ng-show="false" required />
                                <div class="error-messages" ng-messages="formRma.customerShortName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">客户简称不能为空</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productName" class="col-md-2 control-label">品名</label>
                            <div class="col-md-6">
                                <input name="productName" class="form-control" ng-model="vm.ProductName" required />
                                <div class="error-messages" ng-messages="formRma.productName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">品名不能为空</small>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="alert alert-info">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <button class="btn btn-primary" ng-click="operate.saveAll(formRma.$valid)"><i class="fa fa-save"></i>保存</button>
                                    <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                    <span yl-operatemsg-board></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="bs-callout bs-callout-info" cg-busy="{promise:searchPromise}">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="info">
                                    <th>RMA单号</th>
                                    <th>处理状态</th>
                                    <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.dataSets track by $index">
                                    <td>{{item.RmaId}}</td>
                                    <td>{{item.RmaIdStatus}}</td>
                                    <td>
                                        <span class="btn btn-xs btn-primary" ng-click="operate.edit(item)">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel-footer">

    </div>

</div>