<div class="panel panel-primary" ng-controller="rmaInputDescriptionCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">RMA描述登记</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label>RMA单号</label>
                        <input type="text" placeholder="按RMA单号查询" ng-model="vm.RmaId" />
                        <button class="btn btn-xs btn-primary" ng-click="vmManager.getRmaFormDatas()" type="button">查询</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <span class="pull-right">
                    客户简称<label class="label label-default">{{ramvm.CustomerShortName}}</label>
                </span>
                <span class="pull-right">
                    客户编号<label class="label label-success">{{ramvm.CustomerId}}</label>
                </span>
                <span class="pull-right">
                    RMA单号<label class="label label-info">{{ramvm.RmaId}}</label>
                </span>
            </div>
        </div>
        <div class="h-split"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="bs-callout bs-callout-info" cg-busy="{promise:searchPromise}">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="info">
                                    <th>单号</th>
                                    <th>料号</th>
                                    <th>产品名称</th>
                                    <th>产品规格</th>
                                    <th>客户退货陈述</th>
                                    <th>数量</th>
                                    <th>仓管点</th>
                                    <th>单位</th>
                                    <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.editDatas track by $index">
                                    <td>{{item.RmaId}}</td>
                                    <td>{{item.ProdcutId}}</td>
                                    <td>{{item.ProductName}}</td>
                                    <td>{{item.ProductSpec}}</td>
                                    <td>{{item.ReturnDescrption}}</td>
                                    <td>{{item.ProductCount}}</td>
                                    <td>{{item.StorehouseReceiveCount}}</td>
                                    <td>{{item.ProductPackUnit}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>