<div class="panel panel-default"ng-controller="reportImproveProblemCtrl">
    <div bs-tab bs-active-pane="vmManager.activeTab" cg-busy="{promise:searchPromise}">
        <div bs-pane data-title="案件登记" data-name="initTab">
            <h1>案件登记</h1>
        </div>

        <div bs-pane data-title="案件查询" data-name="editTab">
            <h1>案件查询</h1>
        
        </div>


    </div>
</div>

