<div class="panel panel-primary" ng-controller="workTaskManageCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">工作任务管理</h6>
    </div>
    <div class="panel-body">            
        <div bs-tabs bs-active-pane="vmManager.activeTab">
            <div bs-pane data-title="新建任务" data-name="CreateNew">
                <div class="well" ng-click="vmManager.activeTab=null;">
                    <button class="btn btn-md btn-warning " ng-click="operate.createNew()" type="button">新增作业</button>                                        
                </div>
            </div>      
            @*系统名称*@
            <div bs-pane data-title="系统名称查询" data-name="getDatasBySystemNameTab">
                <div class="well">
                    <form class="form-inline" role="form">
                        <div class="form-group ">
                            <label class="control-label">系统名称:</label>
                            <input type="text" placeholder="按系统名称查询" ng-model="qryVm.systemName" class="form-control" />
                            <button role="button" class="btn btn-warning" ng-click="vmManager.getDatasBySystemName()"><i class="fa fa-search"></i>查询</button>
                        </div>
                    </form>
                </div>
            </div>
            @*模块名称*@
            <div bs-pane data-title="模块类别查询" data-name="getDatasByModuleNameTab">
                <div class="well">
                    <form class="form-inline" role="form">
                        <div class="form-group ">
                            <label class="control-label">模块名称:</label>
                            <input type="text" placeholder="按模块名称查询" ng-model="qryVm.moduleName" class="form-control" />
                            <button role="button" class="btn btn-warning" ng-click="vmManager.getDatasByModuleName()"><i class="fa fa-search"></i>查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="well" cg-busy="{promise:searchPromise}">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                 
                    <thead>
                        <tr class="info">
                            <th>项次</th>
                            <th>部门</th>
                            <th>系统名称</th>
                            <th>模块类别</th>
                            <th>具体功能</th>
                            <th>功能描述</th>
                            <th>难度系数</th>
                            <th>优先级别</th>
                            <th>开始日期</th>
                            <th>完成日期</th>
                            <th>进度状态</th>
                            <th>进度描述</th>
                            <th>执行人</th>
                            <th>审核人</th>
                            <th>备注</th>
                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vmManager.editDatas track by $index">
                           <td ng-bind="$index"></td>
                            <td ng-bind="item.Department"></td>
                            <td ng-bind="item.SystemName"></td>
                            <td ng-bind="item.ModuleName"></td>
                            <td ng-bind="item.WorkItem"></td>
                            <td ng-bind="item.WorkDescription"></td>
                            <td ng-bind="item.DifficultyCoefficient"></td>
                            <td ng-bind="item.WorkPriority"></td>
                            <td ng-bind="item.StartDate"></td>
                            <td ng-bind="item.EndDate"></td>
                            <td ng-bind="item.ProgressStatus"></td>
                            <td ng-bind="item.ProgressDescription"></td>
                            <td ng-bind="item.OrderPerson"></td>
                            <td ng-bind="item.CheckPerson"></td>
                            <td ng-bind="item.Remark"></td>
                            <td>
                                <button class="btn btn-xs btn-primary" ng-click="operate.editItem(item)" title="修改">修改</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @* 分页显示 *@
                <div ng-if="vmManager.dataSource.length>0"
                     yl-pagination
                     data-dataset="vmManager.editDatas"
                     data-datasource="vmManager.dataSource">
                </div>
            </div>
        </div>

        <dialog ng-if="dialog.open" modal data-close="dialog.close()" style="width:85%">
            <content dialog-title>
                <i class="fa fa-pencil-square">任务编辑</i>
            </content>
            <content dialog-content style="width:100%;">
                <form role="form" name="formWorkTaskManager" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                    <fieldset>
                        <legend>新增任务作业</legend>
                        <div class="form-group">
                            <label for="systemName" class="col-md-2 control-label">系统名称</label>
                            <div class="col-md-4">
                                <input name="systemName" placeholder="必填" class="form-control" ng-model="vm.SystemName" required />
                                <div class="error-messages" ng-messages="formWorkTaskManager.systemName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">系统名称不能为空</small>
                                </div>
                            </div>
                            <label for="moduleName" class="col-md-2 control-label">模块类别</label>
                            <div class="col-md-4">
                                <input name="moduleName" class="form-control" placeholder="必填" ng-model="vm.ModuleName" required />
                                <div class="error-messages" ng-messages="formWorkTaskManager.moduleName.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">模块类别不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="workItem" class="col-md-2 control-label">具体功能</label>
                            <div class="col-md-4">
                                <input name="workItem" placeholder="必填" class="form-control" ng-model="vm.WorkItem" required />
                                <div class="error-messages" ng-messages="formWorkTaskManager.workItem.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">具体功能不能为空</small>
                                </div>
                            </div>
                            <label for="workDescription" class="col-md-2 control-label">功能描述</label>
                            <div class="col-md-4">
                                <input name="workDescription" placeholder="必填" class="form-control" ng-model="vm.WorkDescription" required />
                                <div class="error-messages" ng-messages="formWorkTaskManager.workDescription.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">功能描述不能为空</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="department" class="col-md-2 control-label">部门</label>
                            <div class="col-md-4">
                                <input name="department" placeholder="必填" class="form-control" ng-model="vm.Department" required />
                                <div class="error-messages" ng-messages="formWorkTaskManager.department.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">部门不能为空</small>
                                </div>
                            </div>
                            <label for="difficultyCoefficient" class="col-md-2 control-label">难度系数</label>
                            <div class="col-md-4">
                                <input name="difficultyCoefficient" placeholder="必填" class="form-control" ng-model="vm.DifficultyCoefficient" required />
                                <div class="error-messages" ng-messages="formWorkTaskManager.difficultyCoefficient.$error" ng-show="operate.showValidation">
                                    <small ng-message="required">难度系数不能为空</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>                   
                        <div>
                            <div class="form-group">
                                <label for="workPriority" class="col-md-2 control-label">优先级</label>
                                <div class="col-md-4">
                                    <input name="workPriority" placeholder="必填" class="form-control" ng-model="vm.WorkPriority" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.workPriority.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">优先级不能为空</small>
                                    </div>
                                </div>
                                <label for="startDate" class="col-md-2 control-label">开始时间</label>
                                <div class="col-md-4">
                                    <input name="startDate" type="text" placeholder="必填" class="form-control" ng-model="vm.StartDate" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.startDate.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">开始时间不能为空</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endDate" class="col-md-2 control-label">结束时间</label>
                                <div class="col-md-4">
                                    <input name="endDate" type="text" placeholder="必填" class="form-control" ng-model="vm.EndDate" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.endDate.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">结束时间不能为空</small>
                                    </div>
                                </div>
                                <label for="progressStatus" class="col-md-2 control-label">进度状态</label>
                                <div class="col-md-4">
                                    <input name="progressStatus" placeholder="必填" class="form-control" ng-model="vm.ProgressStatus" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.progressStatus.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">进度状态不能为空</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="progressDescription" class="col-md-2 control-label">进度描述</label>
                                <div class="col-md-4">
                                    <input name="progressDescription" placeholder="必填" class="form-control" ng-model="vm.ProgressDescription" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.progressDescription.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">进度状态不能为空</small>
                                    </div>
                                </div>
                                <label for="orderPerson" class="col-md-2 control-label">执行人</label>
                                <div class="col-md-4">
                                    <input name="orderPerson" placeholder="必填" class="form-control" ng-model="vm.OrderPerson" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.orderPerson.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">执行人不能为空</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="checkPerson" class="col-md-2 control-label">审核人</label>
                                <div class="col-md-4">
                                    <input name="checkPerson" placeholder="必填" class="form-control" ng-model="vm.CheckPerson" />
                                    <div class="error-messages" ng-messages="formWorkTaskManager.checkPerson.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">审核人不能为空</small>
                                    </div>
                                </div>
                                <label for="remark" class="col-md-2 control-label">备注</label>
                                <div class="col-md-4">
                                    <input name="remark" placeholder="可填" class="form-control" ng-model="vm.Remark" />                      
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr />
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10">
                                <button class="btn btn-primary " ng-click="operate.saveAll(formWorkTaskManager.$valid)"><i class="fa fa-save"></i>保存</button>
                                <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                <span yl-operatemsg-board></span>
                            </div>
                        </div>
                    </div>
                </form>
            </content>
        </dialog>
    </div>

    <div class="panel-footer">

    </div>
</div>

