
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4>
                    <i class="fa fa-bell-o"></i>
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                   <form class="form-horizontal" name="calendar" role="form" novalidate>
                       <fieldset>
                           <legend>基本信息</legend>
                           <div class="form-group">
                                <label for="dates" class="col-md-2 control-label">日期</label>
                                <div class="col-md-4">
                                    <input type="date" ng-model="layoutVm.CalendarDate" format-date>
                                </div>
                           </div>
                           <div class="form-group">
                                <label for="color" class="col-md-2 control-label">颜色</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" ng-model="layoutVm.DateColor"  required />
                                </div>
                           </div>
                           <div class="form-group">
                                <label for="tips" class="col-md-2 control-label">事项</label>
                                <div class="col-md-10">
                                    <textarea name="tips" rows="3" class="form-control" ng-model="layoutVm.Title" required />
                                    <div class="error-messages" ng-messages="formEquipment.tips.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">故障描述不能为空</small>
                                    </div>
                                </div>
                           </div>
                       </fieldset>
                   </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()"><i class="fa fa-undo"></i>取消</button>
                <button type="button" class="btn btn-primary" ng-click="editSave(formEquipment.$valid)"><i class="fa fa-save"></i>确定</button>
            </div>
        </div>
    </div>
</div>

