<div class="panel panel-primary" ng-controller="archiveInputCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">员工档案登记</h6>
    </div>
    <div class="panel-body">
        <div bs-tabs bs-active-pane="archive.activeTab">
           
            <div bs-pane data-title="档案查询" data-name="queryTab">
                <div bs-tabs bs-active-pane="archive.queryActiveTab">
                    <div bs-pane data-title="全部" data-name="qryAllTab">

                    </div>
                </div>
                <div>
                    <button class="btn btn-sm btn-primary" ng-click="archive.getWorkerArchiveDatas()"><i class="fa fa-search"></i>查询</button>
                    <a class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i>导出</a>
                </div>
                <div class="h-split"></div>
                <div cg-busy="{promise:searchPromise}">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed" style="table-layout:fixed;">
                            <colgroup>
                                <col width="180" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                            
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />

                                <col width="90" />
                                <col width="90" />
                                <col width="190" />
                                <col width="90" />
                             
                                <col width="140" />
                                <col width="90" />
                                <col width="90" />

                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                                <col width="90" />
                            </colgroup>
                            <thead>
                                <tr class="info">
                                    <th>身份证号码</th>
                                    <th>作业工号</th>
                                    <th>工号类型</th>
                                    <th>姓名</th>
                                 
                                    <th>部门</th>
                                 
                                    <th>岗位</th>
                                    <th>岗位性质</th>
                                    <th>岗位类型</th>
                                   
                                    <th>性别</th>
                                    <th>出生日期</th>
                                    <th>家庭住址</th>
                                    <th>民族</th>
                                    <th>签证机构</th>
                                    <th>有效期</th>
                                    <th>新住址</th>
                                    <th>政治面貌</th>
                                    <th>居住地</th>
                                    <th>籍贯</th>
                                    <th>婚否</th>
                                    <th>出生年月</th>
                                    <th>身份证过期时间</th>
                                    <th>照片</th>
                                    <th>学校名称</th>
                                    <th>专业名称</th>
                                    <th>学历</th>
                                    <th>家庭电话</th>
                                    <th>手机号码</th>
                                    <th>证书</th>
                                    <th>工作状态</th>
                                    <th>报到日期</th>
                                    <th>时间段</th>
                                    <th>班别</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.editDatas track by $index">
                                    <td>{{item.IdentityID}}</td>
                                    <td>{{item.WorkerId}}</td>
                                    <td>{{item.WorkerIdType}}</td>
                                    <td>{{item.Name}}</td>
                                  
                                    <td>{{item.Department}}</td>
                                   
                                    <td>{{item.Post}}</td>
                                    <td>{{item.PostNature}}</td>
                                    <td>{{item.PostType}}</td>

                                    <td>{{item.Sex}}</td>
                                    <td>{{item.Birthday}}</td>
                                    <td>{{item.Address}}</td>
                                    <td>{{item.Nation}}</td>
                                    <td>{{item.SignGovernment}}</td>
                                    <td>{{item.LimitedDate}}</td>
                                    <td>{{item.NewAddress}}</td>
                                    <td>{{item.PoliticalStatus}}</td>
                                    <td>{{item.NativePlace}}</td>
                                    <td>{{item.RegisteredPermanent}}</td>
                                    <td>{{item.MarryStatus}}</td>
                                    <td>{{item.BirthMonth}}</td>
                                    <td>{{item.IdentityExpirationDate}}</td>
                                    <td>{{item.PersonalPicture}}</td>
                                    <td>{{item.SchoolName}}</td>
                                    <td>{{item.MajorName}}</td>
                                    <td>{{item.Education}}</td>
                                    <td>{{item.FamilyPhone}}</td>
                                    <td>{{item.TelPhone}}</td>
                                    <td>{{item.CertificateName}}</td>
                                    <td>{{item.WorkingStatus}}</td>
                                    <td>{{item.RegistedDate}}</td>
                                    <td>{{item.RegistedSegment}}</td>
                                    <td>{{item.ClassType}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>