<div ng-controller="printCardCtrl">
    <a class="btn btn-primary" href="@Url.Action("HrPrintWorkerCard", "HrArchivesManage")" target="_blank"><i class="fa fa-print"></i>转到打印厂牌窗口</a>

    @*<button class="btn btn-info"  ng-click="printCard()"><i class="fa fa-print"></i>打印厂牌</button>*@
</div>