<div class="panel panel-primary" ng-controller="developmentInputRecordCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">设计更变输入</h6>
    </div>
    <div class="panel-footer">
    </div>
</div>