
<html>
<head>
    <title>Js方向键切换输入框焦点</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body> 
    <asp:ContentPlaceHolder id="head" runat="server">
        <table border="1" id="mm" onkeydown="keyDown(event)">
            <tr>
                <td> <input class="txt"> </td>
                <td>  <input class="txt"></td>
                <td> <input class="txt"> </td>
                <td> <input class="txt"> </td>
            </tr>
            <tr>
                <td> <input class="txt"> </td>
                <td>  <input class="txt"></td>
                <td> <input class="txt"> </td>
                <td> <input class="txt"> </td>
            </tr>
            <tr>
                <td> <input class="txt"> </td>
                <td>  <input class="txt"></td>
                <td> <input class="txt"> </td>
                <td> <input class="txt"> </td>
            </tr>
            <tr>
                <td> <input class="txt"> </td>
                <td>  <input class="txt"></td>
                <td> <input class="txt"> </td>
                <td> <input class="txt"> </td>
            </tr>
            <tr>
                <td> <input class="txt"> </td>
                <td>  <input class="txt"></td>
                <td> <input class="txt"> </td>
                <td> <input class="txt"> </td>
            </tr>
        </table>
        <script language="javascript" type="text/javascript">
   // var inputs=document.getElementById("mm").getElementsByTagName("INPUT");
    function keyDown(event) {
        var inputs = $(".txt")
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("mm").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                break;
            }
        }
        switch (key) {
            case 38:                //向上键
                var j = i - 2;
                var flag = false;

                if (inputs.get(j).disabled == false) {              //判断接下来得到的焦点控件是否能够使用
                    flag = true;
                } else {
                    for (j = i - 4; j >= 0; j = j - 2) {                    //之后控件不能获得焦点情况下寻找下一个控件
                        if (inputs.get(j).disabled == false) {      //判断之后焦点是否可以获取焦点
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
            case 40:                //向下键
                var j = i + 2;
                var flag = false;
                if (inputs.get(j).disabled == false) {              //判断接下来得到的焦点控件是否能够使用
                    flag = true;
                } else {
                    for (j = i + 4; j < inputs.length; j = j + 2) { //之后控件不能获得焦点情况下寻找下一个控件
                        if (inputs.get(j).disabled == false) {      //判断之后焦点是否可以获取焦点
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 2;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
        </script>
     </asp:ContentPlaceHolder>
   
    </body>
</html>

<td>性别:</td>
<td>
    <c:choose>
        <c:when test="${'男' eq pd.SEX}">
            <input type="radio" name="sex" value="男" checked="checked">男
            <input type="radio" name="sex" value="女">女
        </c:when>
        <c:when test="${'女' eq pd.SEX}">
            <input type="radio" name="sex" value="男">男
            <input type="radio" name="sex" value="女" checked="checked">女
        </c:when>
        <c:otherwise>
            <input type="radio" name="sex" value="男" checked="checked">男
            <input type="radio" name="sex" value="女">女
        </c:otherwise>
    </c:choose>
</td>     