<div class="panel panel-primary" ng-controller="standardProductionFlowSetCtrl">

    <div class="panel-heading">
        <h6 class="panel-title">标准工艺工时变更</h6>
    </div>
    <div class="panel-body">

    </div>

    <div class="panel-footer">

    </div>
</div>