<div class="panel panel-primary" ng-controller="standardProductionFlowSetCtrl">

    <div class="panel-heading">
        <h6 class="panel-title">标准工艺流程设定</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="pull-left" style="width:45%;">
                <div cg-busy="{promise:promise}">
                    部门:
                    <button class="btn btn-success " ng-model="vmManager.department" ng-change="vmManager.changeDepartment()"
                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择部门"
                            data-bs-options="department.value as department.label for department in vmManager.departments track by $index" data-bs-select>
                        <span class="caret"></span>
                    </button>
                    <label>产品品名</label>
                    <input placeholder="输产品品名按下回车键查找" ng-model="vmManager.productName" ng-keypress="vmManager.getProductFlowList($event)" />
                    <button class="btn btn-sm btn-primary" title="模糊查找品号" ng-click="vmManager.vagueQueryProductionSummyDatas()">
                        <i class="fa fa-search"></i>模糊查找
                    </button>
                    <div class="h-split"></div>
                </div>
            </div>
            <div class="pull-right" style="width:55%;">
                <span>
                    <button class="btn btn-sm btn-default" title="新增" ng-click="operate.add()"><i class="fa fa-pencil"></i>新增</button>
                    <button class="btn btn-sm btn-warning" title="批量保存" ng-click="operate.saveAll()"><i class="fa fa-save"></i>批量保存</button>
                    <span class="pull-right">
                        <a class="btn btn-sm btn-primary" title="下载模板" href="@Url.Action("LoadProductFlowTemplateFile", "ProDailyReport")"><i class="fa fa-download"></i>下载模板</a>
                        <a href="javascript:;" class="btn btn-sm btn-info file" title="从Excel中导入数据">
                            <i class="fa fa-file-excel-o"></i>导入<input type="file" name="file" onchange="angular.element(this).scope().selectFile(this)"
                                                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                        </a>
                        <button class="btn btn-sm btn-success" title="批量复制" ng-click="vmManager.selectBulkCopyOk()"><i class="fa fa-copy"></i>批量复制</button>
                    </span>
                </span>
                <div class="h-split"></div>
                <span yl-operatemsg-board></span>
            </div>
        </div>
        <div class="row">
            <div class="pull-left" style="width:45%;" id="editWindow">
                <div class="bs-callout bs-callout-default" style="height:480px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>产品品名</th>
                                    <th>工序总数</th>
                                    <th>工时总计(秒)</th>
                                    <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.editDatasSummyset track by $index">
                                    <td>{{item.ProductName}}</td>
                                    <td>{{item.ProductFlowCount}}</td>
                                    <td>{{item.StandardHoursCount}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="vmManager.queryProductionFlowDetails(item)" title="查看明细">
                                            明细
                                        </button>/
                                        <button class="btn btn-xs btn-primary" ng-click="vmManager.addProductionFlow(item)" title="添加">
                                            添加
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vmManager.editDatasSummyset.length>0"
                         yl-pagination data-dataset="vmManager.editDatasSummyset"
                         data-datasource="vmManager.editDatasSummysetsource">
                    </div>
                </div>

            </div>
            <div class="pull-right" style="width:55%;">
                <div class="bs-callout bs-callout-info" style="height:500px;overflow-y:auto;">
                    <div class="table-responsive" cg-busy="{promise:searchPromise}">
                        <div class="form-group" ng-show="vm.ProductName.length>0">
                            <label class="control-label col-md-4">品名:<span class="label label-success">{{vm.ProductName}}</span></label>
                            <label class="control-label col-md-4">规格:<span class="label label-default">{{vm.ProductId}}</span></label>
                            <label class="control-label col-md-4">总工时:<span class="label label-primary">{{vmManager.standardHoursCount}}</span></label>
                        </div>
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr class="info">
                                    <th>工艺编号</th>
                                    <th>工艺名称</th>
                                    <th>工艺类别</th>
                                    <th>标准工时</th>
                                    <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.editDataSet track by $index">
                                    <td>{{item.ProcessesIndex}}</td>
                                    <td>{{item.ProcessesName}}</td>
                                    <td>{{item.ProcessesType}}</td>
                                    <td>{{item.StandardProductionTime}}({{item.StandardProductionTimeType}})</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="operate.editItem(item)" title="编辑">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-xs btn-danger" ng-click="operate.deleteItem(item)" title="删除">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vmManager.editDataSet.length>0"
                         yl-pagination data-dataset="vmManager.editDataSet"
                         data-datasource="vmManager.editDatasSource">
                    </div>
                </div>
                <div pageslide ps-open="vmManager.editWindowDisplay" ps-side="left" ps-size="{{vmManager.editWindowWidth}}" ps-speed="0.25" ps-container='editWindow' ps-click-outside="false" ps-key-listener="true">
                    <div style="padding:10px;overflow-y:auto;height:480px">
                        <form role="form" name="formProductionFlow" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                            <fieldset>
                                @*产品品名 工艺类别*@
                                <div class="form-group">
                                    <div class="col-md-6 " >
                                        <div class="input-group">
                                            <span  class="input-group-addon">产品品名</span>
                                            <input name="productName" class="form-control" readonly ng-model="vm.ProductName"
                                                   focus-if="focus.productNameFocus" focus-setter
                                                   required />
                                            <div class="error-messages" ng-messages="formProductionFlow.productName.$error" ng-show="operate.showValidation">
                                                <small ng-message="required">产品品名不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-md-6 ">
                                        <div class="input-group">
                                            <span class="input-group-addon">生产类别</span>
                                          
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary"
                                                        data-animation="am-flip-x"
                                                        bs-dropdown aria-haspopup="true" aria-expanded="false">
                                                    <span class="fa fa-chevron-circle-down"></span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    <ul class="list-group" style="overflow-y:auto; max-height:150px;">
                                                        <li class="list-group-item" style="cursor:pointer;" ng-click="vmManager.selectProcessesType(item)"
                                                            ng-repeat="item in vmManager.processesTypes " data-title="类别：{{item.id}}" data-bs-options>
                                                            <i class="fa fa-user"></i>
                                                            <span class="label label-primary">类别名：{{item.id}}</span>|
                                                            <span>说明：{{item.text}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" readonly  ng-model="vm.ProcessesType" />
                                        </div>
                                    </div>
                                </div>
                                @*工艺名称 类型 *@
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">工艺名称</span>
                                            <input name="processesName" class="form-control"
                                                   focus-if="focus.processesNameFocus" focus-setter
                                                   ng-keydown="focus.changeEnter($event,'productNameFocus','processesIndexFocus')"
                                                   title="提示"
                                                   data-show="false"
                                                   ng-model="vm.ProcessesName" autofocus required />
                                            <div class="error-messages" ng-messages="formProductionFlow.processesName.$error" ng-if="formProductionFlow.processesName.$touched">
                                                <small ng-message="required">工艺名称不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"> 工艺类型:</span>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary"
                                                            data-animation="am-flip-x"
                                                            bs-dropdown aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-chevron-circle-down"></span>
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <ul class="list-group" style="overflow-y:auto; max-height:150px;">
                                                            <li class="list-group-item" style="cursor:pointer;" ng-click="vmManager.selectInputType(item)"
                                                                ng-repeat="item in vmManager.inputTypes " data-title="类名：{{item.id}}" data-bs-options>
                                                                <i class="fa fa-user"></i>
                                                                <span class="label label-primary">工艺名：{{item.id}}</span>|
                                                                <span>说明：{{item.text}}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control"
                                                       ng-model="vm.InputType"
                                                       readonly
                                                       required />
                                            </div>
                                        </div>
                                    </div>
                                @*工艺序号 工序系数*@
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">工艺序号</span>
                                            <input name="processesIndex" type="number" class="form-control"
                                                   focus-if="focus.processesIndexFocus" focus-setter
                                                   ng-keydown="focus.changeEnter($event,'processesNameFocus','standardProductionTimeFocus')"
                                                   ng-model="vm.ProcessesIndex" required />
                                            <div class="error-messages" ng-messages="formProductionFlow.processesIndex.$error" ng-if="formProductionFlow.processesIndex.$touched">
                                                <small ng-message="required">工艺编号不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">是否入总工时</span>
                                            <button type="button" name="isSum" class="btn btn-primary" ng-model="vm.IsSum"
                                                    data-html="1" data-ng-multiple="0" data-animation="am-flip-x" data-placeholder="是"
                                                    data-bs-options="item.id as item.text for item in vmManager.IsOrNotDatas" data-bs-select></button>
                                            <div class="error-messages" ng-messages="formProductionFlow.isSum.$error" ng-show="operate.showValidation">
                                                <small ng-message="required">有效性不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">工序系数</span>
                                            <input name="productCoefficient" class="form-control" type="number" ng-model="vm.ProductCoefficient"
                                                   focus-if="focus.productCoefficientFocus" focus-setter
                                                   required />
                                            <div class="error-messages" ng-messages="formProductionFlow.productCoefficient.$error" ng-show="operate.showValidation">
                                                <small ng-message="required">工序系数</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <samp class="input-group-addon">是否需统计（可视化）</samp>
                                            <button type="button" name="isVisualization" class="btn btn-primary" ng-model="vm.IsVisualization"
                                                    data-html="1" data-ng-multiple="0" data-animation="am-flip-x" data-placeholder="是"
                                                    data-bs-options="item.id as item.text for item in vmManager.IsOrNotDatas" data-bs-select></button>
                                            <div class="error-messages" ng-messages="formProductionFlow.isVisualization.$error" ng-show="operate.showValidation">
                                                <small ng-message="required">可视化不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*标准工时 工时类别*@
                                <div class="form-group" ng-show="vmManager.isShowProductionTime===true">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">标准工时</span>
                                            <input name="standardProductionTime" type="number" class="form-control"
                                                   focus-if="focus.standardProductionTimeFocus" focus-setter
                                                   ng-keydown="focus.changeEnter($event,'processesNameFocus','remarkFocus')"
                                                   ng-model="vm.StandardProductionTime" required />
                                            <div class="error-messages" ng-messages="formProductionFlow.standardProductionTime.$error" ng-show="operate.showValidation">
                                                <small ng-message="required">标准工时不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">工时类别 </span>
                                            <button type="button" name="standardProductionTimeType" class="btn btn-primary" ng-model="vm.StandardProductionTimeType"
                                                    data-html="1" data-ng-multiple="0" data-animation="am-flip-x" data-placeholder="UPS"
                                                    data-bs-options="item.id as item.text for item in vmManager.standardProductionTimeTypes" data-bs-select></button>
                                            <div class="error-messages" ng-messages="formProductionFlow.standardProductionTimeType.$error" ng-show="operate.showValidation">
                                                <small ng-message="required">标准工时类别不能为空</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*人机配比 磨具编号*@
                                <div class="form-group" ng-show="vm.ProcessesType === '机台'">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">人机配比</span>
                                            <input type="number" name="machinePersonRatio" class="form-control"
                                                   focus-if="focus.machinePersonRatioFocus" focus-setter
                                                   ng-model="vm.MachinePersonRatio" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">机器编号</span>
                                            <input name="mouldId" class="form-control"
                                                   focus-if="focus.mouldIdFocus" focus-setter
                                                   ng-model="vm.MouldId" />
                                        </div>
                                    </div>
                                </div>
                                @*磨具名称  模穴数 *@
                                <div class="form-group" ng-show="vm.ProcessesType === '机台'">
                                    <div class="col-md-6">
                                        <div class="input-group ">
                                            <span class="input-group-addon">机器名称</span>
                                            <input name="mouldName" class="form-control"
                                                   focus-if="focus.mouldNameFocus" focus-setter
                                                   ng-model="vm.MouldName" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">模穴数</span>
                                            <input name="mouldCavityCount" type="number" class="form-control"
                                                   focus-if="focus.mouldCavityCountFocus" focus-setter
                                                   ng-model="vm.MouldHoleCount" />
                                        </div>
                                    </div>
                                </div>
                                @*备注*@
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">备注</span>
                                            <textarea name="remark" rows="2" cols="4" class="form-control"
                                                      focus-if="focus.remarkFocus" focus-setter
                                                      ng-keydown="operate.toConfirmSave()"
                                                      ng-model="vm.Remark" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-10">
                                        <button class="btn btn-primary" id="confirmSave"
                                                ng-click="operate.confirmSave(formProductionFlow.$valid)">
                                            <i class="fa fa-save"></i>保存
                                        </button>
                                        <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                        <span yl-operatemsg-board></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div pageslide ps-open="vmManager.copyWindowDisplay" ps-side="left" ps-size="{{vmManager.editWindowWidth}}" ps-speed="0.25" ps-container='editWindow'>
                    <div style="padding:10px;overflow-y:auto;height:480px ">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span>
                                    <i class="fa fa-hand-o-right"></i>
                                    <input readonly placeholder="要复制的产品品名" ng-model="vmManager.productNameFrom" style="color:black" /><i class="fa fa-arrows-h"></i>
                                    <input placeholder="待生成的产品品名" ng-model="vmManager.productNameTo" style="color:black" />
                                    <span class="btn btn-xs btn-default" ng-click="vmManager.copyConfirm()"><i class="fa fa-copy"></i>复制</span>
                                </span>
                            </div>
                            <table class="table table-condensed table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>产品品名</th>
                                        <th>工艺编号</th>
                                        <th>工艺名称</th>
                                        <th>工时类别</th>
                                        <th>标准工时</th>
                                        <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="copyItem in vmManager.copyEditDataSet track by $index">
                                        <td>{{copyItem .ProductName}}</td>
                                        <td>{{copyItem .ProcessesIndex}}</td>
                                        <td>{{copyItem .ProcessesName}}</td>
                                        <td>{{copyItem .ProcessesType}}</td>
                                        <td>{{copyItem .StandardProductionTime}}({{copyItem .StandardProductionTimeType}})</td>
                                        <td>
                                            <button class="btn btn-xs btn-danger" ng-click="operate.copyDeleteItem(item)" title="删除">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="vmManager.copyEditDataSet.length>0"
                                 yl-pagination data-dataset="vmManager.copyEditDataSet"
                                 data-datasource="vmManager.copyEditDatasSource">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-xs btn-primary" ng-click="operate.copySaveAll()"><i class="fa fa-check-circle-o"></i>批量保存</button>
                            <button class="btn btn-xs btn-default" ng-click="operate.copyCancel()"><i class="fa fa-refresh"></i>取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">

    </div>
</div>