<div class="panel panel-primary" ng-controller="DailyProductionReportPT1Ctrl">
    <div class="panel-heading">
        <h6 class="panel-title">生产日报录入</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" novalidate>
                    <label>  部门:</label>
                    <button class="btn btn-success " ng-model="vmManager.department" ng-change="vmManager.changeDepartment()"
                            data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择部门"
                            data-bs-options="department.value as department.label for department in vmManager.departments track by $index" data-bs-select>
                        <span class="caret"></span>
                    </button>
                    <label>日期:</label>
                    <input name="queryDate" type="date" class="form-control" format-date ng-model="vm.InPutDate"
                           focus-setter data-ensure-user-exist style="width:200px;"
                           placeholder="日期" />
                    <label>查询:</label>
                    <button class="btn btn-success "
                            ng-click="vmManager.classTypeChange()">
                        {{vmManager.classType}}
                    </button>
                </form>
            </div>
        </div>
        <div class="well " cg-busy="{promise:searchPromise}" style="padding:10px;overflow-y:scroll;min-height:380px;max-height:680px;">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <th>机台信息</th>
                            <th>工单信息</th>
                            <th>生产信息</th>
                            <th>人员信息</th>
                            <th>备注</th>
                            <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vmManager.datasets track by $index">
                            <td>
                                <span class="label label-default" title="机台编号">{{item.MachineId}}</span>
                                <span class="label label-primary" title="机台名称">{{item.MachineIdName}}</span>
                                <div class="h-split"></div>
                                <input type="text" placeholder="模具编号:" ng-model="item.MouldId" /><br />
                                <span class="label label-primary" title="模具数量:">{{item.MachineIdName}}</span>
                                <input type="text" placeholder="机台运行时时数:" ng-model="item.MachineProductionTime"/><br />
                            </td>
                            <td>
                                <input type="text" placeholder="订单号:" ng-model="item.OrderId" ng-change=""/><br />
                                <div class="h-split"></div>
                                <span title="品名:">{{item.ProductName}}</span>
                                <span title="规格:">{{item.ProductSpec}}</span>
                            </td>
                            <td>
                                <input type="text" placeholder="生产数量:" ng-model="item.TodayProductionCount" ng-change="" /><br />
                                <div class="h-split"></div>
                                <input type="text" placeholder="不良数量:" ng-model="item.TodayBadProductCount" ng-change="" /><br />
                            </td>
                            <td>
                                <input type="text" placeholder="师傅:" ng-model="item.MasterWorkerId" ng-change="" /><br />
                                <span title="姓名:">{{item. MasterName}}</span>
                                <div class="h-split"></div>
                                <input type="text" placeholder="看机人:" ng-model="item.WorkerId" ng-change="" /><br />
                                <span title="姓名:">{{item.WorkerName}}</span>
                                <input type="text" placeholder="看机时数:" ng-model="item.WorkerProductionTime" ng-change="" /><br />
                            </td>
                            <td>
                                <button class="btn btn-success "
                                        ng-click="vmManager.classTypeChange()"> {{item.ClassType}}
                                </button>
                            </td>
                            <td>
                                <button>添加</button>/<button>删除</button>
                            </td>
                            <td>{{item.Field4}}</td>
                        </tr>
                    </tbody>
                </table>
                <div yl-pagination
                     data-datasource="vmManager.datasource"
                     data-dataset="vmManager.datasets">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>

