<div class="panel panel-primary" ng-controller="dReportHoursSetCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">标准工时设定</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="pull-left" style="width:45%;">
                <div cg-busy="{promise:promise}">
                    部门<label class="label label-default">{{vmManager.department}}</label>
                    <button class="btn btn-sm btn-primary"
                            data-title="选择部门名称"
                            data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                            data-animation="am-flip-x" data-auto-close="1"
                            data-bs-popover>
                        <i class="fa fa-sitemap"></i>
                    </button>
                    <label>产品品名</label>
                    <input placeholder="输产品品名按下回车键查找" ng-model="vmManager.productName" ng-keypress="vmManager.getProductFlowList($event)" />
                    <div class="h-split"></div>
                </div>
            </div>
            <div class="pull-right" style="width:55%;">
                <span>
                    <button class="btn btn-sm btn-default" title="新增" ng-click="operate.add()"><i class="fa fa-pencil"></i>新增</button>
                    <button class="btn btn-sm btn-warning" title="批量保存" ng-click="operate.saveAll()"><i class="fa fa-save"></i>批量保存</button>

                    <span class="pull-right">
                        <a class="btn btn-sm btn-primary" title="下载模板" href="@Url.Action("LoadProductFlowTemplateFile", "ProDailyReport")"><i class="fa fa-download"></i>下载模板</a>
                        <a href="javascript:;" class="btn btn-sm btn-info file" title="从Excel中导入数据">
                            <i class="fa fa-file-excel-o"></i>导入<input type="file" name="file" onchange="angular.element(this).scope().selectFile(this)">
                        </a>
                        <button class="btn btn-sm btn-success" title="批量复制" ng-click="operate.copyAll()"><i class="fa fa-copy"></i>批量复制</button>
                    </span>
                </span>
                <div class="h-split"></div>
            </div>
        </div>
        <div class="row">
            <div class="pull-left" style="width:45%;" id="editWindow">
                <div class="bs-callout bs-callout-default" style="height:480px;overflow-y:auto;">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>产品品名</th>
                                    <th>工序总数</th>
                                    <th>工时总计(分)</th>
                                    <th>查看(<i class="fa fa-eye"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.flowOverviews track by $index">
                                    <td>{{item.ProductName}}</td>
                                    <td>{{item.ProductFlowCount}}</td>
                                    <td>{{item.StandardHoursCount}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="vmManager.viewProductFlowDetails(item)" title="查看明细">
                                            明细
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="width:55%;">
                <div class="bs-callout bs-callout-info" style="height:480px;overflow-y:auto;">
                    <div class="table-responsive" cg-busy="{promise:searchPromise}">
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr class="info">
                                    <th>工艺编号</th>
                                    <th>工艺名称</th>
                                    <th>工艺标示</th>
                                    <th>工时类别</th>
                                    <th>标准工时</th>
                                    <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.editDatas track by $index">
                                    <td>{{item.ProductFlowId}}</td>
                                    <td>{{item.ProductFlowName}}</td>
                                    <td>{{item.ProductFlowSign}}</td>
                                    <td>{{item.StandardHoursType}}</td>
                                    <td>{{item.StandardHours}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="operate.editItem(item)" title="编辑">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-xs btn-danger" ng-click="operate.deleteItem(item)" title="删除">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div pageslide ps-open="vmManager.editWindowDisplay" ps-side="left" ps-size="{{vmManager.editWindowWidth}}" ps-speed="0.25" ps-container='editWindow'>
                    <div style="padding:10px;overflow-y:auto">
                        <form role="form" name="formProductFlow" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                            <fieldset>
                                <div class="form-group">
                                    <label for="productName" class="col-md-3 control-label">产品品名</label>
                                    <div class="col-md-3">
                                        <input name="productName" class="form-control" ng-model="vm.ProductName" required />
                                        <div class="error-messages" ng-messages="formProductFlow.productName.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">产品品名不能为空</small>
                                        </div>
                                    </div>
                                    <label for="productFlowSign" class="col-md-3 control-label">工艺标示</label>
                                    <div class="col-md-3">
                                        <input name="productFlowSign" type="number" class="form-control" ng-model="vm.ProductFlowSign" required />
                                        <div class="error-messages" ng-messages="formProductFlow.productFlowSign.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">工艺标示不能为空</small>
                                        </div>
                                    </div>
                                 </div>
                                <div class="form-group">
                                    <label for="productFlowId" class="col-md-3 control-label">工艺编号</label>
                                    <div class="col-md-3">
                                        <input name="productFlowId" class="form-control" ng-model="vm.ProductFlowId" required />
                                        <div class="error-messages" ng-messages="formProductFlow.productFlowId.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">工艺编号不能为空</small>
                                        </div>
                                    </div>
                                    <label for="productFlowName" class="col-md-3 control-label">工艺名称</label>
                                    <div class="col-md-3">
                                        <input name="productFlowName" class="form-control" ng-model="vm.ProductFlowName" required />
                                        <div class="error-messages" ng-messages="formProductFlow.productFlowName.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">工艺名称不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="standardHours" class="col-md-3 control-label">标准工时</label>
                                    <div class="col-md-3">
                                        <input name="standardHours" class="form-control" ng-model="vm.StandardHours" required />
                                        <div class="error-messages" ng-messages="formProductFlow.standardHours.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">标准工时不能为空</small>
                                        </div>
                                    </div>
                                    <label for="standardHoursType" class="col-md-3 control-label">工时类别</label>
                                    <div class="col-md-3">
                                        <input name="standardHoursType" type="number" class="form-control" ng-model="vm.StandardHoursType" required />
                                        <div class="error-messages" ng-messages="formProductFlow.standardHoursType.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">标准工时类别不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="maxMachineCount" class="col-md-3 control-label">最大机台数</label>
                                    <div class="col-md-3">
                                        <input name="maxMachineCount" type="number" class="form-control" ng-model="vm.MaxMachineCount"/>
                                    </div>
                                    <label for="relaxCoefficient" class="col-md-3 control-label">宽放系数</label>
                                    <div class="col-md-3">
                                        <input name="relaxCoefficient" type="number" class="form-control" ng-model="vm.RelaxCoefficient" required />
                                        <div class="error-messages" ng-messages="formProductFlow.relaxCoefficient.$error" ng-show="operate.showValidation">
                                            <small ng-message="required">宽放系数不能为空</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mouldId" class="col-md-3 control-label">磨具编号</label>
                                    <div class="col-md-3">
                                        <input name="mouldId" class="form-control" ng-model="vm.MouldId"/>
                                    </div>
                                    <label for="mouldName" class="col-md-3 control-label">磨具名称</label>
                                    <div class="col-md-3">
                                        <input name="mouldName" class="form-control" ng-model="vm.MouldName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mouldCavityCount" class="col-md-3 control-label">模穴数</label>
                                    <div class="col-md-3">
                                        <input name="mouldCavityCount" class="form-control" ng-model="vm.MouldCavityCount"/>
                                    </div>
                                    <label for="remark" class="col-md-3 control-label">备注</label>
                                    <div class="col-md-3">
                                        <textarea name="remark" rows="1" cols="4" class="form-control" ng-model="vm.Remark" />
                                    </div>
                                </div>
                            </fieldset>
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-10">
                                        <button class="btn btn-primary" ng-click="operate.save(formProductFlow.$valid)"><i class="fa fa-save"></i>保存</button>
                                        <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                        <span yl-operatemsg-board></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div pageslide ps-open="vmManager.copyWindowDisplay" ps-side="right" ps-size="{{vmManager.editWindowWidth}}" ps-speed="0.25" ps-container='editWindow'>
                    <div style="padding:10px;overflow-y:auto">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span>
                                    <i class="fa fa-hand-o-right"></i>
                                    <input readonly placeholder="要复制的产品品名" ng-model="vmManager.productNameFrom" style="color:black" /><i class="fa fa-arrows-h"></i>
                                    <input placeholder="待生成的产品品名" ng-model="vmManager.productNameTo" style="color:black" />
                                    <span class="btn btn-xs btn-default" ng-click="operate.copyConfirm()"><i class="fa fa-copy"></i>复制</span>
                                </span>
                            </div>
                            <table class="table table-condensed table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>产品品名</th>
                                        <th>工艺编号</th>
                                        <th>工艺名称</th>
                                        <th>工艺标示</th>
                                        <th>工时类别</th>
                                        <th>标准工时</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vmManager.copyEditDatas track by $index">
                                        <td>{{item.ProductName}}</td>
                                        <td>{{item.ProductFlowId}}</td>
                                        <td>{{item.ProductFlowName}}</td>
                                        <td>{{item.ProductFlowSign}}</td>
                                        <td>{{item.StandardHoursType}}</td>
                                        <td>{{item.StandardHours}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <span class="btn btn-xs btn-primary" ng-click="operate.copyok()"><i class="fa fa-check-circle-o"></i>确定</span>
                                            <span class="btn btn-xs btn-default" ng-click="operate.copycancel()"><i class="fa fa-refresh"></i>取消</span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
  
    <div class="panel-footer">

    </div>
</div>