<div class="panel panel-primary" ng-controller="DailyProductionReportCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">生产日报录入</h6>
    </div>
    <div class="panel-body">

    </div>
    <div class="panel-footer">
    </div>
</div>
