<div class="panel panel-primary" ng-controller="DailyProductOrderDispatchCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">生产日报录入</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div cg-busy="{promise:promise}">
                部门:
                <button class="btn btn-success " ng-model="vmManager.department" ng-change="vmManager.changeDepartment()"
                        data-html="1" data-multiple="0" data-animation="am-flip-x" data-placeholder="选择部门"
                        data-bs-options="department.value as department.label for department in vmManager.departments track by $index" data-bs-select>
                    <span class="caret"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="pull-left" style="width:65%;" id="editWindow">
                <div class="bs-callout bs-callout-default" style="height:480px;overflow-y:auto;">
                    <div class="table-responsive">
                        <div style="padding:10px;overflow-y:auto;height:480px">
                            <table class="table table-condensed table-bordered table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>工单单号</th>
                                        <th>产品品名</th>
                                        <th>产品规格</th>
                                        <th>生产数量</th>
                                        <th>入库数量</th>
                                        <th>状态</th>
                                        <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vmManager.erpOrderInfoDatas track by $index">
                                        <td>{{item.OrderID}}</td>
                                        <td>{{item.ProductName}}</td>
                                        <td>{{item.ProductSpec}}</td>
                                        <td>{{item.ProduceNumber}}</td>
                                        <td>{{item.PutInStoreNumber}}</td>
                                        <td>{{item.ProductStatus}}</td>
                                        <td>
                                            <button class="btn btn-primary" ng-click="vmManager.putInDatas(item)"><i class="fa fa-pencil-square-o"></i>确认生产</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="vmManager.erpOrderInfoDatasSource.length>0"
                         yl-pagination data-dataset="vmManager.erpOrderInfoDatas"
                         data-datasource="vmManager.erpOrderInfoDatasSource">
                    </div>
                </div>
            </div>
            <div class="pull-right" style="width:35%;">
                <div class="bs-callout bs-callout-info" style="height:500px;overflow-y:auto;">
                    <div class="table-responsive" cg-busy="{promise:searchPromise}">
                        <table ng-show="vmManager.productionFlowEditDatasshowValidation" class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr class="info">
                                    <th>工艺编号</th>
                                    <th>工艺名称</th>
                                    <th>工艺类别</th>
                                    <th>标准工时</th>
                                    <th>操作(<i class="fa fa-pencil-square-o"></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vmManager.productionFlowEditDatas track by $index">
                                    <td>{{item.ProcessesIndex}}</td>
                                    <td>{{item.ProcessesName}}</td>
                                    <td>{{item.ProcessesType}}</td>
                                    <td>{{item.StandardProductionTime}}({{item.StandardProductionTimeType}})</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="operate.editItem(item)" title="编辑">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-xs btn-danger" ng-click="operate.deleteItem(item)" title="删除">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>