<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4>
                    <i class="fa fa-bell-o"></i>
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <form name="modalForm" role="form" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label for="remarks" class="col-md-2 control-label">备注信息</label>
                        <div class="col-md-10">
                            <textarea name="remarks" class="form-control" ng-model="vm.Remarks" required />
                            <div class="error-messages" ng-messages="modalForm.remarks.$error" ng-show="operate.showValidation">
                                <small ng-message="required">备注信息不能为空</small>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()"><i class="fa fa-undo"></i>取消</button>
                <button type="button" class="btn btn-primary" ng-click="save(modalForm.$valid)"><i class="fa fa-save"></i>确定</button>
            </div>
        </div>
    </div>
</div>