<div class="panel panel-primary" ng-controller="dReportHoursSetCtrl">
    <div class="panel-heading">
        <h6 class="panel-title"> 生产标准工艺流程设置</h6>
    </div>

    <div class="panel-footer">
    </div>

</div>
