<div class="panel panel-default" ng-controller="addAssemblyCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">
            <span class="fa fa-file-text"></span>程序集编辑
        </h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <form name="formAssembly" class="form-horizontal" ng-submit="operate.addAssembly(formAssembly.$valid)" novalidate role="form">
                    <div class="form-group">
                        <label for="roleId" class="col-md-3 control-label">程序集名称</label>
                        <div class="col-md-5">
                            <input type="text" ng-model="vm.assemblyName" name="assemblyName" placeholder="输入程序集名称"
                                   class="form-control" required />
                            <div class="error-messages" ng-messages="formAssembly.assemblyName.$error" ng-if="operate.showValidation">
                                <small ng-message="required">程序集不能为空</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="assemblyText" class="col-md-3 control-label">系统名称</label>
                        <div class="col-md-5">
                            <input type="text" name="assemblyText" ng-model="vm.assemblyText" placeholder="输入系统名称"
                                   class="form-control" required />
                            <div class="error-messages" ng-messages="formAssembly.assemblyText.$error" ng-if="operate.showValidation">
                                <small ng-message="required">系统名称不能为空</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="button" class="btn btn-default" ng-click="operate.cancel()">取消</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-3" ng-show="operate.msgDisplay">
                            <div ng-class="operate.result==true ? 'alert alert-success':'alert alert-danger'">
                                <span>{{operate.message}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>