<div class="panel panel-primary" ng-controller="standardProductionFlowSetCtrl">
    <div class="panel-heading">
        <h6 class="panel-title">制程不合格处理</h6>
    </div>
    
     <div class="panel-body">
         <div bs-pane data-title="录入记录" data-name="initTab">
             <div class="row">
                 <div class="col-md-8">
                     <div class="bs-callout bs-callout-info">
                         <form role="form" name="formDailyTreatmentManager" novalidate class="form-horizontal" onkeypress="if (event.keyCode === 13) return false;">
                             <div class="form-group">
                                 <label for="department" class="col-md-2 control-label">部门</label>
                                 <div class="col-md-4">
                                     <div class="input-group">
                                         <input name="department" placeholder="必填" class="form-control" ng-model="vm.Department" required />
                                         <div class="error-messages" ng-messages="formWorkTaskManager.department.$error" ng-show="operate.showValidation">
                                             <small ng-message="required">部门不能为空</small>
                                         </div>
                                         <div class="input-group-btn">
                                             <button class="btn btn-primary" style="margin-bottom:6px;" id="departmentPopover"
                                                     data-title="选择部门名称"
                                                     data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                                                     data-animation="am-flip-x" data-auto-close="1"
                                                     data-keyboard="false"
                                                     data-bs-popover>
                                                 <i class="fa fa-sitemap"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                                 <label for="systemName" class="col-md-2 control-label">制令单:</label>
                                 <div class="col-md-4">
                                     <input name="orderId" placeholder="必填" class="form-control" ng-model="vm.OrderId"  required />
                                     <div class="error-messages" ng-messages="formDailyTreatmentManager.orderId.$error" ng-show="operate.showValidation">
                                         <small ng-message="required">制令单不能为空</small>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label for="processesName" class="col-md-2 control-label">产品工序:</label>
                                 <div class="col-md-4">
                                     <input name="processesName" class="form-control" placeholder="必填" ng-model="vm.ProcessesName" required />
                                     <div class="error-messages" ng-messages="formDailyTreatmentManager.processesName.$error" ng-show="operate.showValidation">
                                         <small ng-message="required">产品工序不能为空</small>
                                     </div>
                                 </div>
                                 <label for="productInPutNumber" class="col-md-2 control-label">投产数:</label>
                                 <div class="col-md-4">
                                     <input name="productInPutNumber" type="number" class="form-control" ng-model="vm.ProductInPutNumber" />
                                     <div class="error-messages" ng-messages="formDailyTreatmentManager.productInPutNumber.$error" ng-show="operate.showValidation">
                                        <small ng-message="required">审核人不能为空</small>
                                     </div>
                                 </div>
                             </div>
                           
                               <div class="form-group">
                                 <label for="badDescription" class="col-md-2 control-label">不合格现象:</label>
                                 <div class="col-md-4">
                                     <textarea name="badDescription" class="form-control" ng-model="vm.BadDescription" />
                                 </div>
                                   <label for="badReason" class="col-md-2 control-label">不合格原因:</label>
                                   <div class="col-md-4">
                                       <textarea name="badReason" class="form-control" ng-model="vm.BadReason" />
                                   </div>
                             </div>
                             <div class="form-group">
                                 <label for="badNumber" class="col-md-2 control-label">不合格数</label>
                                 <div class="col-md-4">
                                     <input name="badNumber"  type="number"  class="form-control" ng-model="vm.BadNumber" required />
                                     <div class="error-messages" ng-messages="formDailyTreatmentManager.badNumber.$error" ng-show="operate.showValidation">
                                         <small ng-message="required">不合格数不能为空</small>
                                     </div>
                                 </div>
                                 <label for="scrapTreatmentNumber" class="col-md-2 control-label">报费数</label>
                                 <div class="col-md-4">
                                     <input name="scrapTreatmentNumber"  type="number" class="form-control" ng-model="vm.ScrapTreatmentNumber" required />
                                     <div class="error-messages" ng-messages="formDailyTreatmentManager.scrapTreatmentNumber.$error" ng-show="operate.showValidation">
                                         <small ng-message="required">报费数不能为空</small>
                                     </div>
                                 </div>
                             </div>

                             <div class="form-group">
                                 <label for="difficultyCoefficient" class="col-md-2 control-label">不合格归类:</label>
                                 <div class="col-md-4">
                                     <div class="input-group">
                                         <input type="number"  name="responsibleAttributionClass" placeholder="必填" class="form-control" ng-model="vm.ResponsibleAttributionClass" required />
                                         <div class="error-messages" ng-messages="formDailyTreatmentManager.responsibleAttributionClass.$error" ng-show="operate.showValidation">
                                             <small ng-message="required">难度系数不能为空</small>
                                         </div>
                                         <div class="input-group-btn">
                                             <button class="btn btn-primary" style="margin-bottom:6px;" id="departmentBadAttributionClass"
                                                     data-title="选择不合格类别"
                                                     data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                                                     data-animation="am-flip-x" data-auto-close="1"
                                                     data-keyboard="false"
                                                     data-bs-popover>
                                                 <i class="fa fa-sitemap"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                                 <label for="responsiblePerson" class="col-md-2 control-label">责任人:</label>
                                 <div class="col-md-4">
                                     <div class="input-group">
                                         <input  name="responsiblePerson" placeholder="必填" class="form-control" ng-model="vm.ResponsiblePerson" />
                                         <div class="error-messages" ng-messages="formDailyTreatmentManager.responsiblePerson.$error" ng-show="operate.showValidation">
                                             <small ng-message="required">责任人不能为空</small>
                                         </div>
                                         <div class="input-group-btn">
                                             <button class="btn btn-primary" style="margin-bottom:6px;" id="departmenTesponsiblePerson"
                                                     data-title="公司职员"
                                                     data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                                                     data-animation="am-flip-x" data-auto-close="1"
                                                     data-keyboard="false"
                                                     data-bs-popover>
                                                 <i class="fa fa-sitemap"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div> 
                             </div>
                             <div class="form-group">
                                 
                                 <label for="treatmentMethod" class="col-md-2 control-label">处理对策</label>
                                 <div class="col-md-4">
                                     <input name="startDate"  placeholder="必填" class="form-control" ng-model="vm.TreatmentMethod" format-date />
                                    
                                 </div>
                                 <label for="treatmentPerson" class="col-md-2 control-label">处理人:</label>
                                 <div class="col-md-4">
                                     <div class="input-group">
                                         <input name="treatmentPerson" placeholder="必填" class="form-control" ng-model="vm. TreatmentPerson" format-date />
                                         <div class="error-messages" ng-messages="formDailyTreatmentManager.treatmentPerson.$error" ng-show="operate.showValidation">
                                             <small ng-message="required">处理人不能为空</small>
                                         </div>
                                         <div class="input-group-btn">
                                             <button class="btn btn-primary" style="margin-bottom:6px;" id="departmentTreatmentPerson"
                                                     data-title="公司职员"
                                                     data-template-url="@Url.Action("TreeSelectTpl", "CommonTpl")"
                                                     data-animation="am-flip-x" data-auto-close="1"
                                                     data-keyboard="false"
                                                     data-bs-popover>
                                                 <i class="fa fa-sitemap"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">

                                 <label for="remark" class="col-md-2 control-label">备注</label>
                                 <div class="col-md-10">
                                     <textarea name="remark" class="form-control" ng-model="vm.Remark" />
                                 </div>
                             </div>
                             <hr />
                             <div class="alert alert-info">
                                 <div class="row">
                                     <div class="col-md-2">
                                     </div>
                                     <div class="col-md-10">
                                         <button class="btn btn-primary " ng-click="operate.saveAll(formDailyTreatmentManager.$valid)"><i class="fa fa-save"></i>保存</button>
                                         <button class="btn btn-default" ng-click="operate.refresh()"><i class="fa fa-undo"></i>取消</button>
                                         <span yl-operatemsg-board></span>
                                     </div>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
   
    </div>

    <div class="panel-footer">

    </div>
</div>